<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_39_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{162,78}</string>
                <key>textureRect</key>
                <string>{{174,2},{162,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_39_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{160,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,74}</string>
                <key>textureRect</key>
                <string>{{338,2},{160,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_39_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{656,2},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_39_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{154,46}</string>
                <key>spriteSourceSize</key>
                <string>{154,54}</string>
                <key>textureRect</key>
                <string>{{500,2},{154,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_39_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{170,80}</string>
                <key>spriteSourceSize</key>
                <string>{170,86}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_39-uhd.png</string>
            <key>size</key>
            <string>{780,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3fb4f686f4a48cae7bdbcd2aaf640d:fe3104329291536c27fd4f4c1a6366af:25e03ee5427a733f81d6ce2a94ada4ad$</string>
            <key>textureFileName</key>
            <string>icons/bird_39-uhd.png</string>
        </dict>
    </dict>
</plist>
