<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_64_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{158,84}</string>
                <key>spriteSourceSize</key>
                <string>{158,96}</string>
                <key>textureRect</key>
                <string>{{95,1},{158,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_64_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{150,76}</string>
                <key>spriteSourceSize</key>
                <string>{150,84}</string>
                <key>textureRect</key>
                <string>{{95,87},{150,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_64_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{173,87},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_64_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1,169},{53,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_64_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_64-uhd.png</string>
            <key>size</key>
            <string>{254,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58717227548e1df6bed4896b03128a2e:dbc1735148c5a6a0982ca25d35fb3972:1f6f954cf35c268f0df3132d243adbd5$</string>
            <key>textureFileName</key>
            <string>icons/bird_64-uhd.png</string>
        </dict>
    </dict>
</plist>
