<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_125_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,102}</string>
                <key>textureRect</key>
                <string>{{1,97},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_125_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,58}</string>
                <key>spriteSourceSize</key>
                <string>{130,58}</string>
                <key>textureRect</key>
                <string>{{1,185},{130,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_125_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61}</string>
                <key>spriteSize</key>
                <string>{116,74}</string>
                <key>spriteSourceSize</key>
                <string>{116,196}</string>
                <key>textureRect</key>
                <string>{{149,1},{116,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_125_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,92}</string>
                <key>textureRect</key>
                <string>{{141,119},{124,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_125_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{146,94}</string>
                <key>spriteSourceSize</key>
                <string>{146,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_125-uhd.png</string>
            <key>size</key>
            <string>{224,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a112b9f5a0d8fe4d47e8ccbeb769a5e:6520aeefd476780036f6a47b4e994091:2c8267c42139a7abff45a682c78869ae$</string>
            <key>textureFileName</key>
            <string>icons/bird_125-uhd.png</string>
        </dict>
    </dict>
</plist>
