<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_148_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{156,78}</string>
                <key>spriteSourceSize</key>
                <string>{156,90}</string>
                <key>textureRect</key>
                <string>{{167,1},{156,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,82}</string>
                <key>textureRect</key>
                <string>{{325,1},{148,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{623,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{146,38}</string>
                <key>spriteSourceSize</key>
                <string>{146,80}</string>
                <key>textureRect</key>
                <string>{{475,1},{146,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_148_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{164,86}</string>
                <key>spriteSourceSize</key>
                <string>{164,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_148-uhd.png</string>
            <key>size</key>
            <string>{746,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d578652a221379db582fde9f67fd2e6:d572730c8a0c81e6eaeb3ce5af90c173:ea893413a0ede062aea7fb22a9bee95e$</string>
            <key>textureFileName</key>
            <string>icons/bird_148-uhd.png</string>
        </dict>
    </dict>
</plist>
