<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_26_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{2,88},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_26_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{114,62}</string>
                <key>spriteSourceSize</key>
                <string>{114,86}</string>
                <key>textureRect</key>
                <string>{{142,2},{114,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_26_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{134,118},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_26_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{2,172},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_26_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{138,84}</string>
                <key>spriteSourceSize</key>
                <string>{138,88}</string>
                <key>textureRect</key>
                <string>{{2,2},{138,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_26-uhd.png</string>
            <key>size</key>
            <string>{214,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f34b915265f0aa87677ae569fc21871:2d1132dc63f14e3f8903f2d384bee5e3:7310c8a7a322ebda681819d02985346e$</string>
            <key>textureFileName</key>
            <string>icons/bird_26-uhd.png</string>
        </dict>
    </dict>
</plist>
