<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_89_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{160,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{251,1},{160,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_89_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{152,100}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{413,1},{152,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_89_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{171,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_89_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{567,1},{72,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_89_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{168,122}</string>
                <key>spriteSourceSize</key>
                <string>{168,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_89-uhd.png</string>
            <key>size</key>
            <string>{618,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f0996c8bd1e3e696b5097c962f9edf:43f977f17523d0ea2e21bfb62127763d:4c8a7a6d99a5b119ee39e0adb4455d23$</string>
            <key>textureFileName</key>
            <string>icons/bird_89-uhd.png</string>
        </dict>
    </dict>
</plist>
