<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{146,76}</string>
                <key>spriteSourceSize</key>
                <string>{146,88}</string>
                <key>textureRect</key>
                <string>{{157,1},{146,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,80}</string>
                <key>textureRect</key>
                <string>{{305,1},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{583,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{136,78}</string>
                <key>textureRect</key>
                <string>{{445,1},{136,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{154,84}</string>
                <key>spriteSourceSize</key>
                <string>{154,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_112-uhd.png</string>
            <key>size</key>
            <string>{706,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f168df0a709a9f97d7b76d868ed110d:d0dd4d5585bd7a754567646f0c6dfc8e:b469cb309459fb5d0699e54806de0db1$</string>
            <key>textureFileName</key>
            <string>icons/bird_112-uhd.png</string>
        </dict>
    </dict>
</plist>
