<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_120_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,74}</string>
                <key>textureRect</key>
                <string>{{85,1},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_120_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{114,42}</string>
                <key>spriteSourceSize</key>
                <string>{114,68}</string>
                <key>textureRect</key>
                <string>{{1,139},{114,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_120_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,63}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,196}</string>
                <key>textureRect</key>
                <string>{{117,77},{100,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_120_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{108,8}</string>
                <key>spriteSourceSize</key>
                <string>{108,46}</string>
                <key>textureRect</key>
                <string>{{189,77},{108,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_120_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,82}</string>
                <key>spriteSourceSize</key>
                <string>{136,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_120-uhd.png</string>
            <key>size</key>
            <string>{214,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0bf23ab7906cda829a77c5b309a199a:2f3ea9fa015767238945877b1cd7f611:c55013cc739e1a912014adf3402d75db$</string>
            <key>textureFileName</key>
            <string>icons/bird_120-uhd.png</string>
        </dict>
    </dict>
</plist>
