<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_149_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{166,72}</string>
                <key>spriteSourceSize</key>
                <string>{166,78}</string>
                <key>textureRect</key>
                <string>{{2,84},{166,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_149_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{158,52}</string>
                <key>spriteSourceSize</key>
                <string>{158,54}</string>
                <key>textureRect</key>
                <string>{{2,158},{158,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_149_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{170,84},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_149_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{151,20}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{2,212},{151,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_149_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{172,80}</string>
                <key>spriteSourceSize</key>
                <string>{172,86}</string>
                <key>textureRect</key>
                <string>{{2,2},{172,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_149-uhd.png</string>
            <key>size</key>
            <string>{250,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c59ab52648646e8e066623ca5bc458d:e1211fa956c1f59946770f6a1d4ed3a3:6429c932b6976fee7db9501b328c2f0f$</string>
            <key>textureFileName</key>
            <string>icons/bird_149-uhd.png</string>
        </dict>
    </dict>
</plist>
