<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,78}</string>
                <key>textureRect</key>
                <string>{{86,2},{148,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_19_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{144,60}</string>
                <key>spriteSourceSize</key>
                <string>{144,74}</string>
                <key>textureRect</key>
                <string>{{86,76},{144,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_19_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{86,138},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_19_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{156,82}</string>
                <key>spriteSourceSize</key>
                <string>{156,86}</string>
                <key>textureRect</key>
                <string>{{2,2},{156,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_19-uhd.png</string>
            <key>size</key>
            <string>{236,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:932e9f71e832d13289076bc426295847:8e916e795899f5a98fbd3da13d4d8424:30eb9bfab39052a25883a9a0f43fd6cb$</string>
            <key>textureFileName</key>
            <string>icons/bird_19-uhd.png</string>
        </dict>
    </dict>
</plist>
