<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_83_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{146,76}</string>
                <key>spriteSourceSize</key>
                <string>{146,88}</string>
                <key>textureRect</key>
                <string>{{1,87},{146,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_83_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,82}</string>
                <key>textureRect</key>
                <string>{{1,165},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_83_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{149,124},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_83_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{129,72}</string>
                <key>textureRect</key>
                <string>{{157,1},{121,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_83_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{154,84}</string>
                <key>spriteSourceSize</key>
                <string>{154,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_83-uhd.png</string>
            <key>size</key>
            <string>{228,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac527a9430ada7bba8c093525088dba:3eb7d32713ed187feb35d1bcd457e411:922904f48904d5c1e2e86e6388a5a3d5$</string>
            <key>textureFileName</key>
            <string>icons/bird_83-uhd.png</string>
        </dict>
    </dict>
</plist>
