<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_47_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{150,76}</string>
                <key>spriteSourceSize</key>
                <string>{150,88}</string>
                <key>textureRect</key>
                <string>{{88,2},{150,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_47_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,86}</string>
                <key>textureRect</key>
                <string>{{88,80},{148,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_47_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{88,156},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_47_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{66,6}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{2,162},{66,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_47_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{158,84}</string>
                <key>spriteSourceSize</key>
                <string>{158,96}</string>
                <key>textureRect</key>
                <string>{{2,2},{158,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_47-uhd.png</string>
            <key>size</key>
            <string>{240,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea1c8686d80ff09bee5c9ad19321db1:22e7e870a043eb6a5693da98235532c8:ab392247b6a7cce5cea17f836d940198$</string>
            <key>textureFileName</key>
            <string>icons/bird_47-uhd.png</string>
        </dict>
    </dict>
</plist>
