<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_128_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{158,70}</string>
                <key>spriteSourceSize</key>
                <string>{176,72}</string>
                <key>textureRect</key>
                <string>{{81,1},{158,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_128_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{152,64}</string>
                <key>spriteSourceSize</key>
                <string>{170,64}</string>
                <key>textureRect</key>
                <string>{{81,73},{152,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_128_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{113,139},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_128_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{112,60}</string>
                <key>textureRect</key>
                <string>{{1,169},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_128_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{166,78}</string>
                <key>spriteSourceSize</key>
                <string>{184,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_128-uhd.png</string>
            <key>size</key>
            <string>{240,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0397dff9beb029c8122661a1dd6056cc:0a6ca43dccf20044fcd5fd3a4e02a28d:8ac0e8a5864da6ec20fc252ad75ba31b$</string>
            <key>textureFileName</key>
            <string>icons/bird_128-uhd.png</string>
        </dict>
    </dict>
</plist>
