<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{180,72}</string>
                <key>spriteSourceSize</key>
                <string>{180,76}</string>
                <key>textureRect</key>
                <string>{{144,2},{180,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_22_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{108,34}</string>
                <key>spriteSourceSize</key>
                <string>{108,54}</string>
                <key>textureRect</key>
                <string>{{82,84},{108,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_22_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{2,84},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_22_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{118,184},{74,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_22_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,84}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_22-uhd.png</string>
            <key>size</key>
            <string>{218,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e532d5512157df434c7ccdd868f5262b:04a15cd4f1c17096824977177ce99c6b:0d4de05c09bf01e7acb7cd57e8c7ea4f$</string>
            <key>textureFileName</key>
            <string>icons/bird_22-uhd.png</string>
        </dict>
    </dict>
</plist>
