<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_71_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,78}</string>
                <key>textureRect</key>
                <string>{{83,1},{148,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_71_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{142,72}</string>
                <key>textureRect</key>
                <string>{{104,151},{142,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_71_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{157,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_71_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,3}</string>
                <key>spriteSize</key>
                <string>{101,64}</string>
                <key>spriteSourceSize</key>
                <string>{139,70}</string>
                <key>textureRect</key>
                <string>{{1,159},{101,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_71_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_71-uhd.png</string>
            <key>size</key>
            <string>{247,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1982e14dd0a70e3d2735d42ce9329dfd:7590ec409938145e1120ea3983feb841:a6284fc5f5d719cb0c04157b64c2f801$</string>
            <key>textureFileName</key>
            <string>icons/bird_71-uhd.png</string>
        </dict>
    </dict>
</plist>
