<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,70}</string>
                <key>spriteSourceSize</key>
                <string>{136,72}</string>
                <key>textureRect</key>
                <string>{{82,2},{136,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_23_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,60}</string>
                <key>textureRect</key>
                <string>{{96,140},{132,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_23_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{116,78}</string>
                <key>spriteSourceSize</key>
                <string>{116,196}</string>
                <key>textureRect</key>
                <string>{{154,2},{116,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_23_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{92,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,30}</string>
                <key>textureRect</key>
                <string>{{2,148},{92,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_23_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{144,78}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{2,2},{144,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_23-uhd.png</string>
            <key>size</key>
            <string>{234,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2a55681dbee11c4a243d152cc483fd2:d134de66369947ff523da2af3cae61ae:50a13a2f50eb2238f45de24ae0e4bb9d$</string>
            <key>textureFileName</key>
            <string>icons/bird_23-uhd.png</string>
        </dict>
    </dict>
</plist>
