<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_59_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{144,66}</string>
                <key>spriteSourceSize</key>
                <string>{144,68}</string>
                <key>textureRect</key>
                <string>{{235,1},{144,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_59_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,58}</string>
                <key>spriteSourceSize</key>
                <string>{138,60}</string>
                <key>textureRect</key>
                <string>{{235,69},{138,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_59_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_59_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{132,34}</string>
                <key>spriteSourceSize</key>
                <string>{132,58}</string>
                <key>textureRect</key>
                <string>{{81,77},{132,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_59_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{152,76}</string>
                <key>textureRect</key>
                <string>{{81,1},{152,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_59-uhd.png</string>
            <key>size</key>
            <string>{380,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f153d4a7d79847ea65b049e4984044d6:4a15d616d8c92a49f7e12f1bb5c935b1:d55f601cbbae1b866157da7fe2914df3$</string>
            <key>textureFileName</key>
            <string>icons/bird_59-uhd.png</string>
        </dict>
    </dict>
</plist>
