<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_92_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{159,90}</string>
                <key>spriteSourceSize</key>
                <string>{159,116}</string>
                <key>textureRect</key>
                <string>{{1,101},{159,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_92_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{152,82}</string>
                <key>spriteSourceSize</key>
                <string>{152,108}</string>
                <key>textureRect</key>
                <string>{{162,105},{152,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_92_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{102,192}</string>
                <key>textureRect</key>
                <string>{{169,1},{102,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_92_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{118,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,106}</string>
                <key>textureRect</key>
                <string>{{1,193},{118,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_92_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{166,98}</string>
                <key>spriteSourceSize</key>
                <string>{166,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_92-uhd.png</string>
            <key>size</key>
            <string>{245,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd5a12e9dd1b1f72d7f1de25645a4a7c:c44f335a91b8de2bb16ad3bc25923ca2:5325f0cb5bb26293a3b44b673a855608$</string>
            <key>textureFileName</key>
            <string>icons/bird_92-uhd.png</string>
        </dict>
    </dict>
</plist>
