<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,68}</string>
                <key>spriteSourceSize</key>
                <string>{156,68}</string>
                <key>textureRect</key>
                <string>{{262,2},{156,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{128,54}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{262,72},{128,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_27_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,52}</string>
                <key>spriteSize</key>
                <string>{122,92}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{168,2},{122,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_27_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{2,80},{82,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,76}</string>
                <key>spriteSourceSize</key>
                <string>{164,76}</string>
                <key>textureRect</key>
                <string>{{2,2},{164,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_27-uhd.png</string>
            <key>size</key>
            <string>{420,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf7806ab511dc36ad8b11c1bd9cb3378:28b18a2892102476573d233cecbc1e10:d73430aba3b0a6929fc91e11ca2d7e66$</string>
            <key>textureFileName</key>
            <string>icons/bird_27-uhd.png</string>
        </dict>
    </dict>
</plist>
