<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_80_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{141,90}</string>
                <key>spriteSourceSize</key>
                <string>{141,116}</string>
                <key>textureRect</key>
                <string>{{152,1},{141,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_80_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{134,84}</string>
                <key>spriteSourceSize</key>
                <string>{134,108}</string>
                <key>textureRect</key>
                <string>{{1,101},{134,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_80_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,196}</string>
                <key>textureRect</key>
                <string>{{137,144},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_80_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{114,54}</string>
                <key>textureRect</key>
                <string>{{1,187},{114,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_80_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{149,98}</string>
                <key>spriteSourceSize</key>
                <string>{149,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_80-uhd.png</string>
            <key>size</key>
            <string>{244,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146caead230e89b98dd0954bd06bc969:8f24d525ae5e6354d8409c002d8d8f4d:d64cb6b10d81064dac9bd87854352041$</string>
            <key>textureFileName</key>
            <string>icons/bird_80-uhd.png</string>
        </dict>
    </dict>
</plist>
