<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_123_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,72}</string>
                <key>spriteSourceSize</key>
                <string>{142,72}</string>
                <key>textureRect</key>
                <string>{{1,83},{142,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_123_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{110,66}</string>
                <key>textureRect</key>
                <string>{{145,134},{110,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_123_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,157},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_123_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{131,54}</string>
                <key>spriteSourceSize</key>
                <string>{133,54}</string>
                <key>textureRect</key>
                <string>{{153,1},{131,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_123_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_123-uhd.png</string>
            <key>size</key>
            <string>{208,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a50411e4ec387ea40928cd27808e38a:4b1f2a788d94612cbf6412cd90140ebc:432f6cf7480fa5ae2b72c3193970071a$</string>
            <key>textureFileName</key>
            <string>icons/bird_123-uhd.png</string>
        </dict>
    </dict>
</plist>
