<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_122_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{155,72}</string>
                <key>spriteSourceSize</key>
                <string>{155,78}</string>
                <key>textureRect</key>
                <string>{{1,83},{155,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_122_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{148,64}</string>
                <key>spriteSourceSize</key>
                <string>{148,72}</string>
                <key>textureRect</key>
                <string>{{1,157},{148,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_122_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{158,103},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_122_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,20}</string>
                <key>spriteSize</key>
                <string>{100,16}</string>
                <key>spriteSourceSize</key>
                <string>{114,56}</string>
                <key>textureRect</key>
                <string>{{167,1},{100,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_122_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{164,80}</string>
                <key>spriteSourceSize</key>
                <string>{164,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_122-uhd.png</string>
            <key>size</key>
            <string>{237,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8066a9109c6b2f1a23e59331833be06:eab832b04d9a4de895ed12e4942023eb:74abfea78270a53862a12c3bbdca67b3$</string>
            <key>textureFileName</key>
            <string>icons/bird_122-uhd.png</string>
        </dict>
    </dict>
</plist>
