<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_37_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,74}</string>
                <key>textureRect</key>
                <string>{{82,2},{148,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_37_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{146,68}</string>
                <key>spriteSourceSize</key>
                <string>{146,72}</string>
                <key>textureRect</key>
                <string>{{2,160},{146,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_37_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{82,74},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_37_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,64}</string>
                <key>textureRect</key>
                <string>{{206,74},{136,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_37_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{156,78}</string>
                <key>spriteSourceSize</key>
                <string>{156,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{156,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_37-uhd.png</string>
            <key>size</key>
            <string>{238,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e193573ec65c1ee5af6ec2b5e41495a8:4131b2927489c4d8434f4ce6415e4520:39f4a26032f1a6e6389a69010f6046a9$</string>
            <key>textureFileName</key>
            <string>icons/bird_37-uhd.png</string>
        </dict>
    </dict>
</plist>
