<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_57_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,106}</string>
                <key>textureRect</key>
                <string>{{143,1},{132,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_57_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,98}</string>
                <key>textureRect</key>
                <string>{{125,135},{124,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_57_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,95},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_57_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{1,175},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_57_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{140,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_57-uhd.png</string>
            <key>size</key>
            <string>{250,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5054bd674bcd43e1120f369abc344163:40fa73be8105df5311374affc3585139:61299adef87fb87d35a808c1df97f8d2$</string>
            <key>textureFileName</key>
            <string>icons/bird_57-uhd.png</string>
        </dict>
    </dict>
</plist>
