<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_104_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,60}</string>
                <key>spriteSourceSize</key>
                <string>{134,60}</string>
                <key>textureRect</key>
                <string>{{1,71},{134,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_104_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,54}</string>
                <key>spriteSourceSize</key>
                <string>{126,54}</string>
                <key>textureRect</key>
                <string>{{63,71},{126,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_104_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{63,127},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_104_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,22}</string>
                <key>spriteSize</key>
                <string>{26,8}</string>
                <key>spriteSourceSize</key>
                <string>{124,52}</string>
                <key>textureRect</key>
                <string>{{145,1},{26,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_104_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_104-uhd.png</string>
            <key>size</key>
            <string>{190,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6fdcb95265da4d9a2f73dfce98cc3ce:2da175033bfde6f88e6d8d82dcef4760:81e20457cb83a786938e3fd533359a8a$</string>
            <key>textureFileName</key>
            <string>icons/bird_104-uhd.png</string>
        </dict>
    </dict>
</plist>
