<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_65_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,80}</string>
                <key>textureRect</key>
                <string>{{159,1},{148,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_65_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{142,72}</string>
                <key>textureRect</key>
                <string>{{1,83},{142,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_65_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,151},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_65_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{114,34}</string>
                <key>spriteSourceSize</key>
                <string>{114,54}</string>
                <key>textureRect</key>
                <string>{{125,151},{114,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_65_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_65-uhd.png</string>
            <key>size</key>
            <string>{240,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36acacc07f4e54c9c794cdf2688aa6d8:a15430087dddb604f254a9432a465a19:4a58f786ec62c5ba7b2886009b312728$</string>
            <key>textureFileName</key>
            <string>icons/bird_65-uhd.png</string>
        </dict>
    </dict>
</plist>
