<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_78_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{1,103},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_78_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{170,80}</string>
                <key>spriteSourceSize</key>
                <string>{170,104}</string>
                <key>textureRect</key>
                <string>{{1,197},{170,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_78_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{173,197},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_78_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{167,56}</string>
                <key>spriteSourceSize</key>
                <string>{167,90}</string>
                <key>textureRect</key>
                <string>{{195,1},{167,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_78_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_78-uhd.png</string>
            <key>size</key>
            <string>{252,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93dab9138f9805f8adf77414086dbab:708a78c43d8d6c485f727313c2bf686c:c35f87caa83c83be3f0b301fd34f4841$</string>
            <key>textureFileName</key>
            <string>icons/bird_78-uhd.png</string>
        </dict>
    </dict>
</plist>
