<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_108_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,25}</string>
                <key>spriteSize</key>
                <string>{158,112}</string>
                <key>spriteSourceSize</key>
                <string>{170,162}</string>
                <key>textureRect</key>
                <string>{{169,1},{158,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_108_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{132,50}</string>
                <key>textureRect</key>
                <string>{{329,1},{130,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_108_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,54}</string>
                <key>spriteSize</key>
                <string>{122,88}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{461,1},{122,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_108_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,45}</string>
                <key>spriteSize</key>
                <string>{122,60}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{329,53},{122,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_108_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,25}</string>
                <key>spriteSize</key>
                <string>{166,120}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_108-uhd.png</string>
            <key>size</key>
            <string>{584,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94dc6968404000521534d155aee73d81:697833d998eaf336524dcf3c70b25136:da1671eb2c5162660b2f27d308b3e13c$</string>
            <key>textureFileName</key>
            <string>icons/bird_108-uhd.png</string>
        </dict>
    </dict>
</plist>
