<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_67_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{150,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,134}</string>
                <key>textureRect</key>
                <string>{{1,113},{150,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_67_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{142,80}</string>
                <key>spriteSourceSize</key>
                <string>{142,124}</string>
                <key>textureRect</key>
                <string>{{1,217},{142,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_67_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,299},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_67_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{140,20}</string>
                <key>spriteSourceSize</key>
                <string>{140,122}</string>
                <key>textureRect</key>
                <string>{{1,379},{140,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_67_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{158,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_67-uhd.png</string>
            <key>size</key>
            <string>{160,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97fba0725419e9d62c812d7663979e0:868f7192c7ad487361fd97857f496d7e:d1f674e0a4f442b966237bb614cc41fe$</string>
            <key>textureFileName</key>
            <string>icons/bird_67-uhd.png</string>
        </dict>
    </dict>
</plist>
