<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{140,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{48,76},{140,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_12_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{132,44}</string>
                <key>spriteSourceSize</key>
                <string>{132,48}</string>
                <key>textureRect</key>
                <string>{{2,76},{132,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_12_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,194}</string>
                <key>textureRect</key>
                <string>{{2,2},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_12_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,84}</string>
                <key>textureRect</key>
                <string>{{2,218},{148,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_12-uhd.png</string>
            <key>size</key>
            <string>{116,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7879c16dc0e5001eab0829bae986c2:b8934ec055f8266a7807d5a8572efe0a:e6026ae97bfe38cdcd6c94874355d180$</string>
            <key>textureFileName</key>
            <string>icons/bird_12-uhd.png</string>
        </dict>
    </dict>
</plist>
