<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_76_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{198,94}</string>
                <key>spriteSourceSize</key>
                <string>{198,126}</string>
                <key>textureRect</key>
                <string>{{1,81},{198,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{190,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,120}</string>
                <key>textureRect</key>
                <string>{{258,1},{190,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{134,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{131,62}</string>
                <key>spriteSourceSize</key>
                <string>{131,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_76_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{206,102}</string>
                <key>spriteSourceSize</key>
                <string>{206,134}</string>
                <key>textureRect</key>
                <string>{{201,89},{206,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_76-uhd.png</string>
            <key>size</key>
            <string>{449,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501beb9e55e42a128ea7f70afc0913f2:4657a754db23327517ab5f67d3bbcaa0:b064f2146974d077d6b972c70632b2b5$</string>
            <key>textureFileName</key>
            <string>icons/bird_76-uhd.png</string>
        </dict>
    </dict>
</plist>
