<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_58_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{154,72}</string>
                <key>spriteSourceSize</key>
                <string>{154,76}</string>
                <key>textureRect</key>
                <string>{{1,83},{154,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_58_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{138,64}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{165,1},{138,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_58_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{75,83},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_58_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{136,28}</string>
                <key>spriteSourceSize</key>
                <string>{136,62}</string>
                <key>textureRect</key>
                <string>{{75,207},{136,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_58_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{162,80}</string>
                <key>spriteSourceSize</key>
                <string>{162,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_58-uhd.png</string>
            <key>size</key>
            <string>{230,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5aced0da418b12b320efcf656f57c01:3882984a9fb2b7a51ac9e1acd0779e3e:44ee54defcafc428b63fa5e08bd387b9$</string>
            <key>textureFileName</key>
            <string>icons/bird_58-uhd.png</string>
        </dict>
    </dict>
</plist>
