<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_134_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{1,85},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_134_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{116,68}</string>
                <key>spriteSourceSize</key>
                <string>{122,78}</string>
                <key>textureRect</key>
                <string>{{139,1},{116,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_134_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{112,72}</string>
                <key>spriteSourceSize</key>
                <string>{112,196}</string>
                <key>textureRect</key>
                <string>{{139,71},{112,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_134_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{120,34}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{131,145},{120,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_134_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{136,82}</string>
                <key>spriteSourceSize</key>
                <string>{136,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_134-uhd.png</string>
            <key>size</key>
            <string>{256,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb61add82b723faad042cde630cdac70:effc00b2b3b3c22966dd49313e2a2c80:1040c4286143bcd5e8137985f55527d9$</string>
            <key>textureFileName</key>
            <string>icons/bird_134-uhd.png</string>
        </dict>
    </dict>
</plist>
