<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_66_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,70}</string>
                <key>textureRect</key>
                <string>{{1,79},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_66_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,66}</string>
                <key>textureRect</key>
                <string>{{1,149},{150,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_66_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{167,79},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_66_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{175,1},{33,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_66_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{172,76}</string>
                <key>spriteSourceSize</key>
                <string>{172,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_66-uhd.png</string>
            <key>size</key>
            <string>{246,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2089fbecaa002d28daedabd7d4bfaf0a:3136c5201dfac4fc52a8c395be7f107e:a0b583d053b32778a3b4324dae8786a9$</string>
            <key>textureFileName</key>
            <string>icons/bird_66-uhd.png</string>
        </dict>
    </dict>
</plist>
