<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_107_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{144,76}</string>
                <key>textureRect</key>
                <string>{{83,1},{144,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_107_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{120,48}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{1,155},{120,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_107_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{157,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_107_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{130,54}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{123,147},{130,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_107_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_107-uhd.png</string>
            <key>size</key>
            <string>{254,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b18da2bdd88bb017d87acea5e39c0b8a:33d9a55fa6c9b2115559054d8d4d12ce:974eb490d2d0172f55fc3c58f05c31e5$</string>
            <key>textureFileName</key>
            <string>icons/bird_107-uhd.png</string>
        </dict>
    </dict>
</plist>
