<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,66}</string>
                <key>spriteSourceSize</key>
                <string>{157,66}</string>
                <key>textureRect</key>
                <string>{{2,78},{157,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,60}</string>
                <key>spriteSourceSize</key>
                <string>{134,60}</string>
                <key>textureRect</key>
                <string>{{70,78},{134,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_04_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{123,78}</string>
                <key>spriteSourceSize</key>
                <string>{123,196}</string>
                <key>textureRect</key>
                <string>{{70,140},{123,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,74}</string>
                <key>spriteSourceSize</key>
                <string>{165,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{165,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_04-uhd.png</string>
            <key>size</key>
            <string>{206,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ec2b76374213a9d3c5818ddfbd5dc7:3e5891fdd324e85e7a8d00a0ce5e2d1c:5440d0b6a708054484bc15d7eaa2653f$</string>
            <key>textureFileName</key>
            <string>icons/bird_04-uhd.png</string>
        </dict>
    </dict>
</plist>
