<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_38_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{2,74},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_38_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{116,48}</string>
                <key>spriteSourceSize</key>
                <string>{116,56}</string>
                <key>textureRect</key>
                <string>{{2,138},{116,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_38_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{52,138},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_38_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{142,26}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{52,218},{142,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_38_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,70}</string>
                <key>textureRect</key>
                <string>{{2,2},{164,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_38-uhd.png</string>
            <key>size</key>
            <string>{196,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aeda136af7a55f637fd601609898c5d:251b2d8b560d553832f1fde5c0491eec:0d343a887163828ab7110282646323ab$</string>
            <key>textureFileName</key>
            <string>icons/bird_38-uhd.png</string>
        </dict>
    </dict>
</plist>
