<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_121_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{1,143},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_121_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{132,60}</string>
                <key>spriteSourceSize</key>
                <string>{132,70}</string>
                <key>textureRect</key>
                <string>{{1,81},{132,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_121_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{133,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_121_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{130,58}</string>
                <key>spriteSourceSize</key>
                <string>{130,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_121_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,82}</string>
                <key>spriteSourceSize</key>
                <string>{148,84}</string>
                <key>textureRect</key>
                <string>{{143,81},{148,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_121-uhd.png</string>
            <key>size</key>
            <string>{256,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6aa58d441071387a537d3dd78ab300d:c4be8ec8c0032889c4632dd233a702a5:ee020440ae1d4dab7aa8d27519db5ad7$</string>
            <key>textureFileName</key>
            <string>icons/bird_121-uhd.png</string>
        </dict>
    </dict>
</plist>
