<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_63_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,134}</string>
                <key>textureRect</key>
                <string>{{111,1},{144,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_63_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{134,92}</string>
                <key>spriteSourceSize</key>
                <string>{134,126}</string>
                <key>textureRect</key>
                <string>{{111,103},{134,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_63_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{1,155},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_63_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{126,30}</string>
                <key>spriteSourceSize</key>
                <string>{126,54}</string>
                <key>textureRect</key>
                <string>{{111,197},{126,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_63_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{152,108}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_63-uhd.png</string>
            <key>size</key>
            <string>{256,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4308f0f8e7be3a809fdc8da489f5101d:02914e3cd02b2d48f264b2b5a4418b57:ee1878fe14d571978da3e20093f64596$</string>
            <key>textureFileName</key>
            <string>icons/bird_63-uhd.png</string>
        </dict>
    </dict>
</plist>
