<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_129_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,76}</string>
                <key>textureRect</key>
                <string>{{149,1},{138,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_129_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,68}</string>
                <key>spriteSourceSize</key>
                <string>{132,68}</string>
                <key>textureRect</key>
                <string>{{111,141},{132,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_129_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,85},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_129_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{126,28}</string>
                <key>spriteSourceSize</key>
                <string>{126,66}</string>
                <key>textureRect</key>
                <string>{{81,85},{126,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_129_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{146,82}</string>
                <key>spriteSourceSize</key>
                <string>{146,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_129-uhd.png</string>
            <key>size</key>
            <string>{244,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a35d281f0be7f9c8e5a9c0687fe4a5:1ee61fa9b9121769db6a10e98b18e84c:2f1f1b8d86d3b1e0903403b08b35d977$</string>
            <key>textureFileName</key>
            <string>icons/bird_129-uhd.png</string>
        </dict>
    </dict>
</plist>
