<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_42_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,82}</string>
                <key>textureRect</key>
                <string>{{160,2},{148,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{146,72}</string>
                <key>spriteSourceSize</key>
                <string>{146,80}</string>
                <key>textureRect</key>
                <string>{{310,2},{146,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{598,2},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{138,48}</string>
                <key>spriteSourceSize</key>
                <string>{138,70}</string>
                <key>textureRect</key>
                <string>{{458,2},{138,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_42_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{156,82}</string>
                <key>spriteSourceSize</key>
                <string>{156,90}</string>
                <key>textureRect</key>
                <string>{{2,2},{156,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_42-uhd.png</string>
            <key>size</key>
            <string>{722,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7157e1686988b062a5f2df94142375fd:0e42d3f6098e7f86946571a26260320a:a1c09e4d3e03e70870a79fc33aeeacd1$</string>
            <key>textureFileName</key>
            <string>icons/bird_42-uhd.png</string>
        </dict>
    </dict>
</plist>
