<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_75_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,68}</string>
                <key>textureRect</key>
                <string>{{1,79},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_75_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,62}</string>
                <key>spriteSourceSize</key>
                <string>{158,62}</string>
                <key>textureRect</key>
                <string>{{1,149},{158,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_75_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,198}</string>
                <key>textureRect</key>
                <string>{{167,79},{124,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_75_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,6}</string>
                <key>spriteSize</key>
                <string>{75,34}</string>
                <key>spriteSourceSize</key>
                <string>{131,46}</string>
                <key>textureRect</key>
                <string>{{175,1},{75,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_75_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,76}</string>
                <key>spriteSourceSize</key>
                <string>{172,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_75-uhd.png</string>
            <key>size</key>
            <string>{248,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98fd62ad03db0a12d053fe04121f883:4bddc6db876d6905f707d8e7a3d378c4:16108682b1fe70578cf0a5230eaca056$</string>
            <key>textureFileName</key>
            <string>icons/bird_75-uhd.png</string>
        </dict>
    </dict>
</plist>
