<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_87_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{152,86}</string>
                <key>spriteSourceSize</key>
                <string>{152,108}</string>
                <key>textureRect</key>
                <string>{{163,1},{152,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_87_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{146,80}</string>
                <key>spriteSourceSize</key>
                <string>{146,102}</string>
                <key>textureRect</key>
                <string>{{1,97},{146,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_87_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{83,97},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_87_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{163,155},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_87_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{160,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_87-uhd.png</string>
            <key>size</key>
            <string>{250,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:139f4ff10613eeaaa1cde5da038f1961:0d634df95e843b7349f6e86ac39674ff:bdea980c73e8a2fe6a4398fc87784880$</string>
            <key>textureFileName</key>
            <string>icons/bird_87-uhd.png</string>
        </dict>
    </dict>
</plist>
