<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_44_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,64}</string>
                <key>spriteSourceSize</key>
                <string>{156,64}</string>
                <key>textureRect</key>
                <string>{{2,76},{156,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_44_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,62}</string>
                <key>spriteSourceSize</key>
                <string>{154,62}</string>
                <key>textureRect</key>
                <string>{{168,2},{154,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_44_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{68,76},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_44_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{144,54}</string>
                <key>textureRect</key>
                <string>{{68,200},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_44_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,72}</string>
                <key>textureRect</key>
                <string>{{2,2},{164,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_44-uhd.png</string>
            <key>size</key>
            <string>{232,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc050a42ef37451f2afde302ff6cb4c1:06acc3d163919a7c8912285a1445474b:5d880cac7c0c16aa1ffe9d8c1a30d097$</string>
            <key>textureFileName</key>
            <string>icons/bird_44-uhd.png</string>
        </dict>
    </dict>
</plist>
