<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_45_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,78}</string>
                <key>textureRect</key>
                <string>{{86,2},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_45_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{158,72}</string>
                <key>spriteSourceSize</key>
                <string>{158,76}</string>
                <key>textureRect</key>
                <string>{{86,78},{158,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_45_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{90,152},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_45_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,3}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{152,58}</string>
                <key>textureRect</key>
                <string>{{2,172},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_45_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{168,82}</string>
                <key>spriteSourceSize</key>
                <string>{168,86}</string>
                <key>textureRect</key>
                <string>{{2,2},{168,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_45-uhd.png</string>
            <key>size</key>
            <string>{248,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865d3926f025d798613e2a7f90294b0f:02090e77e1352a3320287b7615ebc4be:ff302f31c13d10bf4591763480c67325$</string>
            <key>textureFileName</key>
            <string>icons/bird_45-uhd.png</string>
        </dict>
    </dict>
</plist>
