<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_143_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{136,68}</string>
                <key>spriteSourceSize</key>
                <string>{136,72}</string>
                <key>textureRect</key>
                <string>{{1,155},{136,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_143_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{1,93},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_143_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{129,1},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_143_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{126,58}</string>
                <key>spriteSourceSize</key>
                <string>{126,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_143_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{144,76}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{139,93},{144,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_143-uhd.png</string>
            <key>size</key>
            <string>{252,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8642d832672a3f0122c5d5c92fdc3d4b:874e6d1ab723ea16d15324953b975c99:6fb1b6a43df8e9f63d1603b9701bf68f$</string>
            <key>textureFileName</key>
            <string>icons/bird_143-uhd.png</string>
        </dict>
    </dict>
</plist>
