<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_109_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{134,86}</string>
                <key>spriteSourceSize</key>
                <string>{134,108}</string>
                <key>textureRect</key>
                <string>{{145,1},{134,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_109_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{128,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,72}</string>
                <key>textureRect</key>
                <string>{{281,1},{128,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_109_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61}</string>
                <key>spriteSize</key>
                <string>{116,74}</string>
                <key>spriteSourceSize</key>
                <string>{116,196}</string>
                <key>textureRect</key>
                <string>{{411,1},{116,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_109_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{126,34}</string>
                <key>spriteSourceSize</key>
                <string>{126,70}</string>
                <key>textureRect</key>
                <string>{{281,69},{126,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_109_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_109-uhd.png</string>
            <key>size</key>
            <string>{486,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273a9ea07888b66c8c83a4fadebf4a59:9aeadc45c8763916c3f5ececc254df34:2d2ac295b70761fc3588d2af14a0b2bf$</string>
            <key>textureFileName</key>
            <string>icons/bird_109-uhd.png</string>
        </dict>
    </dict>
</plist>
