<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_115_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{85,1},{138,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_115_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{130,80}</string>
                <key>textureRect</key>
                <string>{{119,141},{130,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_115_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{161,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_115_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{116,48}</string>
                <key>spriteSourceSize</key>
                <string>{116,78}</string>
                <key>textureRect</key>
                <string>{{1,149},{116,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_115_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{146,82}</string>
                <key>spriteSourceSize</key>
                <string>{146,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_115-uhd.png</string>
            <key>size</key>
            <string>{250,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77737ad30cb15bffba3956bec65fc36b:1a454bb03ea9b2bdb172f529fe02a8b9:ffdb777a2e13d7604bacb6fe7f82e06f$</string>
            <key>textureFileName</key>
            <string>icons/bird_115-uhd.png</string>
        </dict>
    </dict>
</plist>
