<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_130_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,80}</string>
                <key>textureRect</key>
                <string>{{1,81},{148,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_130_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{138,64}</string>
                <key>spriteSourceSize</key>
                <string>{138,72}</string>
                <key>textureRect</key>
                <string>{{159,1},{138,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_130_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{73,81},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_130_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{140,26}</string>
                <key>spriteSourceSize</key>
                <string>{140,72}</string>
                <key>textureRect</key>
                <string>{{73,205},{140,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_130_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{156,78}</string>
                <key>spriteSourceSize</key>
                <string>{156,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_130-uhd.png</string>
            <key>size</key>
            <string>{224,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a69551321d920e5bf6fd3476f907c180:a37a16399e43d8aa284a67a6632f9f81:fdb8f57a6644f3c8d2f4f94810647790$</string>
            <key>textureFileName</key>
            <string>icons/bird_130-uhd.png</string>
        </dict>
    </dict>
</plist>
