<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{154,114}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{260,2},{154,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_30_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{152,108}</string>
                <key>spriteSourceSize</key>
                <string>{152,148}</string>
                <key>textureRect</key>
                <string>{{474,2},{152,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_30_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{116,92}</string>
                <key>spriteSourceSize</key>
                <string>{116,198}</string>
                <key>textureRect</key>
                <string>{{166,2},{116,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_30_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,56}</string>
                <key>textureRect</key>
                <string>{{416,2},{112,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_30_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{162,166}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_30-uhd.png</string>
            <key>size</key>
            <string>{628,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ab051c14c3dece1b5e34d6f3492c1e:8f1892a5e7bc264e8036b156d62595b2:3f364e26f9a041f46f928441a605ddcf$</string>
            <key>textureFileName</key>
            <string>icons/bird_30-uhd.png</string>
        </dict>
    </dict>
</plist>
