<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{153,68}</string>
                <key>spriteSourceSize</key>
                <string>{153,70}</string>
                <key>textureRect</key>
                <string>{{80,2},{153,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_09_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{144,56}</string>
                <key>spriteSourceSize</key>
                <string>{144,58}</string>
                <key>textureRect</key>
                <string>{{80,72},{144,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_09_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,194}</string>
                <key>textureRect</key>
                <string>{{80,130},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_09_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{161,76}</string>
                <key>spriteSourceSize</key>
                <string>{161,78}</string>
                <key>textureRect</key>
                <string>{{2,2},{161,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_09-uhd.png</string>
            <key>size</key>
            <string>{235,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24889a96c1a17389b39da026819a444f:db7c304def65633201e42035241a2eb5:8634d745857c4ac136f3a5621292f833$</string>
            <key>textureFileName</key>
            <string>icons/bird_09-uhd.png</string>
        </dict>
    </dict>
</plist>
