<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{144,84}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{2,96},{144,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,68}</string>
                <key>textureRect</key>
                <string>{{156,2},{112,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_32_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{116,92}</string>
                <key>spriteSourceSize</key>
                <string>{116,198}</string>
                <key>textureRect</key>
                <string>{{148,116},{116,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,88}</string>
                <key>textureRect</key>
                <string>{{2,182},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{152,92}</string>
                <key>spriteSourceSize</key>
                <string>{152,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_32-uhd.png</string>
            <key>size</key>
            <string>{242,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5e6136aae00427ba20c3658f2258dea:aa7d32560e43a13532db54700e485229:7c285e690caa412244e6702a3ddfc54b$</string>
            <key>textureFileName</key>
            <string>icons/bird_32-uhd.png</string>
        </dict>
    </dict>
</plist>
