<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,62}</string>
                <key>spriteSourceSize</key>
                <string>{140,62}</string>
                <key>textureRect</key>
                <string>{{1,73},{140,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,38}</string>
                <key>spriteSourceSize</key>
                <string>{113,38}</string>
                <key>textureRect</key>
                <string>{{1,217},{113,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,137},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_60_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{118,12}</string>
                <key>spriteSourceSize</key>
                <string>{118,54}</string>
                <key>textureRect</key>
                <string>{{125,137},{118,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_60-uhd.png</string>
            <key>size</key>
            <string>{150,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d74c941b6052e2cf3d7e61efb197afc3:920cdf855ae5f85537ce11b79a25173c:235970906c5927e78b565efd0f1910cd$</string>
            <key>textureFileName</key>
            <string>icons/bird_60-uhd.png</string>
        </dict>
    </dict>
</plist>
