<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_147_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,66}</string>
                <key>spriteSourceSize</key>
                <string>{148,68}</string>
                <key>textureRect</key>
                <string>{{240,2},{148,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_147_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{138,52}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{240,70},{138,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_147_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{2,2},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_147_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,58}</string>
                <key>textureRect</key>
                <string>{{82,78},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_147_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,74}</string>
                <key>spriteSourceSize</key>
                <string>{156,76}</string>
                <key>textureRect</key>
                <string>{{82,2},{156,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_147-uhd.png</string>
            <key>size</key>
            <string>{390,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6adb049b9d148d32a73372429218732:267bbc43e0082bf7b0a45fd3eae8f916:529ba5546ce61fb004828f3d9aff7e0e$</string>
            <key>textureFileName</key>
            <string>icons/bird_147-uhd.png</string>
        </dict>
    </dict>
</plist>
