<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{164,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,76}</string>
                <key>textureRect</key>
                <string>{{175,1},{164,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,56}</string>
                <key>spriteSourceSize</key>
                <string>{150,58}</string>
                <key>textureRect</key>
                <string>{{341,1},{150,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_96_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{643,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,52}</string>
                <key>spriteSourceSize</key>
                <string>{148,52}</string>
                <key>textureRect</key>
                <string>{{493,1},{148,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{172,82}</string>
                <key>spriteSourceSize</key>
                <string>{172,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_96-uhd.png</string>
            <key>size</key>
            <string>{766,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f181a33b7d7547a2e63cbfc23d7e2743:370325545f837b635fd381dc67b62a55:30b745aa043d74a21ec38c0ab254200f$</string>
            <key>textureFileName</key>
            <string>icons/bird_96-uhd.png</string>
        </dict>
    </dict>
</plist>
