<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,88}</string>
                <key>textureRect</key>
                <string>{{88,2},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{144,84}</string>
                <key>textureRect</key>
                <string>{{88,80},{144,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_06_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{123,78}</string>
                <key>spriteSourceSize</key>
                <string>{123,196}</string>
                <key>textureRect</key>
                <string>{{88,154},{123,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{157,84}</string>
                <key>spriteSourceSize</key>
                <string>{157,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{157,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_06-uhd.png</string>
            <key>size</key>
            <string>{238,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e9fb6857874b78776db639dfb96430:0b014de86d2d25238fcef44b28abc6b3:69385c0600e43ffd50e65f785b7d13e5$</string>
            <key>textureFileName</key>
            <string>icons/bird_06-uhd.png</string>
        </dict>
    </dict>
</plist>
