<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_35_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,68}</string>
                <key>spriteSourceSize</key>
                <string>{140,68}</string>
                <key>textureRect</key>
                <string>{{232,2},{140,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_35_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{132,52}</string>
                <key>spriteSourceSize</key>
                <string>{132,56}</string>
                <key>textureRect</key>
                <string>{{232,72},{132,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_35_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{2,2},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_35_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{128,40}</string>
                <key>spriteSourceSize</key>
                <string>{128,48}</string>
                <key>textureRect</key>
                <string>{{82,80},{128,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_35_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,76}</string>
                <key>textureRect</key>
                <string>{{82,2},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_35-uhd.png</string>
            <key>size</key>
            <string>{374,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87120bde30cb342ff33409d01e6d9e4:b4c2ea416691eab9631fce8eb1ddb114:c3995cb847c66d42dc1ff8aa69ef7c28$</string>
            <key>textureFileName</key>
            <string>icons/bird_35-uhd.png</string>
        </dict>
    </dict>
</plist>
