<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_116_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{143,84}</string>
                <key>spriteSourceSize</key>
                <string>{143,102}</string>
                <key>textureRect</key>
                <string>{{154,1},{143,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_116_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{136,78}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{1,95},{136,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_116_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,175},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_116_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,52}</string>
                <key>textureRect</key>
                <string>{{139,146},{104,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_116_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{151,92}</string>
                <key>spriteSourceSize</key>
                <string>{151,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_116-uhd.png</string>
            <key>size</key>
            <string>{239,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa632916f4010ecae491e041108e65fe:b98fd77b301f2f7ae1e79748fc63a330:57e5f864434d0970c9b6a9ef7f9d9e39$</string>
            <key>textureFileName</key>
            <string>icons/bird_116-uhd.png</string>
        </dict>
    </dict>
</plist>
