<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,62}</string>
                <key>spriteSourceSize</key>
                <string>{150,62}</string>
                <key>textureRect</key>
                <string>{{2,58},{150,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{86,54}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{2,2},{86,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{154,2},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_36_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{118,54}</string>
                <key>textureRect</key>
                <string>{{90,2},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_36_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,70}</string>
                <key>spriteSourceSize</key>
                <string>{158,70}</string>
                <key>textureRect</key>
                <string>{{2,126},{158,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_36-uhd.png</string>
            <key>size</key>
            <string>{234,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74633c8b2f7505a87faa1e4e83f8318f:7d909efcded31d452bffcdd0d3fba35f:d2e13f664cf58385df3ffa8f32ddedad$</string>
            <key>textureFileName</key>
            <string>icons/bird_36-uhd.png</string>
        </dict>
    </dict>
</plist>
