<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_46_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,112}</string>
                <key>textureRect</key>
                <string>{{2,102},{166,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_46_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{164,88}</string>
                <key>spriteSourceSize</key>
                <string>{164,110}</string>
                <key>textureRect</key>
                <string>{{2,194},{164,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_46_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{170,160},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_46_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{156,64}</string>
                <key>spriteSourceSize</key>
                <string>{156,98}</string>
                <key>textureRect</key>
                <string>{{178,2},{156,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_46_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{174,98}</string>
                <key>spriteSourceSize</key>
                <string>{174,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{174,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_46-uhd.png</string>
            <key>size</key>
            <string>{250,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae1f34deaecf255eb86c30350304175:2a531d46aa6ed2ba4e60abd21f2a1a7a:fff6d219a6684dcec984e1cf028871c3$</string>
            <key>textureFileName</key>
            <string>icons/bird_46-uhd.png</string>
        </dict>
    </dict>
</plist>
