<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{154,2},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_07_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{136,52}</string>
                <key>spriteSourceSize</key>
                <string>{136,56}</string>
                <key>textureRect</key>
                <string>{{82,146},{136,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_07_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{123,78}</string>
                <key>spriteSourceSize</key>
                <string>{123,196}</string>
                <key>textureRect</key>
                <string>{{2,80},{123,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_07_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,76}</string>
                <key>spriteSourceSize</key>
                <string>{150,76}</string>
                <key>textureRect</key>
                <string>{{2,2},{150,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_07-uhd.png</string>
            <key>size</key>
            <string>{224,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36d8ae5907e1e88503faf15e466dd79:74f8f4cee2d99ef59caa7afaf5878740:d1790956af2b657c9878d49e5bc10c8b$</string>
            <key>textureFileName</key>
            <string>icons/bird_07-uhd.png</string>
        </dict>
    </dict>
</plist>
