<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_113_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{142,82}</string>
                <key>spriteSourceSize</key>
                <string>{142,96}</string>
                <key>textureRect</key>
                <string>{{153,1},{142,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_113_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,36}</string>
                <key>spriteSourceSize</key>
                <string>{112,36}</string>
                <key>textureRect</key>
                <string>{{399,1},{112,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_113_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,57}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,196}</string>
                <key>textureRect</key>
                <string>{{297,1},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_113_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,24}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,84}</string>
                <key>textureRect</key>
                <string>{{399,39},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_113_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{150,90}</string>
                <key>spriteSourceSize</key>
                <string>{150,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_113-uhd.png</string>
            <key>size</key>
            <string>{512,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f0dc382b003f6bd510b761431e8813:c3d51904df7d8df36fecb39455e83197:dd39a994673f295613afbc2125a2f6e5$</string>
            <key>textureFileName</key>
            <string>icons/bird_113-uhd.png</string>
        </dict>
    </dict>
</plist>
