<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_70_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{158,72}</string>
                <key>spriteSourceSize</key>
                <string>{158,74}</string>
                <key>textureRect</key>
                <string>{{1,149},{158,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,68}</string>
                <key>textureRect</key>
                <string>{{1,81},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{129,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{126,56}</string>
                <key>spriteSourceSize</key>
                <string>{126,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_70_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{166,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,82}</string>
                <key>textureRect</key>
                <string>{{161,81},{166,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_70-uhd.png</string>
            <key>size</key>
            <string>{252,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117bf44003a6f495d3d587a03165f7df:c3c703501ff690012e52cf1928c983b4:e824a9a5d8fa3639be65d64a6f9696ef$</string>
            <key>textureFileName</key>
            <string>icons/bird_70-uhd.png</string>
        </dict>
    </dict>
</plist>
