<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_135_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{156,84}</string>
                <key>spriteSourceSize</key>
                <string>{156,98}</string>
                <key>textureRect</key>
                <string>{{1,221},{156,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_135_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{138,78}</string>
                <key>spriteSourceSize</key>
                <string>{138,94}</string>
                <key>textureRect</key>
                <string>{{33,81},{138,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_135_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_135_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{134,30}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{1,81},{134,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_135_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,106}</string>
                <key>textureRect</key>
                <string>{{1,379},{166,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_135-uhd.png</string>
            <key>size</key>
            <string>{124,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e702e99353ab167b04dfdee409723494:93306dad1100e3d893c28fc0e0cba056:1fc86d5d9d6787e987cd9af14bb7dde6$</string>
            <key>textureFileName</key>
            <string>icons/bird_135-uhd.png</string>
        </dict>
    </dict>
</plist>
