<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_142_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{146,88}</string>
                <key>spriteSourceSize</key>
                <string>{146,110}</string>
                <key>textureRect</key>
                <string>{{1,101},{146,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_142_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,104}</string>
                <key>textureRect</key>
                <string>{{149,113},{138,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_142_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{110,198}</string>
                <key>textureRect</key>
                <string>{{157,1},{110,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_142_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{136,64}</string>
                <key>spriteSourceSize</key>
                <string>{136,102}</string>
                <key>textureRect</key>
                <string>{{1,191},{136,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_142_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{154,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_142-uhd.png</string>
            <key>size</key>
            <string>{232,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb0ef399ef5f6d69f4bc919ccf2dac2b:2a05a7f083e8bbfced8f71efcf3fb96b:3f597f7a468e7fb6da497cf88af1ff2d$</string>
            <key>textureFileName</key>
            <string>icons/bird_142-uhd.png</string>
        </dict>
    </dict>
</plist>
