<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,78}</string>
                <key>textureRect</key>
                <string>{{1,89},{112,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{64,169},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{81,52}</string>
                <key>textureRect</key>
                <string>{{1,169},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_96-uhd.png</string>
            <key>size</key>
            <string>{122,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c88196fe20bcc628e3d49d3ca2892d5:01579391f1a34344b36233e90bf72d61:9ecad1e1173e5df3212b67fc218abb7e$</string>
            <key>textureFileName</key>
            <string>icons/dart_96-uhd.png</string>
        </dict>
    </dict>
</plist>
