<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_94_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{126,68}</string>
                <key>textureRect</key>
                <string>{{1,99},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_94_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{118,60}</string>
                <key>textureRect</key>
                <string>{{1,37},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_94_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,12}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_94_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{116,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{1,169},{116,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_94-uhd.png</string>
            <key>size</key>
            <string>{118,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fdb7debed06e555b81041e803089aa9:eeb3a4dfe77090b397230bb051ba5faf:dbf52d9027295cf1679b9a976435ca7e$</string>
            <key>textureFileName</key>
            <string>icons/dart_94-uhd.png</string>
        </dict>
    </dict>
</plist>
