<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{102,70}</string>
                <key>spriteSourceSize</key>
                <string>{116,70}</string>
                <key>textureRect</key>
                <string>{{2,66},{102,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_22_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{108,62}</string>
                <key>textureRect</key>
                <string>{{2,2},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_22_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{110,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,78}</string>
                <key>textureRect</key>
                <string>{{2,138},{110,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_22-uhd.png</string>
            <key>size</key>
            <string>{114,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be86f4a04bf32c8afb06c6521f36dfd6:bef4ff8338e970c84b5aa22a754d1f8b:67cdaa3cb3c544b3cc7369f0fcdf0141$</string>
            <key>textureFileName</key>
            <string>icons/dart_22-uhd.png</string>
        </dict>
    </dict>
</plist>
