<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{2,46},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_09_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{102,42}</string>
                <key>textureRect</key>
                <string>{{2,2},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_09_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,90}</string>
                <key>spriteSourceSize</key>
                <string>{118,90}</string>
                <key>textureRect</key>
                <string>{{2,130},{116,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_09-uhd.png</string>
            <key>size</key>
            <string>{120,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea739557948b868b5d603745789e9034:24e59a4dfd1c53902681eb266db508c0:65baa76913e28276c190c69172cb723f$</string>
            <key>textureFileName</key>
            <string>icons/dart_09-uhd.png</string>
        </dict>
    </dict>
</plist>
