<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_91_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{124,68}</string>
                <key>spriteSourceSize</key>
                <string>{132,68}</string>
                <key>textureRect</key>
                <string>{{135,1},{124,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_91_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{116,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{1,79},{116,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_91_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{122,58}</string>
                <key>textureRect</key>
                <string>{{205,1},{114,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_91_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{132,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_91-uhd.png</string>
            <key>size</key>
            <string>{236,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8585e6bfb1f32b098c50ccf3fdac5a15:5d5645259ef98532443f93fb8144a04f:c0f52718986fd87f36e1a6542eca859f$</string>
            <key>textureFileName</key>
            <string>icons/dart_91-uhd.png</string>
        </dict>
    </dict>
</plist>
