<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{114,82}</string>
                <key>textureRect</key>
                <string>{{2,94},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_29_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{2,178},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_29_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{72,20}</string>
                <key>textureRect</key>
                <string>{{98,178},{48,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_29_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{116,90}</string>
                <key>spriteSourceSize</key>
                <string>{122,90}</string>
                <key>textureRect</key>
                <string>{{2,2},{116,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_29-uhd.png</string>
            <key>size</key>
            <string>{120,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8213322645309886153729f036cf1b8e:8363416e791b84c4ba5992eeb00f7302:8c0f7c099b955afc553e9b3702042daf$</string>
            <key>textureFileName</key>
            <string>icons/dart_29-uhd.png</string>
        </dict>
    </dict>
</plist>
