<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{2,108},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{2,206},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{122,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_08-uhd.png</string>
            <key>size</key>
            <string>{116,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8201e8b7a2e6144a39e9b6ad35db9028:a202b7fb9c2474ea94e94a6901575f0a:004172a31b8ea8764c9bb36355b04467$</string>
            <key>textureFileName</key>
            <string>icons/dart_08-uhd.png</string>
        </dict>
    </dict>
</plist>
