<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_46_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{154,70}</string>
                <key>textureRect</key>
                <string>{{161,1},{128,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_46_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{108,62}</string>
                <key>textureRect</key>
                <string>{{59,1},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_46_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_46_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{136,78}</string>
                <key>spriteSourceSize</key>
                <string>{162,78}</string>
                <key>textureRect</key>
                <string>{{1,65},{136,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_46-uhd.png</string>
            <key>size</key>
            <string>{232,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01c7116301a53072103b86c83c7327a4:da126bf548372336968c7bbec20ddd83:954892b920160603d6ea78733c9491c5$</string>
            <key>textureFileName</key>
            <string>icons/dart_46-uhd.png</string>
        </dict>
    </dict>
</plist>
