<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,80}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{2,92},{95,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{87,74}</string>
                <key>textureRect</key>
                <string>{{2,174},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{53,16}</string>
                <key>spriteSourceSize</key>
                <string>{63,16}</string>
                <key>textureRect</key>
                <string>{{91,174},{53,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{103,88}</string>
                <key>textureRect</key>
                <string>{{2,2},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_32-uhd.png</string>
            <key>size</key>
            <string>{109,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cf83274af7d3a84d19f62a347cf4ab:a7b7611c4d36d6d40855572735f44646:0d5fd9284da2366763f1ae809f465692$</string>
            <key>textureFileName</key>
            <string>icons/dart_32-uhd.png</string>
        </dict>
    </dict>
</plist>
