<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_42_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{102,72}</string>
                <key>textureRect</key>
                <string>{{83,1},{102,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_42_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,62}</string>
                <key>textureRect</key>
                <string>{{157,1},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_42_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{157,63},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_42_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_42-uhd.png</string>
            <key>size</key>
            <string>{246,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe3a23542317e4a8c3492ab870bc6f98:0992e2409e636223dff010f53c5fc0e1:61fd28792e646d5413888f02929466d1$</string>
            <key>textureFileName</key>
            <string>icons/dart_42-uhd.png</string>
        </dict>
    </dict>
</plist>
