<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_87_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{102,68}</string>
                <key>textureRect</key>
                <string>{{1,79},{102,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_87_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,60}</string>
                <key>textureRect</key>
                <string>{{1,149},{92,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_87_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{63,149},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_87_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_87-uhd.png</string>
            <key>size</key>
            <string>{114,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d32b96bdd14aabcb8c3aa0b16b902df:f2a5373ac7fe17ae196a79c0beba56d6:e983186c2d676cac8dcc7f50aa0e38cc$</string>
            <key>textureFileName</key>
            <string>icons/dart_87-uhd.png</string>
        </dict>
    </dict>
</plist>
