<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_73_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{1,89},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_73_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{107,1},{82,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_73_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,68}</string>
                <key>textureRect</key>
                <string>{{107,85},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_73_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_73-uhd.png</string>
            <key>size</key>
            <string>{178,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f32eb885d0221e978fdc17b6228a56:f083cdd2d33613891f9295ec547ca305:6e57cd7da0ed51c69a3fdf28e01012a2$</string>
            <key>textureFileName</key>
            <string>icons/dart_73-uhd.png</string>
        </dict>
    </dict>
</plist>
