<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_83_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,80}</string>
                <key>textureRect</key>
                <string>{{1,75},{96,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_83_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{15,1},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_83_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{42,8}</string>
                <key>textureRect</key>
                <string>{{1,1},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_83_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{110,88}</string>
                <key>textureRect</key>
                <string>{{1,157},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_83-uhd.png</string>
            <key>size</key>
            <string>{106,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:380423c43c1191337dbb8856e10d0123:ec4fcf012289845da04ce95e56545cee:e749c83c038e4ed65e0b8c44190145dc$</string>
            <key>textureFileName</key>
            <string>icons/dart_83-uhd.png</string>
        </dict>
    </dict>
</plist>
