<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_65_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{102,70}</string>
                <key>spriteSourceSize</key>
                <string>{108,70}</string>
                <key>textureRect</key>
                <string>{{1,81},{102,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_65_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{29,153},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_65_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{71,26}</string>
                <key>spriteSourceSize</key>
                <string>{83,50}</string>
                <key>textureRect</key>
                <string>{{1,153},{71,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_65_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{118,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_65-uhd.png</string>
            <key>size</key>
            <string>{114,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae92bc6fac53008f6799f0ca1a17691b:99011f85eb7a8ef822c5f40e8dd6401d:61209aa6d59d3a4ead5ecb895c8173ee$</string>
            <key>textureFileName</key>
            <string>icons/dart_65-uhd.png</string>
        </dict>
    </dict>
</plist>
