<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_93_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{1,97},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_93_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-18}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,88}</string>
                <key>textureRect</key>
                <string>{{1,185},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_93_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{43,185},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_93_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_93-uhd.png</string>
            <key>size</key>
            <string>{128,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6cec47d2b6ec6dd91ae893edd786fa0:3f9336e5489509c1669309012ba79eac:17372ef856341b22a6a37cac6f4fe052$</string>
            <key>textureFileName</key>
            <string>icons/dart_93-uhd.png</string>
        </dict>
    </dict>
</plist>
