<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_56_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{114,70}</string>
                <key>spriteSourceSize</key>
                <string>{124,70}</string>
                <key>textureRect</key>
                <string>{{1,31},{114,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_56_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{104,28}</string>
                <key>textureRect</key>
                <string>{{35,1},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_56_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{87,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{19,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_56_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{132,78}</string>
                <key>textureRect</key>
                <string>{{1,103},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_56-uhd.png</string>
            <key>size</key>
            <string>{124,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a239a6bd7b48fa78357144b420e9ccf9:508dd6f632dcb25ccf49e171a7350451:2aecff43f2b1760553102127db3ee8ff$</string>
            <key>textureFileName</key>
            <string>icons/dart_56-uhd.png</string>
        </dict>
    </dict>
</plist>
