<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_92_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{103,80}</string>
                <key>spriteSourceSize</key>
                <string>{105,82}</string>
                <key>textureRect</key>
                <string>{{114,1},{103,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_92_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{94,48}</string>
                <key>textureRect</key>
                <string>{{219,1},{28,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_92_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,14}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{219,51},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_92_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{111,88}</string>
                <key>spriteSourceSize</key>
                <string>{113,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_92-uhd.png</string>
            <key>size</key>
            <string>{256,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c8fbf1a8bd142a18ddda2d7b28e518c:fdffe46d3b2f195d5abb7599639e3fb7:811abcd27479974d1480e6790534ed40$</string>
            <key>textureFileName</key>
            <string>icons/dart_92-uhd.png</string>
        </dict>
    </dict>
</plist>
