<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_43_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,86}</string>
                <key>spriteSourceSize</key>
                <string>{112,86}</string>
                <key>textureRect</key>
                <string>{{1,97},{112,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_43_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1,227},{26,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_43_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,74}</string>
                <key>textureRect</key>
                <string>{{1,185},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_43_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_43-uhd.png</string>
            <key>size</key>
            <string>{122,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a2cddb7e937406d51f0b3bb7cdaadda:a92d5cf08445b5c798bd523b36542167:8dfb66f3d0ce06f54a08f960bf9283d7$</string>
            <key>textureFileName</key>
            <string>icons/dart_43-uhd.png</string>
        </dict>
    </dict>
</plist>
