<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_81_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,70}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_81_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{1,153},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_81_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{45,153},{28,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_81_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{104,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_81-uhd.png</string>
            <key>size</key>
            <string>{104,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f7b4bf322a552a05f7f6fba7b93412:9dc0f10bdb5236b8e9710006b6492c33:05041e26ea5fe22572cd4ef7d09a2e43$</string>
            <key>textureFileName</key>
            <string>icons/dart_81-uhd.png</string>
        </dict>
    </dict>
</plist>
