<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_71_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{110,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,70}</string>
                <key>textureRect</key>
                <string>{{1,81},{110,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_71_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,60}</string>
                <key>textureRect</key>
                <string>{{1,153},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_71_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{55,26}</string>
                <key>spriteSourceSize</key>
                <string>{83,26}</string>
                <key>textureRect</key>
                <string>{{71,153},{55,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_71_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{118,78}</string>
                <key>spriteSourceSize</key>
                <string>{130,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_71-uhd.png</string>
            <key>size</key>
            <string>{120,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3db0cbe407e334f6f3c28feeec830c91:2dc9515f491774f84522fe913e310565:ecceb47fcc94757bcb58495a4d99b996$</string>
            <key>textureFileName</key>
            <string>icons/dart_71-uhd.png</string>
        </dict>
    </dict>
</plist>
