<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_54_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,72}</string>
                <key>textureRect</key>
                <string>{{1,83},{96,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_54_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{70,157},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_54_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{1,157},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_54_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_54-uhd.png</string>
            <key>size</key>
            <string>{109,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea0a646ebb89aaf59e0d213163dceddc:31a731c8818d48952f621f1640723295:b7ea0fa7c713a47ee10ca2179b273e21$</string>
            <key>textureFileName</key>
            <string>icons/dart_54-uhd.png</string>
        </dict>
    </dict>
</plist>
