<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_53_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{1,97},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_53_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{89,97},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_53_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{99,1},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_53_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_53-uhd.png</string>
            <key>size</key>
            <string>{168,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f71371d60c6fa40c073b8f8f3390bb:0634a5d97d23b8de5e6f727e68737dc1:bef50a21b1a772e0bda8fe7f3524b591$</string>
            <key>textureFileName</key>
            <string>icons/dart_53-uhd.png</string>
        </dict>
    </dict>
</plist>
