<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_40_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,37},{96,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_40_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{36,14}</string>
                <key>spriteSourceSize</key>
                <string>{60,14}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_40_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{76,34}</string>
                <key>textureRect</key>
                <string>{{39,1},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_40_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{106,96}</string>
                <key>textureRect</key>
                <string>{{1,127},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_40-uhd.png</string>
            <key>size</key>
            <string>{106,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c451aa8f5d41b4592449d9b45fe7a03:7d98dd88f3aee1fa9ca895bb5741467f:d533f85d3469eb435f9724b7d37688df$</string>
            <key>textureFileName</key>
            <string>icons/dart_40-uhd.png</string>
        </dict>
    </dict>
</plist>
