<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{112,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{2,26},{112,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_34_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{63,22}</string>
                <key>spriteSourceSize</key>
                <string>{81,22}</string>
                <key>textureRect</key>
                <string>{{33,2},{63,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_34_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{29,10}</string>
                <key>spriteSourceSize</key>
                <string>{35,20}</string>
                <key>textureRect</key>
                <string>{{2,2},{29,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_34_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{120,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,78}</string>
                <key>textureRect</key>
                <string>{{2,98},{120,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_34-uhd.png</string>
            <key>size</key>
            <string>{124,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dc401d5278c0af3cc23ac9fe7651344:5cb68a6d64080c9d502ec2d7bf41d03a:f65b30bc917d0a09bb0907a7ef1f2ab7$</string>
            <key>textureFileName</key>
            <string>icons/dart_34-uhd.png</string>
        </dict>
    </dict>
</plist>
