<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,66}</string>
                <key>textureRect</key>
                <string>{{2,64},{100,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_30_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,60}</string>
                <key>textureRect</key>
                <string>{{16,2},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_30_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{2,2},{11,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_30_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{2,132},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_30-uhd.png</string>
            <key>size</key>
            <string>{112,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4621627325b7151ffbecbf2394c2075d:539602c43a7540292affa4e72290188e:cb57417d301527e887b4c43bf0bb4a7c$</string>
            <key>textureFileName</key>
            <string>icons/dart_30-uhd.png</string>
        </dict>
    </dict>
</plist>
