<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{108,72}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{2,84},{108,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{76,84},{50,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dart_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{116,80}</string>
                <key>spriteSourceSize</key>
                <string>{116,88}</string>
                <key>textureRect</key>
                <string>{{2,2},{116,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_27-uhd.png</string>
            <key>size</key>
            <string>{126,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7171184b0725f6132fb5e5ef7f289d2a:ee35de4e9cf897bcd83ecdcc5ed8c23f:85972ee07d56315e268ba37eac69277e$</string>
            <key>textureFileName</key>
            <string>icons/dart_27-uhd.png</string>
        </dict>
    </dict>
</plist>
