<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{154,2},{152,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_05_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{130,118}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{298,116},{130,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_05_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,13}</string>
                <key>spriteSize</key>
                <string>{152,112}</string>
                <key>spriteSourceSize</key>
                <string>{178,138}</string>
                <key>textureRect</key>
                <string>{{298,2},{152,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_05_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{178,152}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_05-uhd.png</string>
            <key>size</key>
            <string>{452,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3473395f40a84f589095c7fa396c74c0:3e28c0080184c78b065607c780c623ef:ca2c5eefda3c0e4893d34af0dabdcbd1$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_05-uhd.png</string>
        </dict>
    </dict>
</plist>
