<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{174,146}</string>
                <key>spriteSourceSize</key>
                <string>{178,146}</string>
                <key>textureRect</key>
                <string>{{2,158},{174,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{148,106}</string>
                <key>spriteSourceSize</key>
                <string>{168,136}</string>
                <key>textureRect</key>
                <string>{{106,306},{148,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_06_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{162,102}</string>
                <key>spriteSourceSize</key>
                <string>{168,112}</string>
                <key>textureRect</key>
                <string>{{2,306},{162,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{182,154}</string>
                <key>spriteSourceSize</key>
                <string>{186,154}</string>
                <key>textureRect</key>
                <string>{{2,2},{182,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_06-uhd.png</string>
            <key>size</key>
            <string>{214,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80540be0719b965e9596d9197b1bdaa9:f64d675956c08f78fd068ba26c39feeb:3825bc6d61db4cb5fde71c3e7894d0b6$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_06-uhd.png</string>
        </dict>
    </dict>
</plist>
