<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{2,162},{184,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{168,136}</string>
                <key>spriteSourceSize</key>
                <string>{176,136}</string>
                <key>textureRect</key>
                <string>{{2,312},{168,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_08_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,17}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{156,128}</string>
                <key>textureRect</key>
                <string>{{140,312},{100,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{192,158}</string>
                <key>spriteSourceSize</key>
                <string>{202,158}</string>
                <key>textureRect</key>
                <string>{{2,2},{192,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_08-uhd.png</string>
            <key>size</key>
            <string>{236,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea9ce8d29cedc7ebcea4c28a7aef5a4:0d1f53de01d049ce6b57f0f817a7ba58:bd780250daee6514ba929fc4808edd28$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_08-uhd.png</string>
        </dict>
    </dict>
</plist>
