<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{147,140}</string>
                <key>spriteSourceSize</key>
                <string>{151,148}</string>
                <key>textureRect</key>
                <string>{{2,152},{147,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{107,98}</string>
                <key>spriteSourceSize</key>
                <string>{107,100}</string>
                <key>textureRect</key>
                <string>{{2,398},{107,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_03_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,9}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{141,120}</string>
                <key>textureRect</key>
                <string>{{2,294},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{155,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{2,2},{155,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_03-uhd.png</string>
            <key>size</key>
            <string>{159,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0a1eb6af2ea0b2bf55088d6f2ff7a61:9ed619e7563381b6e1a0145a193a9bd5:14156377c325f2275764f18cff2d2507$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_03-uhd.png</string>
        </dict>
    </dict>
</plist>
