<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_470_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{134,154}</string>
                <key>textureRect</key>
                <string>{{1,149},{134,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_470_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1,285},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_470_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,130}</string>
                <key>textureRect</key>
                <string>{{1,361},{122,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_470_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{142,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_470-uhd.png</string>
            <key>size</key>
            <string>{144,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f320e4fed15caea2bde210d0e84b2761:02bbc45a2a08128a8dd22760ad3f54df:36e93732879a24c36d11ead3be7b1735$</string>
            <key>textureFileName</key>
            <string>icons/player_470-uhd.png</string>
        </dict>
    </dict>
</plist>
