<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_194_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_194_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{87,78}</string>
                <key>textureRect</key>
                <string>{{132,124},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_194_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_194-uhd.png</string>
            <key>size</key>
            <string>{255,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46578f4adf597f82191e73a2c939be07:683e0a1e9618852e67a42c086cf0808d:7dd2087428617e00bc51e94884648324$</string>
            <key>textureFileName</key>
            <string>icons/player_194-uhd.png</string>
        </dict>
    </dict>
</plist>
