<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_196_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{134,2},{129,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_196_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,112}</string>
                <key>spriteSourceSize</key>
                <string>{119,112}</string>
                <key>textureRect</key>
                <string>{{134,133},{119,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_196_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{119,54}</string>
                <key>spriteSourceSize</key>
                <string>{119,68}</string>
                <key>textureRect</key>
                <string>{{2,141},{119,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_196_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{137,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_196-uhd.png</string>
            <key>size</key>
            <string>{258,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd9c591526bdfd566ecdc28ac433a8a:984bb04e377c524544933e141a774054:14d97922265ce2d714b286cab456b66a$</string>
            <key>textureFileName</key>
            <string>icons/player_196-uhd.png</string>
        </dict>
    </dict>
</plist>
