<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_318_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,122}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_318_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,112}</string>
                <key>textureRect</key>
                <string>{{131,123},{66,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_318_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{1,133},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_318_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_318-uhd.png</string>
            <key>size</key>
            <string>{254,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e224bd7994d4d96d5c84f0a42e50a2:666bdc463e96de0731f5aee7561bcd55:b1842378bfaf6cb1788d9abaa85fc947$</string>
            <key>textureFileName</key>
            <string>icons/player_318-uhd.png</string>
        </dict>
    </dict>
</plist>
