<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_87_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,144}</string>
                <key>spriteSourceSize</key>
                <string>{126,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_87_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,132}</string>
                <key>spriteSourceSize</key>
                <string>{114,132}</string>
                <key>textureRect</key>
                <string>{{283,1},{114,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_87_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,130}</string>
                <key>spriteSourceSize</key>
                <string>{112,130}</string>
                <key>textureRect</key>
                <string>{{399,1},{112,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_87_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{134,152}</string>
                <key>textureRect</key>
                <string>{{129,1},{134,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_87-uhd.png</string>
            <key>size</key>
            <string>{512,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3db492484abcfda7d043adcb4f0a2aed:58f8f594935e126a352121c9194a4f20:510a01b3a8480305ad0202cecfb3bc0d$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_87-uhd.png</string>
        </dict>
    </dict>
</plist>
