<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_360_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{135,1},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_360_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,112}</string>
                <key>textureRect</key>
                <string>{{261,33},{90,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_360_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,39}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{261,1},{104,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_360_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_360-uhd.png</string>
            <key>size</key>
            <string>{366,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e90e4ec800e018f21bf7ab8849208392:e67a3689eeb052c73733b09a2893a8fe:78639d8b230df20a53c1eb087f287576$</string>
            <key>textureFileName</key>
            <string>icons/player_360-uhd.png</string>
        </dict>
    </dict>
</plist>
