<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_55_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,140}</string>
                <key>spriteSourceSize</key>
                <string>{124,140}</string>
                <key>textureRect</key>
                <string>{{135,1},{124,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_55_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{112,128}</string>
                <key>textureRect</key>
                <string>{{1,151},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_55_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,124}</string>
                <key>spriteSourceSize</key>
                <string>{108,124}</string>
                <key>textureRect</key>
                <string>{{135,143},{108,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_55_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,148}</string>
                <key>spriteSourceSize</key>
                <string>{132,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_55-uhd.png</string>
            <key>size</key>
            <string>{260,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508824aaad1b96790655d10d37551638:e5a38018eaa32367f2150460c53c2ff2:084cca9c4c942c4fb404608a0719ef45$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_55-uhd.png</string>
        </dict>
    </dict>
</plist>
