<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_113_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{143,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_113_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{135,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{2,254},{135,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_113_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{131,110}</string>
                <key>spriteSourceSize</key>
                <string>{133,110}</string>
                <key>textureRect</key>
                <string>{{2,368},{131,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_113_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{149,128}</string>
                <key>spriteSourceSize</key>
                <string>{151,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{149,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_113-uhd.png</string>
            <key>size</key>
            <string>{153,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c7c43a5bf7158bafb761b9337237ca:a68b1299d655a99199e160b6807e6d42:6c64d06c3c12d6a0f9a9722b87604da1$</string>
            <key>textureFileName</key>
            <string>icons/player_113-uhd.png</string>
        </dict>
    </dict>
</plist>
