<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_483_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,166}</string>
                <key>textureRect</key>
                <string>{{2,156},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_483_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,32}</string>
                <key>spriteSize</key>
                <string>{109,70}</string>
                <key>spriteSourceSize</key>
                <string>{139,134}</string>
                <key>textureRect</key>
                <string>{{2,302},{109,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_483_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{143,152}</string>
                <key>spriteSourceSize</key>
                <string>{157,174}</string>
                <key>textureRect</key>
                <string>{{2,2},{143,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_483-uhd.png</string>
            <key>size</key>
            <string>{147,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f429bc3f17ab88599d7c9b8cbad623:bb5ec8ab51d83fdd5206d5395eff9484:7813b3b2f16a573119a33e7b186dcc11$</string>
            <key>textureFileName</key>
            <string>icons/player_483-uhd.png</string>
        </dict>
    </dict>
</plist>
