<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,140}</string>
                <key>spriteSourceSize</key>
                <string>{141,140}</string>
                <key>textureRect</key>
                <string>{{153,2},{141,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{295,2},{113,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{2,2},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_03-uhd.png</string>
            <key>size</key>
            <string>{409,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:440322b982210d24c39cd01ba091c5b4:a821f4b5c1649bcd1cc92298f2ff6ea4:ffc29c227c75ab4e6e37e51bf3a7980a$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_03-uhd.png</string>
        </dict>
    </dict>
</plist>
