<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_458_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{144,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_458_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{253,1},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_458_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{253,113},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_458_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_458-uhd.png</string>
            <key>size</key>
            <string>{388,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8732e7c514de1501e55b39acaa782e47:ecbee8e1cfce86aec26ef0212c78c719:320b933ce94ef7a21f737454d560ed68$</string>
            <key>textureFileName</key>
            <string>icons/player_458-uhd.png</string>
        </dict>
    </dict>
</plist>
