<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_365_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{140,122}</string>
                <key>spriteSourceSize</key>
                <string>{154,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{140,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_365_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1,257},{128,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_365_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{144,110}</string>
                <key>textureRect</key>
                <string>{{115,257},{128,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_365_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{148,130}</string>
                <key>spriteSourceSize</key>
                <string>{162,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_365-uhd.png</string>
            <key>size</key>
            <string>{226,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:952d3d13ce61c4c0f16600d393089b9b:25433debf0e13bed84cab8325ffb32a5:1bc4873a1889a16cc366249d0d9c6492$</string>
            <key>textureFileName</key>
            <string>icons/player_365-uhd.png</string>
        </dict>
    </dict>
</plist>
