<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_366_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_366_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{125,133},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_366_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{133,1},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_366_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_366-uhd.png</string>
            <key>size</key>
            <string>{238,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5924d451302cd2cbcc6ed8203120a1:3682ec001bf48e5455cac8746524164e:e42fd2eb25104fbbe639d01e89a77bb0$</string>
            <key>textureFileName</key>
            <string>icons/player_366-uhd.png</string>
        </dict>
    </dict>
</plist>
