<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_192_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{2,134},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_192_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{2,258},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_192_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_192-uhd.png</string>
            <key>size</key>
            <string>{134,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d51306392ada4acb8ee4c4d2c352a3b5:ff2aff7707fc59166be5e68b0ce27215:a58905139539a29bd8b1d80e683d15fb$</string>
            <key>textureFileName</key>
            <string>icons/player_192-uhd.png</string>
        </dict>
    </dict>
</plist>
