<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_378_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_378_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{123,131},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_378_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,62}</string>
                <key>textureRect</key>
                <string>{{131,1},{112,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_378_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_378-uhd.png</string>
            <key>size</key>
            <string>{242,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a359acc0f2f29ef5de99f37a2664120:2495badb8145f4a5de1619e93ac3ebeb:549d21067a102bdfcde34bcb6d8e5f8e$</string>
            <key>textureFileName</key>
            <string>icons/player_378-uhd.png</string>
        </dict>
    </dict>
</plist>
