<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_467_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{132,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_467_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{126,110}</string>
                <key>textureRect</key>
                <string>{{143,1},{126,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_467_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{124,16}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{143,129},{124,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_467_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_467-uhd.png</string>
            <key>size</key>
            <string>{254,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b3fda24ae5acdc00ee7e7ed61e13298:58c5d8528804e67a950fe8fdd4e5f545:b5dd0c054735ea77304a43d8f8397e33$</string>
            <key>textureFileName</key>
            <string>icons/player_467-uhd.png</string>
        </dict>
    </dict>
</plist>
