<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_465_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_465_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{56,110}</string>
                <key>textureRect</key>
                <string>{{1,131},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_465_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,108}</string>
                <key>textureRect</key>
                <string>{{131,123},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_465_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_465-uhd.png</string>
            <key>size</key>
            <string>{252,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75653d825ef4d9a1443a1f3aedfd8eca:2b1070a8d43e2527b65ea1d4311f75a3:cac09bc633f090711f92faf6e9e41757$</string>
            <key>textureFileName</key>
            <string>icons/player_465-uhd.png</string>
        </dict>
    </dict>
</plist>
