<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_14_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{132,124},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_14_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_14-uhd.png</string>
            <key>size</key>
            <string>{255,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f648b1fa35260cd2c4e08832692ae37:641182d1c3960c10584421a4c3d3e15b:439895c93961c0451058a70dbf6be84e$</string>
            <key>textureFileName</key>
            <string>icons/player_14-uhd.png</string>
        </dict>
    </dict>
</plist>
