<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_439_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,146}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_439_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{110,136}</string>
                <key>textureRect</key>
                <string>{{131,141},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_439_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{82,116}</string>
                <key>textureRect</key>
                <string>{{1,149},{82,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_439_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{128,146}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_439-uhd.png</string>
            <key>size</key>
            <string>{260,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:805a32760295e21380711579d9344411:43b6bb1b5b40e6bb824584cfccf01312:f0a7d9082744c9f0d3de2d2eaa501b6d$</string>
            <key>textureFileName</key>
            <string>icons/player_439-uhd.png</string>
        </dict>
    </dict>
</plist>
