<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_225_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{126,122}</string>
                <key>textureRect</key>
                <string>{{2,132},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_225_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{118,114}</string>
                <key>textureRect</key>
                <string>{{130,132},{118,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_225_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{138,2},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_225_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{134,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_225-uhd.png</string>
            <key>size</key>
            <string>{246,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4167012f7ce80134e38b054ae98d59f:925468f5cc56df2903f71afd6866fec5:4fab42428d7be1d7cf895e5107b7a841$</string>
            <key>textureFileName</key>
            <string>icons/player_225-uhd.png</string>
        </dict>
    </dict>
</plist>
