<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_389_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{132,130}</string>
                <key>textureRect</key>
                <string>{{143,1},{132,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_389_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{271,1},{130,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_389_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{102,46}</string>
                <key>spriteSourceSize</key>
                <string>{102,66}</string>
                <key>textureRect</key>
                <string>{{397,1},{102,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_389_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_389-uhd.png</string>
            <key>size</key>
            <string>{444,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e4917b228ed7c90bc07d827ce50b732:e6ae1b0c815f1d1a63b637b2ad5623da:7a6bdb33f8a095eecb352a7d6ad9f589$</string>
            <key>textureFileName</key>
            <string>icons/player_389-uhd.png</string>
        </dict>
    </dict>
</plist>
