<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_90_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,146}</string>
                <key>textureRect</key>
                <string>{{143,1},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_90_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{122,134}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{277,1},{122,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_90_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{277,125},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_90_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_90-uhd.png</string>
            <key>size</key>
            <string>{412,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c4465ee1cc78aef2d4704ca3d61ec7c:4f5418cfe6da0b1f31a3b6e4f968a9f0:b77e3e1c7a8cb2dd61e74b7e51673c36$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_90-uhd.png</string>
        </dict>
    </dict>
</plist>
