<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_370_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{148,120}</string>
                <key>spriteSourceSize</key>
                <string>{156,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{148,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_370_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{1,333},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_370_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{156,90}</string>
                <key>textureRect</key>
                <string>{{1,253},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_370_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{156,128}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_370-uhd.png</string>
            <key>size</key>
            <string>{158,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b86925f7313e7aa9c9992dcec33a72:361e7893be9b84cda01e8d24186af7f0:3fdbe27272f0c934a8bec9b925a747e3$</string>
            <key>textureFileName</key>
            <string>icons/player_370-uhd.png</string>
        </dict>
    </dict>
</plist>
