<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_198_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{134,124}</string>
                <key>textureRect</key>
                <string>{{146,2},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_198_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{116,112}</string>
                <key>textureRect</key>
                <string>{{282,2},{106,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_198_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_198-uhd.png</string>
            <key>size</key>
            <string>{386,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5eae638eaf994360df70a6944f33a96:d5e1a97732523165d8daa94628db2e95:0045cf923122430b29e3b72e7cbf1a9e$</string>
            <key>textureFileName</key>
            <string>icons/player_198-uhd.png</string>
        </dict>
    </dict>
</plist>
