<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_350_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_350_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{123,131},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_350_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{131,1},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_350_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_350-uhd.png</string>
            <key>size</key>
            <string>{234,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53987148a846d2dde5690fcbc03d4698:49ad25a4a7c71d1f07bb5db06820c6b0:75b07a283e51a5d4c283522fd239bf06$</string>
            <key>textureFileName</key>
            <string>icons/player_350-uhd.png</string>
        </dict>
    </dict>
</plist>
