<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_104_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_104_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-5}</string>
                <key>spriteSize</key>
                <string>{47,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{124,150},{47,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_104_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{146,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,100}</string>
                <key>textureRect</key>
                <string>{{158,2},{146,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_104_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,128}</string>
                <key>spriteSourceSize</key>
                <string>{156,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_104-uhd.png</string>
            <key>size</key>
            <string>{256,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad768db4d1fb8e64106800eb45509d46:bfe9710c97e22bf005c557a71ddfe7c0:bd89786a1ba32fd43807d0dcf70653a4$</string>
            <key>textureFileName</key>
            <string>icons/player_104-uhd.png</string>
        </dict>
    </dict>
</plist>
