<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1,153},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{145,153},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_60_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{153,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_60-uhd.png</string>
            <key>size</key>
            <string>{280,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:184deb61322c957895dc88e180a0988b:09ad8ddbf8a42bfd130301657fb51c2d:25bfd93660b849276683eb67d4fd3772$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_60-uhd.png</string>
        </dict>
    </dict>
</plist>
