<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_252_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_252_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,114}</string>
                <key>spriteSourceSize</key>
                <string>{112,114}</string>
                <key>textureRect</key>
                <string>{{123,133},{112,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_252_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{133,1},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_252_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_252-uhd.png</string>
            <key>size</key>
            <string>{236,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5112682c33d98bc39450fa9e4ea3ddf4:b53ce1384124d682b4d18ef14666604e:b29a0b660ad4e1c5cb32ae0182c85a8c$</string>
            <key>textureFileName</key>
            <string>icons/player_252-uhd.png</string>
        </dict>
    </dict>
</plist>
