<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_474_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_474_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,110}</string>
                <key>spriteSourceSize</key>
                <string>{132,110}</string>
                <key>textureRect</key>
                <string>{{151,1},{132,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_474_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{143,135},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_474_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,128}</string>
                <key>spriteSourceSize</key>
                <string>{148,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_474-uhd.png</string>
            <key>size</key>
            <string>{262,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e1896acf6914cb0d42fdc529d266e99:0db88e208ddc6581beac4e57b823132e:e28a6b20f3d60eb0be6f9b50e9b02a50$</string>
            <key>textureFileName</key>
            <string>icons/player_474-uhd.png</string>
        </dict>
    </dict>
</plist>
