<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_432_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{133,126}</string>
                <key>spriteSourceSize</key>
                <string>{145,130}</string>
                <key>textureRect</key>
                <string>{{144,1},{133,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_432_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{123,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,120}</string>
                <key>textureRect</key>
                <string>{{272,1},{123,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_432_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,34}</string>
                <key>spriteSize</key>
                <string>{57,44}</string>
                <key>spriteSourceSize</key>
                <string>{129,112}</string>
                <key>textureRect</key>
                <string>{{390,1},{57,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_432_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{141,134}</string>
                <key>spriteSourceSize</key>
                <string>{153,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_432-uhd.png</string>
            <key>size</key>
            <string>{435,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf6bcb09a229035601a100ed6d31626:ad0508b57687144f3b0c156f356de2b2:c998c5a88aa0dd78ae00ae309048a7bc$</string>
            <key>textureFileName</key>
            <string>icons/player_432-uhd.png</string>
        </dict>
    </dict>
</plist>
