<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_197_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{134,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_197_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,110}</string>
                <key>textureRect</key>
                <string>{{270,2},{112,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_197_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{93,22}</string>
                <key>spriteSourceSize</key>
                <string>{93,56}</string>
                <key>textureRect</key>
                <string>{{332,2},{93,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_197_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{142,130}</string>
                <key>spriteSourceSize</key>
                <string>{144,130}</string>
                <key>textureRect</key>
                <string>{{126,2},{142,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_197-uhd.png</string>
            <key>size</key>
            <string>{356,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79b0ffa56c1cca33fdbdc61032af9cb9:eecb112b4f53e378296e57bc59dfc087:3c3c2e61000f8a214728bbb6224e1a33$</string>
            <key>textureFileName</key>
            <string>icons/player_197-uhd.png</string>
        </dict>
    </dict>
</plist>
