<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_58_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,140}</string>
                <key>spriteSourceSize</key>
                <string>{122,140}</string>
                <key>textureRect</key>
                <string>{{151,1},{122,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_58_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{114,128}</string>
                <key>textureRect</key>
                <string>{{1,135},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_58_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{112,126}</string>
                <key>textureRect</key>
                <string>{{131,143},{112,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_58_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,148}</string>
                <key>spriteSourceSize</key>
                <string>{132,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_58-uhd.png</string>
            <key>size</key>
            <string>{274,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:516ce8db8ddb980ccd6936c03bb9833b:14778fee2e36e251212aaafca973cf38:c4eaf5d1ee21024d2d3608d4441e5704$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_58-uhd.png</string>
        </dict>
    </dict>
</plist>
