<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_404_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_404_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{125,133},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_404_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{66,14}</string>
                <key>spriteSourceSize</key>
                <string>{66,30}</string>
                <key>textureRect</key>
                <string>{{133,1},{66,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_404_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_404-uhd.png</string>
            <key>size</key>
            <string>{236,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f581dcd425adbfbf716e517afa5b93f:8d174ccb24dfe6a196ba343f8eb6b790:ad024f7fb06e6434c95f0162801fbd5f$</string>
            <key>textureFileName</key>
            <string>icons/player_404-uhd.png</string>
        </dict>
    </dict>
</plist>
