<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_223_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{134,2},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_223_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,100}</string>
                <key>textureRect</key>
                <string>{{134,128},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_223_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{106,84}</string>
                <key>spriteSourceSize</key>
                <string>{110,96}</string>
                <key>textureRect</key>
                <string>{{2,136},{106,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_223_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_223-uhd.png</string>
            <key>size</key>
            <string>{258,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bc3de8e33556a7daa3a4be0de39fad9:5376774bf03723083c1040f73922b11c:15c1a1fe3c502edc7c07487153597d61$</string>
            <key>textureFileName</key>
            <string>icons/player_223-uhd.png</string>
        </dict>
    </dict>
</plist>
