<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_180_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{133,2},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_180_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{109,88}</string>
                <key>spriteSourceSize</key>
                <string>{109,108}</string>
                <key>textureRect</key>
                <string>{{133,126},{109,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_180_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{73,34}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{2,134},{73,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_180_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_180-uhd.png</string>
            <key>size</key>
            <string>{256,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1db3caa71855d739f2f631c672e09905:5c94b2f0c1656474793455c8830ea292:83e9f97603f718e0ff2cab463dc7254a$</string>
            <key>textureFileName</key>
            <string>icons/player_180-uhd.png</string>
        </dict>
    </dict>
</plist>
