<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_105_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{131,130}</string>
                <key>textureRect</key>
                <string>{{2,138},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_105_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{117,110}</string>
                <key>spriteSourceSize</key>
                <string>{123,110}</string>
                <key>textureRect</key>
                <string>{{131,138},{117,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_105_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{113,118}</string>
                <key>textureRect</key>
                <string>{{139,2},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_105_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{135,134}</string>
                <key>spriteSourceSize</key>
                <string>{139,138}</string>
                <key>textureRect</key>
                <string>{{2,2},{135,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_105-uhd.png</string>
            <key>size</key>
            <string>{243,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410275483043b1391c501a09d0e88e20:1b25f27286207c44fe1919fc47e448d0:a0eed8831c21cdb077d790563e67511a$</string>
            <key>textureFileName</key>
            <string>icons/player_105-uhd.png</string>
        </dict>
    </dict>
</plist>
