<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_244_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,122}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_244_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-21}</string>
                <key>spriteSize</key>
                <string>{73,58}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{124,132},{73,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_244_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_244-uhd.png</string>
            <key>size</key>
            <string>{184,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b53d6dbc7217df463df5f23845be72:89b73d25821bf19eedcac30308e41aa3:2d65f502fca5918ee385e321cc1b6ddb$</string>
            <key>textureFileName</key>
            <string>icons/player_244-uhd.png</string>
        </dict>
    </dict>
</plist>
