<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_101_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{153,1},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_101_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{295,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_101_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{411,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_101_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{148,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_101-uhd.png</string>
            <key>size</key>
            <string>{480,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc4e41caabc2eb498b8804751993d1b:7fccdd86485d10379ffacb9b07ce4220:cf85f6d7a1b34a83a43f4c85adb02c10$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_101-uhd.png</string>
        </dict>
    </dict>
</plist>
