<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_118_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{154,2},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_118_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{154,146},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_118_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{2,152},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_118_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,148}</string>
                <key>textureRect</key>
                <string>{{2,2},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_118-uhd.png</string>
            <key>size</key>
            <string>{298,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc23fc1a54f0adce2e87a2c819a581fd:615e38e0b9aa79b17003fa5fd3b66e3d:1419a8202d2664d493900718d946bf78$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_118-uhd.png</string>
        </dict>
    </dict>
</plist>
