<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_154_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{133,2},{122,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_154_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{73,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{2,134},{73,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_154_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{133,126},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_154_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,129}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_154-uhd.png</string>
            <key>size</key>
            <string>{255,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f6a44d3ec2498717129e37295080c7f:d66435482b6591228acb3d702ffdcab4:8afb5e6525b2e132b2318dad18b44642$</string>
            <key>textureFileName</key>
            <string>icons/player_154-uhd.png</string>
        </dict>
    </dict>
</plist>
