<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_89_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,142}</string>
                <key>textureRect</key>
                <string>{{1,153},{144,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_89_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,132}</string>
                <key>spriteSourceSize</key>
                <string>{114,132}</string>
                <key>textureRect</key>
                <string>{{1,297},{114,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_89_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{130,116}</string>
                <key>spriteSourceSize</key>
                <string>{130,120}</string>
                <key>textureRect</key>
                <string>{{117,297},{130,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_89_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_89-uhd.png</string>
            <key>size</key>
            <string>{234,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f0ed592023d52206e4c435cb4c2e47:330090a69417895e403f2823c413e375:8f993067ff69ce0fcaf9371e0e6ded58$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_89-uhd.png</string>
        </dict>
    </dict>
</plist>
