<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_375_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{126,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_375_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,120}</string>
                <key>textureRect</key>
                <string>{{129,133},{124,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_375_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{100,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,42}</string>
                <key>textureRect</key>
                <string>{{137,1},{100,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_375_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{134,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_375-uhd.png</string>
            <key>size</key>
            <string>{254,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27831f31f2c6517b6dbdb56d9282e785:91e612985f5a3dd5369577cd708e02ef:e9829fb8fca8b38b0283fd79d620cf0b$</string>
            <key>textureFileName</key>
            <string>icons/player_375-uhd.png</string>
        </dict>
    </dict>
</plist>
