<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_56_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{126,140}</string>
                <key>textureRect</key>
                <string>{{137,1},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_56_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,126}</string>
                <key>textureRect</key>
                <string>{{137,143},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_56_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,124}</string>
                <key>textureRect</key>
                <string>{{1,151},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_56_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{134,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_56-uhd.png</string>
            <key>size</key>
            <string>{264,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad48ffc9e2b1358f5e3a31212fd74c5d:38a77c2d770220222c3d2e811eb6c0c4:1e465848dced6e2e00a2feacc23810ef$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_56-uhd.png</string>
        </dict>
    </dict>
</plist>
