<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_459_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_459_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{98,100}</string>
                <key>textureRect</key>
                <string>{{132,124},{98,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_459_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_459-uhd.png</string>
            <key>size</key>
            <string>{254,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0d736319a596a70db6ae1158e91b03:11e91f8d91e2427a922f18d1a1ec206f:de25b2dc4d1fd8c162d342fcdf4e6d6d$</string>
            <key>textureFileName</key>
            <string>icons/player_459-uhd.png</string>
        </dict>
    </dict>
</plist>
