<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_195_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{134,2},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_195_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{67,36}</string>
                <key>spriteSourceSize</key>
                <string>{81,68}</string>
                <key>textureRect</key>
                <string>{{258,2},{67,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_195_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{99,16}</string>
                <key>spriteSourceSize</key>
                <string>{103,48}</string>
                <key>textureRect</key>
                <string>{{296,2},{99,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_195_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_195-uhd.png</string>
            <key>size</key>
            <string>{314,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e05f4a283ef3b857740e642e68c8092f:6ec18e47cd734a60f39cf438bedb188d:255b44afc301fde769ffa811057221b1$</string>
            <key>textureFileName</key>
            <string>icons/player_195-uhd.png</string>
        </dict>
    </dict>
</plist>
