<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_209_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{134,2},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_209_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{258,2},{113,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_209_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,74}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{370,2},{94,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_209_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_209-uhd.png</string>
            <key>size</key>
            <string>{446,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eba957b5c27d5c3f2c429d9fc3ee180:c833b2ec0b9fb7d4538646113073c4dc:5d84f45eff5c94ec59b2f81355c6d732$</string>
            <key>textureFileName</key>
            <string>icons/player_209-uhd.png</string>
        </dict>
    </dict>
</plist>
