<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_267_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_267_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{92,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,32}</string>
                <key>textureRect</key>
                <string>{{131,1},{92,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_267_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{123,131},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_267_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_267-uhd.png</string>
            <key>size</key>
            <string>{232,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a10fd14edcaf6f41a29139740c186a8:197d5b89166b66e67072d5d5ec4a0cfc:6bf6da687a663214ab320016027065da$</string>
            <key>textureFileName</key>
            <string>icons/player_267-uhd.png</string>
        </dict>
    </dict>
</plist>
