<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_420_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_420_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{131,129},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_420_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,52}</string>
                <key>spriteSize</key>
                <string>{110,10}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{1,137},{110,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_420_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{128,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_420-uhd.png</string>
            <key>size</key>
            <string>{252,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15b1d09010c1d77d836ea8c084d7364d:b8b92805b109d5a0a44a25a7898f2ab3:43a9673e7a2dbf939c6b865519804ceb$</string>
            <key>textureFileName</key>
            <string>icons/player_420-uhd.png</string>
        </dict>
    </dict>
</plist>
