<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_114_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{134,142}</string>
                <key>textureRect</key>
                <string>{{153,1},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_114_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{289,1},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_114_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,86}</string>
                <key>textureRect</key>
                <string>{{409,1},{68,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_114_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_114-uhd.png</string>
            <key>size</key>
            <string>{472,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86df04a2e9bb7efd58c4567923b44f74:273d9b66bd14d2baf04920858993f2cf:d53616d7900df70b06413f24327c4a34$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_114-uhd.png</string>
        </dict>
    </dict>
</plist>
