<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_40_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{2,156},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_40_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,58}</string>
                <key>spriteSourceSize</key>
                <string>{132,58}</string>
                <key>textureRect</key>
                <string>{{2,302},{132,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_40_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_40-uhd.png</string>
            <key>size</key>
            <string>{156,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1633ebca2b8533fc00fc9fd8f0bf5d:00acdce316c54550cbd844b02ff05e89:a3ec8307fd16105816bcf57eeedadd11$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_40-uhd.png</string>
        </dict>
    </dict>
</plist>
