<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_177_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,126}</string>
                <key>spriteSourceSize</key>
                <string>{125,126}</string>
                <key>textureRect</key>
                <string>{{2,138},{125,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_177_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{2,265},{96,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_177_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{2,2},{133,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_177-uhd.png</string>
            <key>size</key>
            <string>{137,341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f2998e2eb4078a002c641bfeb36edb4:8bcf823a61e96995d538b6555cb60d6e:8541fe338a92984292dab519bc45b0e5$</string>
            <key>textureFileName</key>
            <string>icons/player_177-uhd.png</string>
        </dict>
    </dict>
</plist>
