<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_431_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{127,130}</string>
                <key>spriteSourceSize</key>
                <string>{133,136}</string>
                <key>textureRect</key>
                <string>{{143,1},{127,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_431_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,124}</string>
                <key>textureRect</key>
                <string>{{272,1},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_431_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{43,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,112}</string>
                <key>textureRect</key>
                <string>{{395,1},{43,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_431_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{135,140}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_431-uhd.png</string>
            <key>size</key>
            <string>{439,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e16d65b271e21720e5107e7608de5fcf:c92e876c35a49c30ae3326a2250aa62b:eefe6f99e08ae9e25f761809193275e2$</string>
            <key>textureFileName</key>
            <string>icons/player_431-uhd.png</string>
        </dict>
    </dict>
</plist>
