<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_92_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,144}</string>
                <key>spriteSourceSize</key>
                <string>{122,144}</string>
                <key>textureRect</key>
                <string>{{1,155},{122,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_92_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,130}</string>
                <key>spriteSourceSize</key>
                <string>{110,130}</string>
                <key>textureRect</key>
                <string>{{125,155},{110,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_92_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{108,128}</string>
                <key>textureRect</key>
                <string>{{133,1},{108,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_92_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,152}</string>
                <key>spriteSourceSize</key>
                <string>{130,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_92-uhd.png</string>
            <key>size</key>
            <string>{242,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb578d198376e18198b8008c06c4a5dd:d10e0a5d7b87b21fbabaf6eae2fb960a:4db61b31f7af5c294fd80b1a5067fcf6$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_92-uhd.png</string>
        </dict>
    </dict>
</plist>
