<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_259_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{136,152}</string>
                <key>textureRect</key>
                <string>{{149,1},{136,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_259_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,140}</string>
                <key>textureRect</key>
                <string>{{287,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_259_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,98}</string>
                <key>textureRect</key>
                <string>{{415,1},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_259_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{144,146}</string>
                <key>spriteSourceSize</key>
                <string>{144,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_259-uhd.png</string>
            <key>size</key>
            <string>{494,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626e930ef1bdefb5c9c083cc4577905a:538dab5b31ba9715e3ea4f48a2392e97:cc4eb8e1cd00187092017de4910e56b3$</string>
            <key>textureFileName</key>
            <string>icons/player_259-uhd.png</string>
        </dict>
    </dict>
</plist>
