<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_174_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{154,2},{142,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_174_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{296,2},{132,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_174_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{47,68}</string>
                <key>spriteSourceSize</key>
                <string>{47,100}</string>
                <key>textureRect</key>
                <string>{{418,2},{47,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_174_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{2,2},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_174-uhd.png</string>
            <key>size</key>
            <string>{467,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e30d3436fee1626d128242530458287:0cc77953b1892f48c6a1fe41d8e4b70d:84bd2cf4bcaf10553203df35027a0817$</string>
            <key>textureFileName</key>
            <string>icons/player_174-uhd.png</string>
        </dict>
    </dict>
</plist>
