<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_109_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{155,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_109_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,130}</string>
                <key>spriteSourceSize</key>
                <string>{114,130}</string>
                <key>textureRect</key>
                <string>{{301,1},{114,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_109_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-16}</string>
                <key>spriteSize</key>
                <string>{56,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,126}</string>
                <key>textureRect</key>
                <string>{{417,1},{56,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_109_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_109-uhd.png</string>
            <key>size</key>
            <string>{474,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2148485291a0a11385b3f1cb3c2bd16e:a37ed930c873d6145f60de82d0d6abc0:a5bb1b7f6648cb2b1aa6be337aa5f101$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_109-uhd.png</string>
        </dict>
    </dict>
</plist>
