<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_241_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_241_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{132,124},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_241_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{112,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{2,134},{112,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_241_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_241-uhd.png</string>
            <key>size</key>
            <string>{256,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d980fe44e3e9af05c3c1f43e46a82375:67e2ff0e21b1d714eb6007b696ee5c02:7622a376e53251ccade68c01c272d532$</string>
            <key>textureFileName</key>
            <string>icons/player_241-uhd.png</string>
        </dict>
    </dict>
</plist>
