<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_116_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{133,122}</string>
                <key>textureRect</key>
                <string>{{2,134},{133,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_116_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,118}</string>
                <key>spriteSourceSize</key>
                <string>{129,118}</string>
                <key>textureRect</key>
                <string>{{2,258},{129,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_116_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,114}</string>
                <key>spriteSourceSize</key>
                <string>{127,114}</string>
                <key>textureRect</key>
                <string>{{2,378},{127,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_116_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{141,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_116-uhd.png</string>
            <key>size</key>
            <string>{145,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:627e97687a2ef58e54eecc66f972571a:47f54abc4364228f0c34b456b24e08bc:81bf75dbe0655668657ee847ebe12d34$</string>
            <key>textureFileName</key>
            <string>icons/player_116-uhd.png</string>
        </dict>
    </dict>
</plist>
