<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_171_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,120}</string>
                <key>spriteSourceSize</key>
                <string>{146,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{146,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_171_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{2,254},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_171_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,128}</string>
                <key>spriteSourceSize</key>
                <string>{154,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_171-uhd.png</string>
            <key>size</key>
            <string>{158,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:356877756629b975b485dfe31dbe5e15:c511aee178e28cf2250afb2353c6e304:7fc72c29ca5fa3ca2820b3d74b4837fc$</string>
            <key>textureFileName</key>
            <string>icons/player_171-uhd.png</string>
        </dict>
    </dict>
</plist>
