<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_277_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,126}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{137,1},{124,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_277_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{112,114}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{263,1},{112,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_277_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,108}</string>
                <key>textureRect</key>
                <string>{{377,1},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_277_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_277-uhd.png</string>
            <key>size</key>
            <string>{440,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63395c45def96856028c1928208b512e:7573e9b78e5532dd19b27ee7b67684a2:d7ac8d386a7686ebbcb851c9571f0926$</string>
            <key>textureFileName</key>
            <string>icons/player_277-uhd.png</string>
        </dict>
    </dict>
</plist>
