<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_364_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_364_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{131,123},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_364_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{98,58}</string>
                <key>spriteSourceSize</key>
                <string>{98,84}</string>
                <key>textureRect</key>
                <string>{{1,131},{98,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_364_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_364-uhd.png</string>
            <key>size</key>
            <string>{254,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d90b5672de27865e61523860bf5c6416:94553be98b1eef79c5affa4a603d32eb:c67d00dcf48084124024925b6216de3b$</string>
            <key>textureFileName</key>
            <string>icons/player_364-uhd.png</string>
        </dict>
    </dict>
</plist>
