<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_67_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,148}</string>
                <key>textureRect</key>
                <string>{{1,145},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_67_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{1,283},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_67_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,130}</string>
                <key>textureRect</key>
                <string>{{129,283},{124,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_67_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{148,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_67-uhd.png</string>
            <key>size</key>
            <string>{250,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e3365fc3a88e170a41b90ad78130f6:e851d15e07461a181e6270a9d7e03b86:5b22dc93ade4b73651259f001a063d05$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_67-uhd.png</string>
        </dict>
    </dict>
</plist>
