<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_157_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_157_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{124,132},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_157_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{91,82}</string>
                <key>spriteSourceSize</key>
                <string>{93,102}</string>
                <key>textureRect</key>
                <string>{{132,2},{91,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_157_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_157-uhd.png</string>
            <key>size</key>
            <string>{236,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f85db0bb6d9baaeb0a3863579d77da:9e072b4f353c3ca9aebef667f3a2662f:4a01d091520da5cb00f911e82bfc47cd$</string>
            <key>textureFileName</key>
            <string>icons/player_157-uhd.png</string>
        </dict>
    </dict>
</plist>
