<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{144,138}</string>
                <key>textureRect</key>
                <string>{{149,1},{136,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,92}</string>
                <key>textureRect</key>
                <string>{{415,1},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{126,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{287,1},{126,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{144,146}</string>
                <key>spriteSourceSize</key>
                <string>{152,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_112-uhd.png</string>
            <key>size</key>
            <string>{508,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db111b00127539c600c79eaea846f7e:986289b18040a041873fb356a1099d22:3316cce2a7914083d37e0e5fbda74d0a$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_112-uhd.png</string>
        </dict>
    </dict>
</plist>
