<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_239_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_239_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{124,132},{111,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_239_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{87,32}</string>
                <key>spriteSourceSize</key>
                <string>{87,72}</string>
                <key>textureRect</key>
                <string>{{132,2},{87,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_239_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_239-uhd.png</string>
            <key>size</key>
            <string>{236,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57496e7d6267d993898be78fe6c79bd0:29adf162ceb9b686d16cf76e5652294b:18675dddd0f8fa51c703533fa08c3685$</string>
            <key>textureFileName</key>
            <string>icons/player_239-uhd.png</string>
        </dict>
    </dict>
</plist>
