<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_425_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{137,122}</string>
                <key>textureRect</key>
                <string>{{133,1},{133,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_425_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{125,112}</string>
                <key>spriteSourceSize</key>
                <string>{127,112}</string>
                <key>textureRect</key>
                <string>{{133,136},{125,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_425_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{125,74}</string>
                <key>spriteSourceSize</key>
                <string>{127,94}</string>
                <key>textureRect</key>
                <string>{{1,144},{125,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_425_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{145,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_425-uhd.png</string>
            <key>size</key>
            <string>{259,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:030c35ba47e5c269b783ad1e2ae53e5d:749c11018cbb1fff6ecbafe84d638d6c:8dd623efb1ed12a4db86b1d9f51a5a0a$</string>
            <key>textureFileName</key>
            <string>icons/player_425-uhd.png</string>
        </dict>
    </dict>
</plist>
