<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_161_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{134,2},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_161_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{134,128},{115,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_161_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{2,136},{110,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_161_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_161-uhd.png</string>
            <key>size</key>
            <string>{258,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55c344db49ec2e3b40e85a1f1aa8ba16:bef3c3db41fe116fdb076e99f73bd66e:644a8a1e2375fad4444899ead0838335$</string>
            <key>textureFileName</key>
            <string>icons/player_161-uhd.png</string>
        </dict>
    </dict>
</plist>
