<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_473_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_473_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{131,131},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_473_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{108,6}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,139},{108,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_473_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_473-uhd.png</string>
            <key>size</key>
            <string>{252,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c789e8779eef44ce909a726e117c37e:1f42feb4246ac27c1004933fe562ce68:a459d1438526dc10ecfee77c71f744a4$</string>
            <key>textureFileName</key>
            <string>icons/player_473-uhd.png</string>
        </dict>
    </dict>
</plist>
