<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_246_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,124}</string>
                <key>textureRect</key>
                <string>{{132,2},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_246_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{109,112}</string>
                <key>textureRect</key>
                <string>{{132,128},{91,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_246_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{57,20}</string>
                <key>spriteSourceSize</key>
                <string>{81,32}</string>
                <key>textureRect</key>
                <string>{{2,136},{57,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_246_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_246-uhd.png</string>
            <key>size</key>
            <string>{254,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:965ebaa19b3ea787063c305d84793350:da015b00627758e128728713eaa89f4a:551d84ec40eccc8ad8d1b6ea1ec51869$</string>
            <key>textureFileName</key>
            <string>icons/player_246-uhd.png</string>
        </dict>
    </dict>
</plist>
