<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_137_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{136,146}</string>
                <key>textureRect</key>
                <string>{{146,2},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_137_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,142}</string>
                <key>textureRect</key>
                <string>{{280,2},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_137_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,44}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{118,142}</string>
                <key>textureRect</key>
                <string>{{408,2},{64,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_137_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,154}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_137-uhd.png</string>
            <key>size</key>
            <string>{464,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d2bb8e9f1a8825798707b6e7522ad1b:3d8f86dfd86f7fbe8c6d444f92aec43d:43e6eadacf4bbc83f2030d7c43112f8e$</string>
            <key>textureFileName</key>
            <string>icons/player_137-uhd.png</string>
        </dict>
    </dict>
</plist>
