<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{133,2},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{133,126},{115,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{113,100}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{2,134},{113,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_112-uhd.png</string>
            <key>size</key>
            <string>{256,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acf958937ebd4c18e2c0e1020bbd9893:c31c01f9c7b13f45672f8467fe816915:1b4ef085d9fdc2a02f7056b49e0c1202$</string>
            <key>textureFileName</key>
            <string>icons/player_112-uhd.png</string>
        </dict>
    </dict>
</plist>
