<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_187_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{154,2},{142,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_187_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,140}</string>
                <key>textureRect</key>
                <string>{{294,2},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_187_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-20}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{125,106}</string>
                <key>textureRect</key>
                <string>{{410,2},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_187_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,158}</string>
                <key>textureRect</key>
                <string>{{2,2},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_187-uhd.png</string>
            <key>size</key>
            <string>{473,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da8b5a936db43f2722932483d30ed2aa:6847a03256c012430bb227f6ff41ad9e:b27372f97ef5ef87a37af4bb77809e8e$</string>
            <key>textureFileName</key>
            <string>icons/player_187-uhd.png</string>
        </dict>
    </dict>
</plist>
