<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_124_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{136,2},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_124_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{262,2},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_124_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_124-uhd.png</string>
            <key>size</key>
            <string>{382,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e937a434e699544c8440d33292ba7eea:5bf2773457e8b180513768843c162334:9c5e1987956db324397c55021f8d4383$</string>
            <key>textureFileName</key>
            <string>icons/player_124-uhd.png</string>
        </dict>
    </dict>
</plist>
