<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_321_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_321_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{129,131},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_321_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{137,1},{118,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_321_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{134,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_321-uhd.png</string>
            <key>size</key>
            <string>{240,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd0a511c16d873cfe363993ab048159:fb51ab2be3b43f9123c64823bce1eacd:17a5a2306a61efaf630e9faa54349c7c$</string>
            <key>textureFileName</key>
            <string>icons/player_321-uhd.png</string>
        </dict>
    </dict>
</plist>
