<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_344_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_344_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{123,131},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_344_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,60}</string>
                <key>textureRect</key>
                <string>{{131,1},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_344_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_344-uhd.png</string>
            <key>size</key>
            <string>{234,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2ebb168bd1b2eef23640327244fd9dc:e0650b78fbea51870702b8f9dd7542a1:2660699898917d9e25e1c40f81c85e4e$</string>
            <key>textureFileName</key>
            <string>icons/player_344-uhd.png</string>
        </dict>
    </dict>
</plist>
