<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_204_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_204_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,112}</string>
                <key>spriteSourceSize</key>
                <string>{111,112}</string>
                <key>textureRect</key>
                <string>{{132,124},{111,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_204_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{113,84}</string>
                <key>textureRect</key>
                <string>{{2,133},{65,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_204_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_204-uhd.png</string>
            <key>size</key>
            <string>{255,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81cb302c46f96768174fe9047a297297:41c80db9abdc173e77148dfddf8a2627:a3ba71d8ff2a4d8f5ed07bd6df33c515$</string>
            <key>textureFileName</key>
            <string>icons/player_204-uhd.png</string>
        </dict>
    </dict>
</plist>
