<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_80_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,155},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_80_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,132}</string>
                <key>spriteSourceSize</key>
                <string>{44,132}</string>
                <key>textureRect</key>
                <string>{{117,301},{44,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_80_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,114}</string>
                <key>spriteSourceSize</key>
                <string>{132,114}</string>
                <key>textureRect</key>
                <string>{{1,301},{132,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_80_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_80-uhd.png</string>
            <key>size</key>
            <string>{162,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376f6e44a2cd15662ee9a327bf99dae7:acaee2aaae5ca95c1d1e49b572ed5010:2ce8280b73004533b8c6096c4506ae05$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_80-uhd.png</string>
        </dict>
    </dict>
</plist>
