<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_238_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_238_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{124,132},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_238_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,28}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{105,80}</string>
                <key>textureRect</key>
                <string>{{132,2},{51,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_238_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_238-uhd.png</string>
            <key>size</key>
            <string>{244,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37d457037a83fe44c6390589cc5b8126:f7127c742312a1929cd7b3c07ac429f6:711d4ffbbd27eb830ed87755c31682e6$</string>
            <key>textureFileName</key>
            <string>icons/player_238-uhd.png</string>
        </dict>
    </dict>
</plist>
