<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_109_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,120}</string>
                <key>spriteSourceSize</key>
                <string>{123,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{123,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_109_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{109,104}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{127,132},{109,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_109_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-22}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{135,2},{59,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_109_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{131,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_109-uhd.png</string>
            <key>size</key>
            <string>{233,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6ac98a03bcfd855837e5375d873e2a:181c6b452756cd0ae1e49e3d4b968f00:6376ad0cc8ad484e0eb08ca3e9df3e70$</string>
            <key>textureFileName</key>
            <string>icons/player_109-uhd.png</string>
        </dict>
    </dict>
</plist>
