<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_395_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,120}</string>
                <key>textureRect</key>
                <string>{{151,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_395_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{130,112}</string>
                <key>spriteSourceSize</key>
                <string>{148,112}</string>
                <key>textureRect</key>
                <string>{{293,1},{130,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_395_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,13}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{86,56}</string>
                <key>textureRect</key>
                <string>{{425,1},{32,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_395_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{148,128}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_395-uhd.png</string>
            <key>size</key>
            <string>{456,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b39d4e11f04854e6066fb9dc6795e14:9e893436e21441ad2086cb9f495a84ad:22b8f728dbccbc468bc0ac490d71c81e$</string>
            <key>textureFileName</key>
            <string>icons/player_395-uhd.png</string>
        </dict>
    </dict>
</plist>
