<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_99_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{136,124}</string>
                <key>textureRect</key>
                <string>{{2,136},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_99_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,112}</string>
                <key>textureRect</key>
                <string>{{148,2},{102,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_99_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{140,136},{100,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_99_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{144,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{144,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_99-uhd.png</string>
            <key>size</key>
            <string>{224,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21404e44e68bf9eaa65e467f30f741eb:d5167a130b5edee9ddefb4d88979d5a2:f9498bb770551afdac5238e3f0400e55$</string>
            <key>textureFileName</key>
            <string>icons/player_99-uhd.png</string>
        </dict>
    </dict>
</plist>
