<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_402_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_402_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{116,112}</string>
                <key>textureRect</key>
                <string>{{131,123},{116,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_402_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1,133},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_402_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_402-uhd.png</string>
            <key>size</key>
            <string>{254,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0ef54ee6ed04d095d7252f47e041767:f4acc377e39dfa03cf935fb5a160bdd0:45ae77d8a08c2d310498ff53ec16aa5a$</string>
            <key>textureFileName</key>
            <string>icons/player_402-uhd.png</string>
        </dict>
    </dict>
</plist>
