<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_299_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{128,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_299_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{118,110}</string>
                <key>textureRect</key>
                <string>{{131,131},{118,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_299_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{139,1},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_299_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,128}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_299-uhd.png</string>
            <key>size</key>
            <string>{242,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:449e3fe001281c2ceaedf4cbc3962468:4293d1654438e4ce4f5aa1bd21fbb034:9657b133cdc49b63c3b4734b54239cd6$</string>
            <key>textureFileName</key>
            <string>icons/player_299-uhd.png</string>
        </dict>
    </dict>
</plist>
