<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_49_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{154,2},{142,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_49_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{154,146},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_49_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,152},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_49_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,148}</string>
                <key>textureRect</key>
                <string>{{2,2},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_49-uhd.png</string>
            <key>size</key>
            <string>{296,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628115a019d4f4d412b41633c0700a89:1c1666b1591a8fd20962f238c87e44a5:111d0248549f8a211e06b31cb52e19ba$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_49-uhd.png</string>
        </dict>
    </dict>
</plist>
