<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_324_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{1,131},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_324_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{123,131},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_324_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{72,8}</string>
                <key>spriteSourceSize</key>
                <string>{72,28}</string>
                <key>textureRect</key>
                <string>{{123,247},{72,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_324_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{128,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_324-uhd.png</string>
            <key>size</key>
            <string>{234,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:233d6c124aaf45b38e4a062fc9e5ace6:ea9283c5e69bb7c754a0c44b9c3bc4ca:860dbfc42484aaf5c4e535a11acf5baa$</string>
            <key>textureFileName</key>
            <string>icons/player_324-uhd.png</string>
        </dict>
    </dict>
</plist>
