<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_181_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,122}</string>
                <key>textureRect</key>
                <string>{{136,2},{124,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_181_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{260,2},{115,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_181_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{132,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_181-uhd.png</string>
            <key>size</key>
            <string>{372,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98c821babf4b4239b0ad8825618cc083:78273d0ffdf9a9f34f8a8c286fee5550:3b82d152e64b7485bf5069576f450448$</string>
            <key>textureFileName</key>
            <string>icons/player_181-uhd.png</string>
        </dict>
    </dict>
</plist>
