<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_357_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,120}</string>
                <key>spriteSourceSize</key>
                <string>{142,120}</string>
                <key>textureRect</key>
                <string>{{155,1},{142,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_357_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,110}</string>
                <key>spriteSourceSize</key>
                <string>{130,110}</string>
                <key>textureRect</key>
                <string>{{299,1},{130,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_357_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{104,18}</string>
                <key>spriteSourceSize</key>
                <string>{104,66}</string>
                <key>textureRect</key>
                <string>{{155,123},{104,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_357_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_357-uhd.png</string>
            <key>size</key>
            <string>{410,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3460e2e0451d9401a475d7086da1d41a:512204a9dd6bdb56f44e3c992798fe09:e00d012c64000baa6295f878cd7bb830$</string>
            <key>textureFileName</key>
            <string>icons/player_357-uhd.png</string>
        </dict>
    </dict>
</plist>
