<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_41_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_41_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{132,124},{83,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_41_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_41-uhd.png</string>
            <key>size</key>
            <string>{255,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85a6d90cccc58bff6b711c91699a2e68:aa2a4c16a881c6484fe2178fd5cf2287:ba5fc81459fbbb3d444b547e10c00eed$</string>
            <key>textureFileName</key>
            <string>icons/player_41-uhd.png</string>
        </dict>
    </dict>
</plist>
