<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_379_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{133,1},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_379_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{257,1},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_379_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{257,123},{94,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_379_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{144,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_379-uhd.png</string>
            <key>size</key>
            <string>{392,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2044586f85d328323ab44c8a8bcb46e:774fb739b6cd8979d942fb16352b885f:b9c234e747c64eae57a15abd2d71c139$</string>
            <key>textureFileName</key>
            <string>icons/player_379-uhd.png</string>
        </dict>
    </dict>
</plist>
