<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_111_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,144}</string>
                <key>textureRect</key>
                <string>{{207,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_111_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_111_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,132}</string>
                <key>textureRect</key>
                <string>{{89,1},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_111_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,152}</string>
                <key>textureRect</key>
                <string>{{337,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_111-uhd.png</string>
            <key>size</key>
            <string>{474,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad6ccbe426016675491b502ecdbcd82:41d3e8c0fb78b82448dba8fa5c54a2e7:9a48ef3de1e44c4067e6a24ac490fa77$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_111-uhd.png</string>
        </dict>
    </dict>
</plist>
