<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_274_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_274_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{131,123},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_274_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{108,42}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,133},{108,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_274_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_274-uhd.png</string>
            <key>size</key>
            <string>{252,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be85e094fc98fd9301359c57fb9a0b71:b69cc546ddf0bc439f9a53b5ff46416d:a4ea6e0e8e5480e42afe00ec376a0a48$</string>
            <key>textureFileName</key>
            <string>icons/player_274-uhd.png</string>
        </dict>
    </dict>
</plist>
