<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_208_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{124,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_208_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{128,132},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_208_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{128,188},{44,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_208_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_208-uhd.png</string>
            <key>size</key>
            <string>{172,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5f0db768a26a36ddd804f9b64753f51:c48361053bba2fd8ececdb4ef9e8c221:6aa0d235bcb2f993b19cb5eb2fd95ae4$</string>
            <key>textureFileName</key>
            <string>icons/player_208-uhd.png</string>
        </dict>
    </dict>
</plist>
