<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_427_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{140,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_427_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{134,84}</string>
                <key>textureRect</key>
                <string>{{1,151},{134,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_427_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,94}</string>
                <key>spriteSourceSize</key>
                <string>{126,94}</string>
                <key>textureRect</key>
                <string>{{137,143},{126,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_427_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,128}</string>
                <key>spriteSourceSize</key>
                <string>{148,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_427-uhd.png</string>
            <key>size</key>
            <string>{264,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1acc91dc93c6fcf5fae967713bd2d278:c9655a4735a4717e97fe0ff8f5ec72fb:fc5bb4153491e07310e71eb16c9667eb$</string>
            <key>textureFileName</key>
            <string>icons/player_427-uhd.png</string>
        </dict>
    </dict>
</plist>
