<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{152,2},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-4}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{294,2},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{2,2},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_11-uhd.png</string>
            <key>size</key>
            <string>{390,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f3238f82b905cd997a9cb697af2ce25:47f1f4dd8a953859141369a077b6599f:ed76a01296dfb25816a9b6081a9d4f14$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_11-uhd.png</string>
        </dict>
    </dict>
</plist>
