<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_388_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,122}</string>
                <key>spriteSourceSize</key>
                <string>{144,122}</string>
                <key>textureRect</key>
                <string>{{269,1},{144,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_388_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,112}</string>
                <key>spriteSourceSize</key>
                <string>{134,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_388_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{415,1},{84,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_388_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,130}</string>
                <key>spriteSourceSize</key>
                <string>{152,130}</string>
                <key>textureRect</key>
                <string>{{115,1},{152,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_388-uhd.png</string>
            <key>size</key>
            <string>{486,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82e3a66308bbc5d3d5edc1d337846e1:bb3588ed232cd09dec79abb3005d3bab:d2faea1c79f3c7f11946c91e5012edc9$</string>
            <key>textureFileName</key>
            <string>icons/player_388-uhd.png</string>
        </dict>
    </dict>
</plist>
