<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_168_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,124}</string>
                <key>textureRect</key>
                <string>{{136,2},{131,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_168_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{262,2},{129,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_168_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,15}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{127,62}</string>
                <key>textureRect</key>
                <string>{{262,126},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_168_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,132}</string>
                <key>spriteSourceSize</key>
                <string>{139,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{139,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_168-uhd.png</string>
            <key>size</key>
            <string>{393,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a9e6619276bf3171768600d7127ed1d:f8576c29a03c4496bd71bd46dd62d4b5:2eb8a4a60ec9e24dd53e95c862a30f2f$</string>
            <key>textureFileName</key>
            <string>icons/player_168-uhd.png</string>
        </dict>
    </dict>
</plist>
