<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_102_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{1,149},{138,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_102_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,130}</string>
                <key>textureRect</key>
                <string>{{1,289},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_102_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{123,128}</string>
                <key>textureRect</key>
                <string>{{117,289},{111,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_102_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_102-uhd.png</string>
            <key>size</key>
            <string>{228,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4043b0556c02930287578ecbeb55ece:f5ad2cac154d425aeabade92baca06b5:4cdb778bf70d66a0532c619abf87e28a$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_102-uhd.png</string>
        </dict>
    </dict>
</plist>
