<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_226_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{132,2},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_226_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{102,114}</string>
                <key>textureRect</key>
                <string>{{132,128},{102,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_226_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{128,134}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_226-uhd.png</string>
            <key>size</key>
            <string>{254,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358220a34bd488a70629114ae542e159:ebd04bda01d4f81a235e4368275d56bb:c12e459dedc1a241f729ae91cdb83f2b$</string>
            <key>textureFileName</key>
            <string>icons/player_226-uhd.png</string>
        </dict>
    </dict>
</plist>
