<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_128_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{136,2},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_128_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{262,2},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_128_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{380,2},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_128_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_128-uhd.png</string>
            <key>size</key>
            <string>{466,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcb27396053427ddc59ef87dbe78befd:87405c2e5f92eddb7301f0ac6f057a5e:36f32b32153f0c3576832548d8a6d8f4$</string>
            <key>textureFileName</key>
            <string>icons/player_128-uhd.png</string>
        </dict>
    </dict>
</plist>
