<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_217_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_217_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{124,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_217_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{2,124},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_217-uhd.png</string>
            <key>size</key>
            <string>{246,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ea482c06ead6b9fc6d409e13432247c:60c93826aabeb327a45c73b4536992db:b8256946125e2e8a65d5016e2cd56850$</string>
            <key>textureFileName</key>
            <string>icons/player_217-uhd.png</string>
        </dict>
    </dict>
</plist>
