<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_162_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{134,2},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_162_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{2,136},{115,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_162_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,128}</string>
                <key>textureRect</key>
                <string>{{134,128},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_162_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_162-uhd.png</string>
            <key>size</key>
            <string>{258,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cd3dc259ff95722e12324b020d2b7a1:5d0ad882b029c81d38f4c9a0282a9063:12bea7429482bbfec8ffa1b93830abd3$</string>
            <key>textureFileName</key>
            <string>icons/player_162-uhd.png</string>
        </dict>
    </dict>
</plist>
