<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_163_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{134,2},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_163_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{2,136},{115,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_163_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,128}</string>
                <key>textureRect</key>
                <string>{{134,128},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_163_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_163-uhd.png</string>
            <key>size</key>
            <string>{258,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d104e976381ca1ea5357b223c95811:38f44b456c93f2a7ce25f5ea6718f88c:3f62f20f40d1c74fd51acf6b2b90739e$</string>
            <key>textureFileName</key>
            <string>icons/player_163-uhd.png</string>
        </dict>
    </dict>
</plist>
