<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_385_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_385_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{131,123},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_385_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,108}</string>
                <key>textureRect</key>
                <string>{{1,133},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_385_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_385-uhd.png</string>
            <key>size</key>
            <string>{254,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9a422103e85978835283c99c730b07:485505f95ab6e8088b33564e5e1d50f3:46e05e8122d61d6b3d7f7d3df04f5f4a$</string>
            <key>textureFileName</key>
            <string>icons/player_385-uhd.png</string>
        </dict>
    </dict>
</plist>
