<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_205_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{134,2},{128,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_205_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,112}</string>
                <key>spriteSourceSize</key>
                <string>{104,112}</string>
                <key>textureRect</key>
                <string>{{258,2},{104,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_205_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{258,108},{62,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_205_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{136,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_205-uhd.png</string>
            <key>size</key>
            <string>{372,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b05f338d419b21a5244dac6b1356d85d:902abfd4e7244fea721fddd6166f6cb1:6afe8c8798827c5e1ee5b9a28c81be86$</string>
            <key>textureFileName</key>
            <string>icons/player_205-uhd.png</string>
        </dict>
    </dict>
</plist>
