<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_52_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{138,146}</string>
                <key>textureRect</key>
                <string>{{146,2},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_52_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,134}</string>
                <key>textureRect</key>
                <string>{{406,2},{118,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_52_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{122,134}</string>
                <key>spriteSourceSize</key>
                <string>{126,134}</string>
                <key>textureRect</key>
                <string>{{282,2},{122,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_52_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{2,2},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_52-uhd.png</string>
            <key>size</key>
            <string>{512,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96c23c58b8757134666080d975727c2c:a2e366cf7bf8650d2532ce19a90fab59:dcf7024ba84295377be60614c46086d6$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_52-uhd.png</string>
        </dict>
    </dict>
</plist>
