<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_227_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{126,148}</string>
                <key>textureRect</key>
                <string>{{148,2},{126,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_227_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{116,126}</string>
                <key>spriteSourceSize</key>
                <string>{118,138}</string>
                <key>textureRect</key>
                <string>{{286,2},{116,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_227_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,35}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{83,104}</string>
                <key>textureRect</key>
                <string>{{404,2},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_227_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{134,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{2,2},{134,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_227-uhd.png</string>
            <key>size</key>
            <string>{439,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d93f5626a34e49f356d4c2313948ab21:c3a9975e45a8d0689e366064a4f0807a:7ac66f532b17655ac16c81261cc3e53f$</string>
            <key>textureFileName</key>
            <string>icons/player_227-uhd.png</string>
        </dict>
    </dict>
</plist>
