<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_80_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_80_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,110}</string>
                <key>textureRect</key>
                <string>{{130,132},{118,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_80_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{134,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_80-uhd.png</string>
            <key>size</key>
            <string>{236,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea7ea5dc73029fdf5f625295657985a:037631ec0f76fe2385677b5820d3c770:f663db6fa5cb019946f6cdbe31ce60c9$</string>
            <key>textureFileName</key>
            <string>icons/player_80-uhd.png</string>
        </dict>
    </dict>
</plist>
