<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_371_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{136,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_371_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{112,84}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{139,133},{112,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_371_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{108,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{147,1},{108,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_371_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{144,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_371-uhd.png</string>
            <key>size</key>
            <string>{224,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a125d774ecc5844035f97c7d29d8dfea:48935a9887e0d3b37ee0ed47129065a9:b9570b2fd11a410339e359d85b3ec5a3$</string>
            <key>textureFileName</key>
            <string>icons/player_371-uhd.png</string>
        </dict>
    </dict>
</plist>
