<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_151_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{120,134}</string>
                <key>spriteSourceSize</key>
                <string>{120,146}</string>
                <key>textureRect</key>
                <string>{{132,2},{120,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_151_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{132,138},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_151_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{108,6}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{2,146},{108,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_151_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_151-uhd.png</string>
            <key>size</key>
            <string>{254,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f440193f646ce19e4ea241aa34ae5e15:1be8d162b26834b475d8a6a238a007c7:99bbcc4d4c1d0a4d22b1fb82d2a567a9$</string>
            <key>textureFileName</key>
            <string>icons/player_151-uhd.png</string>
        </dict>
    </dict>
</plist>
