<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_63_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1,159},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_63_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1,309},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_63_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,118}</string>
                <key>textureRect</key>
                <string>{{89,309},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_63_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_63-uhd.png</string>
            <key>size</key>
            <string>{158,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa466c22e38e84032afdd376792ec72:54551447c6a081742a874556c42ab39a:89ca4d863a2208b1c6c5b7a47f9a0653$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_63-uhd.png</string>
        </dict>
    </dict>
</plist>
