<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_75_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_75_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,30}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,86}</string>
                <key>textureRect</key>
                <string>{{124,132},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_75_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_75-uhd.png</string>
            <key>size</key>
            <string>{151,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94076f84d60079727afdc69a38bc870a:d68fb42504547daf9227d265428be00a:d54891370de11f2b1227cc363e132bf1$</string>
            <key>textureFileName</key>
            <string>icons/player_75-uhd.png</string>
        </dict>
    </dict>
</plist>
