<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_236_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{122,132}</string>
                <key>spriteSourceSize</key>
                <string>{122,140}</string>
                <key>textureRect</key>
                <string>{{2,144},{122,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_236_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{101,130}</string>
                <key>textureRect</key>
                <string>{{2,278},{93,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_236_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{130,148}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_236-uhd.png</string>
            <key>size</key>
            <string>{134,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c4e8291839cd65923c7fe593534ea9:65057209eaf40f5c2456a24cfc34984d:4e1b6282734f015fdc9e443b88f67cc9$</string>
            <key>textureFileName</key>
            <string>icons/player_236-uhd.png</string>
        </dict>
    </dict>
</plist>
