<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_91_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,144}</string>
                <key>textureRect</key>
                <string>{{143,1},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_91_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{122,132}</string>
                <key>textureRect</key>
                <string>{{277,1},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_91_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{277,135},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_91_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_91-uhd.png</string>
            <key>size</key>
            <string>{408,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ca343cfc533e339829fa5d9c3558db:f064f693a7679082f2311749959b0b50:d598ce2c6c91c21dd69636b5d4357363$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_91-uhd.png</string>
        </dict>
    </dict>
</plist>
