<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_82_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{155,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_82_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{301,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_82_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{301,137},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_82_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_82-uhd.png</string>
            <key>size</key>
            <string>{436,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abdaca89a2f449f330380dbe0e2490fd:52bb962afbdade6846484786b7f0a6dd:83cf070fd36445358fb7901b3d830fed$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_82-uhd.png</string>
        </dict>
    </dict>
</plist>
