<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_438_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{125,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{136,1},{125,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_438_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{115,128}</string>
                <key>spriteSourceSize</key>
                <string>{119,128}</string>
                <key>textureRect</key>
                <string>{{263,1},{115,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_438_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,37}</string>
                <key>spriteSize</key>
                <string>{101,52}</string>
                <key>spriteSourceSize</key>
                <string>{107,126}</string>
                <key>textureRect</key>
                <string>{{263,118},{101,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_438_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_438-uhd.png</string>
            <key>size</key>
            <string>{392,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c702b677c625fcf05a293db44b3d3c0:f09bfa530164f0b7b4c309fba71d4aa0:5c9b25fa529839fdf016a4a012631664$</string>
            <key>textureFileName</key>
            <string>icons/player_438-uhd.png</string>
        </dict>
    </dict>
</plist>
