<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_39_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{132,2},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_39_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{132,124},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_39_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_39-uhd.png</string>
            <key>size</key>
            <string>{255,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1714db08866cbad90bd9e545cb9d0b40:230cb18c9bf144245fe94b631b07e700:09c306ae76b2e8500e388096ae45b059$</string>
            <key>textureFileName</key>
            <string>icons/player_39-uhd.png</string>
        </dict>
    </dict>
</plist>
