<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_186_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{121,126}</string>
                <key>spriteSourceSize</key>
                <string>{121,130}</string>
                <key>textureRect</key>
                <string>{{133,2},{121,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_186_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{49,32}</string>
                <key>spriteSourceSize</key>
                <string>{49,72}</string>
                <key>textureRect</key>
                <string>{{133,130},{49,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_186_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{2,2},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_186-uhd.png</string>
            <key>size</key>
            <string>{256,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b08d875adc3db2a9b226c12504e291a:ad0fcdf1d2438b2567e9303e7448a8ef:04d538ee9e2d28bc76a8c9f3c65a68dd$</string>
            <key>textureFileName</key>
            <string>icons/player_186-uhd.png</string>
        </dict>
    </dict>
</plist>
