<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_115_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,122}</string>
                <key>textureRect</key>
                <string>{{2,132},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_115_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{128,132},{118,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_115_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{113,70}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{136,2},{113,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_115_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_115-uhd.png</string>
            <key>size</key>
            <string>{246,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c68026dc05e7c4903a1cba333d78a91a:b965853c7b8160617f6d0fd70250968b:981976546fd7fc3af802a858fd65f398$</string>
            <key>textureFileName</key>
            <string>icons/player_115-uhd.png</string>
        </dict>
    </dict>
</plist>
