<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_193_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{2,134},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_193_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{103,76}</string>
                <key>spriteSourceSize</key>
                <string>{109,76}</string>
                <key>textureRect</key>
                <string>{{2,258},{103,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_193_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_193-uhd.png</string>
            <key>size</key>
            <string>{134,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb3ea7db45d195967367ee5c97a36b3:1caf583218b779cbfce672afa92a99fb:5d3ba5259d836cf0a24bff08dcb63ff3$</string>
            <key>textureFileName</key>
            <string>icons/player_193-uhd.png</string>
        </dict>
    </dict>
</plist>
