<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_478_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_478_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{127,133},{110,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_478_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{135,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_478_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{132,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_478-uhd.png</string>
            <key>size</key>
            <string>{244,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc9a7cbb195cbb7b9af0fdc0b613b23:05630fd3a0c8cd5bd1fda23cb7684d13:b2d1aabc62d0640c00932e4fdad7c7cc$</string>
            <key>textureFileName</key>
            <string>icons/player_478-uhd.png</string>
        </dict>
    </dict>
</plist>
