<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_172_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{133,122}</string>
                <key>textureRect</key>
                <string>{{141,2},{129,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_172_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{119,114}</string>
                <key>spriteSourceSize</key>
                <string>{123,114}</string>
                <key>textureRect</key>
                <string>{{265,2},{119,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_172_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{137,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_172-uhd.png</string>
            <key>size</key>
            <string>{381,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d77112860d69f3a43ae46dca4566b350:d010e47f15eaf436c5033ed7bddc2173:923efb35875fa01e3211d10892305ca2$</string>
            <key>textureFileName</key>
            <string>icons/player_172-uhd.png</string>
        </dict>
    </dict>
</plist>
