<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_271_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,122}</string>
                <key>textureRect</key>
                <string>{{1,131},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_271_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{123,131},{110,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_271_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,40}</string>
                <key>spriteSize</key>
                <string>{108,30}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{133,1},{108,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_271_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_271-uhd.png</string>
            <key>size</key>
            <string>{234,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d528d59e0b93182e77a10ca5871741d:0749a2c6666d8490c41a557e12f30121:312531e313fff1778b734f53d10e7d66$</string>
            <key>textureFileName</key>
            <string>icons/player_271-uhd.png</string>
        </dict>
    </dict>
</plist>
