<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_122_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{2,134},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_122_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{2,258},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_122_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_122-uhd.png</string>
            <key>size</key>
            <string>{134,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfc2b881c3ed4ead663c92cdf959fd86:1e8d60a579ec33b7fda448cfb94b3df9:a91cc7108d60b369d8876bd3ef77ca05$</string>
            <key>textureFileName</key>
            <string>icons/player_122-uhd.png</string>
        </dict>
    </dict>
</plist>
