<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_97_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{2,142},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_97_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{134,88}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{152,2},{134,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_97_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,108}</string>
                <key>textureRect</key>
                <string>{{152,138},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_97_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{148,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,146}</string>
                <key>textureRect</key>
                <string>{{2,2},{148,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_97-uhd.png</string>
            <key>size</key>
            <string>{242,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8f8d4308bb094b861720fbce979f1f:84b5af196d238516d3c2623cbeee3ab0:53c1c6311a1ad90d040dba7c4c056dfa$</string>
            <key>textureFileName</key>
            <string>icons/player_97-uhd.png</string>
        </dict>
    </dict>
</plist>
