<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_219_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_219_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{111,86}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{124,132},{111,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_219_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_219-uhd.png</string>
            <key>size</key>
            <string>{212,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbba3890e932c6521af45cdcd2e8d726:a68fc6f527fdbf3b57bbf3e4fa3eea81:6773a853df540e3424910f1412c245ef$</string>
            <key>textureFileName</key>
            <string>icons/player_219-uhd.png</string>
        </dict>
    </dict>
</plist>
