<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_ball_54_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,144}</string>
                <key>textureRect</key>
                <string>{{1,137},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_ball_54_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,132}</string>
                <key>textureRect</key>
                <string>{{131,137},{118,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_54_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{139,1},{112,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_ball_54_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{136,134}</string>
                <key>spriteSourceSize</key>
                <string>{136,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_ball_54-uhd.png</string>
            <key>size</key>
            <string>{244,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:202fe24d14d959a8a786c4ee290546b1:480611f993c2ee39693f1ea265fe8adb:3f8da60e0fbff0a044a76cb69ad2bafc$</string>
            <key>textureFileName</key>
            <string>icons/player_ball_54-uhd.png</string>
        </dict>
    </dict>
</plist>
