<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_426_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{133,1},{121,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_426_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,98}</string>
                <key>spriteSourceSize</key>
                <string>{111,98}</string>
                <key>textureRect</key>
                <string>{{133,124},{111,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_426_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{110,96}</string>
                <key>textureRect</key>
                <string>{{1,131},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_426_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_426-uhd.png</string>
            <key>size</key>
            <string>{254,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ab18b5b667347201064bbb92493f2a:55cda5919ea0c892e437ca98977bd9b0:2e87d62088774c1e5cfd52d6956d38f7$</string>
            <key>textureFileName</key>
            <string>icons/player_426-uhd.png</string>
        </dict>
    </dict>
</plist>
