<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_233_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{142,2},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_233_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,118}</string>
                <key>spriteSourceSize</key>
                <string>{138,118}</string>
                <key>textureRect</key>
                <string>{{2,2},{138,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_233_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{284,2},{150,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_233-uhd.png</string>
            <key>size</key>
            <string>{436,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfcbee5339a0d94b7c0acb3478fddf2:1efed4a3feba2377dbac4db49275a01d:4e78a432b41dd646ace4c1c240f055ae$</string>
            <key>textureFileName</key>
            <string>icons/player_233-uhd.png</string>
        </dict>
    </dict>
</plist>
