<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_482_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{120,122}</string>
                <key>textureRect</key>
                <string>{{2,132},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_482_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{124,132},{110,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_482_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,78}</string>
                <key>textureRect</key>
                <string>{{134,2},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_482_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_482-uhd.png</string>
            <key>size</key>
            <string>{236,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d5309fde8eacfe609a77d837a0c86dc:cc30d8cbf3e6790816d51e03886d2eea:3d96aada23626fa4a7cbfccbf280b733$</string>
            <key>textureFileName</key>
            <string>icons/player_482-uhd.png</string>
        </dict>
    </dict>
</plist>
