<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_16_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,7}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{130,124}</string>
                <key>textureRect</key>
                <string>{{2,122},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_16_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,114}</string>
                <key>textureRect</key>
                <string>{{2,234},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_16_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{50,16}</string>
                <key>spriteSourceSize</key>
                <string>{120,16}</string>
                <key>textureRect</key>
                <string>{{64,426},{50,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_16_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,7}</string>
                <key>spriteSize</key>
                <string>{121,118}</string>
                <key>spriteSourceSize</key>
                <string>{137,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{121,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_16_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{66,366},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_16_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{118,122},{6,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_16_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{2,338},{45,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_16_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{64,406},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_16_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{118,122},{6,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_16_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{66,338},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_16_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{2,433},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_16_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{82,426},{46,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_16_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{2,385},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_16-uhd.png</string>
            <key>size</key>
            <string>{126,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a0d62e1f6ef1994837c509488f4cc5:8180f6af1c4db644f5a6eba67235c9ab:2551965529e6703af782569b41df8035$</string>
            <key>textureFileName</key>
            <string>icons/robot_16-uhd.png</string>
        </dict>
    </dict>
</plist>
