<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_45_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{106,126}</string>
                <key>textureRect</key>
                <string>{{121,1},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_45_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,116}</string>
                <key>textureRect</key>
                <string>{{227,1},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_45_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,24}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,114}</string>
                <key>textureRect</key>
                <string>{{325,1},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_45_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{114,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_45_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{459,57},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_45_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{16,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{389,93},{16,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_45_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{325,69},{46,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_45_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{389,73},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_45_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{441,73},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_45_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{399,45},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_45_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{463,1},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_45_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{227,105},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_45_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{399,1},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_45-uhd.png</string>
            <key>size</key>
            <string>{498,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:938f5f17f91cf75abf35023f8df78685:a43589d8d1f4fb79fcb913fa2c6ab3a7:f0cfa6eee1ba6517fa6bf1db28e2eab7$</string>
            <key>textureFileName</key>
            <string>icons/robot_45-uhd.png</string>
        </dict>
    </dict>
</plist>
