<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_65_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{107,86}</string>
                <key>spriteSourceSize</key>
                <string>{111,86}</string>
                <key>textureRect</key>
                <string>{{1,97},{107,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{97,76}</string>
                <key>spriteSourceSize</key>
                <string>{101,76}</string>
                <key>textureRect</key>
                <string>{{1,185},{97,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{95,30}</string>
                <key>spriteSourceSize</key>
                <string>{99,70}</string>
                <key>textureRect</key>
                <string>{{1,317},{95,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{115,94}</string>
                <key>spriteSourceSize</key>
                <string>{119,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{63,334},{44,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{118,1},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1,263},{52,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_65_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{20,62}</string>
                <key>spriteSourceSize</key>
                <string>{20,64}</string>
                <key>textureRect</key>
                <string>{{100,185},{20,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{10,48}</string>
                <key>spriteSourceSize</key>
                <string>{10,52}</string>
                <key>textureRect</key>
                <string>{{110,97},{10,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{33,317},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{63,380},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{118,1},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_65_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{69,263},{69,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_65-uhd.png</string>
            <key>size</key>
            <string>{125,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd84fe855347c18229d8a344e58039b4:e93d3e01a5bb9cb0ad7593207d37b639:d436a47768b79bee3d4136bd956c8842$</string>
            <key>textureFileName</key>
            <string>icons/robot_65-uhd.png</string>
        </dict>
    </dict>
</plist>
