<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_07_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{132,112}</string>
                <key>spriteSourceSize</key>
                <string>{138,126}</string>
                <key>textureRect</key>
                <string>{{2,124},{132,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{118,122}</string>
                <key>textureRect</key>
                <string>{{144,2},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{146,134}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{200,200},{50,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_07_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{216,96},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{136,140},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{236,96},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{2,238},{14,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{196,140},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,34}</string>
                <key>textureRect</key>
                <string>{{136,204},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{224,148},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{76,42}</string>
                <key>textureRect</key>
                <string>{{144,96},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_07-uhd.png</string>
            <key>size</key>
            <string>{256,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebc6a52c16605136b95f149ca53ca4f:d0f1f61ce833dca9957dc9be09f876f4:224fcef68b6ecfbe2e50e63d487ed661$</string>
            <key>textureFileName</key>
            <string>icons/robot_07-uhd.png</string>
        </dict>
    </dict>
</plist>
