<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_59_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{114,98}</string>
                <key>spriteSourceSize</key>
                <string>{114,104}</string>
                <key>textureRect</key>
                <string>{{1,109},{114,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{1,209},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-5}</string>
                <key>spriteSize</key>
                <string>{42,80}</string>
                <key>spriteSourceSize</key>
                <string>{106,90}</string>
                <key>textureRect</key>
                <string>{{1,303},{42,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_59_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{122,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{83,303},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{85,423},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{1,391},{46,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_59_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{65,423},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{109,209},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{65,395},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_59_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{67,359},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{1,439},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_59_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{1,347},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_59-uhd.png</string>
            <key>size</key>
            <string>{124,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e20967def22fc536ac7b8a90d7d80a2:c41ba57d33b0a0a8e21ffa2721b985ee:3f01b346ba5db43291a50d6c01a351df$</string>
            <key>textureFileName</key>
            <string>icons/robot_59-uhd.png</string>
        </dict>
    </dict>
</plist>
