<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_35_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{1,359},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_35_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,154}</string>
                <key>textureRect</key>
                <string>{{1,135},{114,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_35_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,23}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{122,152}</string>
                <key>textureRect</key>
                <string>{{1,251},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_35_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_35_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{1,533},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_35_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{113,385},{14,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_35_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{67,461},{46,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_35_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{55,545},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_35_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{113,359},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_35_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{1,505},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_35_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{61,509},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_35_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{115,251},{46,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_35_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{1,461},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_35-uhd.png</string>
            <key>size</key>
            <string>{128,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f548093b65c5597846079bff5f3779c2:71d53866e28f253ac064e22836c6a2d5:1c6d399c0576dac2490a642090f1867c$</string>
            <key>textureFileName</key>
            <string>icons/robot_35-uhd.png</string>
        </dict>
    </dict>
</plist>
