<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_38_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{148,108}</string>
                <key>textureRect</key>
                <string>{{1,111},{140,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_38_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,102}</string>
                <key>textureRect</key>
                <string>{{151,1},{132,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_38_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,23}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{157,227},{24,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_38_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{156,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{103,175},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{213,197},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{103,111},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{103,229},{20,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_38_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{191,227},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{217,135},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{143,179},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_38_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{201,179},{46,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_38_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{151,135},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_38-uhd.png</string>
            <key>size</key>
            <string>{246,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:348f7ad3ee9862e4f7b0ca64661409ba:d8739b7529498d4efb422eadb90a1e8e:ec7a8e15484782b226c6f46f10419026$</string>
            <key>textureFileName</key>
            <string>icons/robot_38-uhd.png</string>
        </dict>
    </dict>
</plist>
