<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_28_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{133,1},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{110,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{257,1},{110,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{63,91},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{130,88}</string>
                <key>spriteSourceSize</key>
                <string>{142,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{203,81},{42,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{331,73},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{263,73},{50,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{379,63},{20,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{331,111},{14,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{369,1},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,34}</string>
                <key>textureRect</key>
                <string>{{1,91},{60,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_28_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{105,91},{24,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_28_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{68,42}</string>
                <key>textureRect</key>
                <string>{{133,81},{68,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_28-uhd.png</string>
            <key>size</key>
            <string>{400,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa616ad76e81e6fab23b27b6eeae1073:a7b234112bd4f163aa9da597f523f86d:677df4c74a53124cc214534bcaed9fcc$</string>
            <key>textureFileName</key>
            <string>icons/robot_28-uhd.png</string>
        </dict>
    </dict>
</plist>
