<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_24_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{109,118}</string>
                <key>spriteSourceSize</key>
                <string>{125,140}</string>
                <key>textureRect</key>
                <string>{{2,2},{109,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{119,76}</string>
                <key>textureRect</key>
                <string>{{2,241},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{117,126}</string>
                <key>spriteSourceSize</key>
                <string>{133,148}</string>
                <key>textureRect</key>
                <string>{{2,113},{117,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{86,357},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{66,365},{16,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{2,357},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{66,313},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{50,357},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{91,297},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{91,241},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_24_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{50,405},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_24_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{2,313},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_24-uhd.png</string>
            <key>size</key>
            <string>{127,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:838727c81520cda754a894a6a995cc10:adb5b160eacb39f739d5c68bf66273dd:7a0ac099a7e007d7d1cf4bd5627e07f2$</string>
            <key>textureFileName</key>
            <string>icons/robot_24-uhd.png</string>
        </dict>
    </dict>
</plist>
