<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_61_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,94}</string>
                <key>textureRect</key>
                <string>{{1,97},{118,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{110,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,86}</string>
                <key>textureRect</key>
                <string>{{1,185},{110,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,26}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1,303},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{126,94}</string>
                <key>spriteSourceSize</key>
                <string>{136,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{73,273},{42,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{38,10}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{113,233},{38,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{1,345},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{107,345},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{113,185},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_61_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{67,317},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,34}</string>
                <key>textureRect</key>
                <string>{{53,345},{62,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{56,16}</string>
                <key>spriteSourceSize</key>
                <string>{58,28}</string>
                <key>textureRect</key>
                <string>{{89,345},{56,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_61_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{1,259},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_61-uhd.png</string>
            <key>size</key>
            <string>{128,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5be5aed627d79ab40d3c7ab8a27ba5f:9691b6d0392816ece1b96eef1ac22514:387f0fca2f0ce609fae45c5a93191577$</string>
            <key>textureFileName</key>
            <string>icons/robot_61-uhd.png</string>
        </dict>
    </dict>
</plist>
