<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_29_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{115,92}</string>
                <key>spriteSourceSize</key>
                <string>{115,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{115,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{105,84}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{1,197},{105,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{105,88}</string>
                <key>textureRect</key>
                <string>{{1,283},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{123,100}</string>
                <key>spriteSourceSize</key>
                <string>{123,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{47,434},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{1,442},{34,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{66,283},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{99,419},{20,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{108,197},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{66,335},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{67,36}</string>
                <key>textureRect</key>
                <string>{{47,367},{65,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{85,363},{54,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_29_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{73,44}</string>
                <key>spriteSourceSize</key>
                <string>{75,44}</string>
                <key>textureRect</key>
                <string>{{1,367},{73,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_29-uhd.png</string>
            <key>size</key>
            <string>{125,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:260b7f6cf1fcf6c02df74b1d8a51ddb7:cda9079b7db7c8f8a5e0c0433c1e0aa2:9a386296f9ec428c808a12aa3e9666e7$</string>
            <key>textureFileName</key>
            <string>icons/robot_29-uhd.png</string>
        </dict>
    </dict>
</plist>
