<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_63_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{108,92}</string>
                <key>textureRect</key>
                <string>{{1,97},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{88,70}</string>
                <key>textureRect</key>
                <string>{{1,185},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,2}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{48,14}</string>
                <key>textureRect</key>
                <string>{{117,1},{12,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_63_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{89,197},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{107,317},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_63_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{1,297},{46,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_63_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{109,97},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{109,149},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{69,289},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_63_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{69,253},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{65,317},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_63_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{66,42}</string>
                <key>textureRect</key>
                <string>{{1,253},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_63-uhd.png</string>
            <key>size</key>
            <string>{128,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13cb576b61f8c7153b73eff6e8365fcb:7ca8e8c30abeb35d14aebff837a1f244:8079768fbecdb31b743cf31aa324bc82$</string>
            <key>textureFileName</key>
            <string>icons/robot_63-uhd.png</string>
        </dict>
    </dict>
</plist>
