<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_56_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,118}</string>
                <key>textureRect</key>
                <string>{{115,1},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_56_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{1,141},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_56_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,14}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{115,107},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{138,112}</string>
                <key>spriteSourceSize</key>
                <string>{138,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{123,199},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{229,215},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_56_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{159,107},{46,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{177,215},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{177,199},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{223,107},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_56_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{123,141},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{223,167},{46,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_56_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{159,155},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_56-uhd.png</string>
            <key>size</key>
            <string>{250,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff2e014451d82f65e82a67bb09c49fd:510f4367eba8c1914b482c36fb2099a4:ac95313eba12dbeeb27cdb6340aaf0ce$</string>
            <key>textureFileName</key>
            <string>icons/robot_56-uhd.png</string>
        </dict>
    </dict>
</plist>
