<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_41_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{194,94}</string>
                <key>spriteSourceSize</key>
                <string>{210,94}</string>
                <key>textureRect</key>
                <string>{{207,1},{194,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_41_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,60}</string>
                <key>textureRect</key>
                <string>{{1,105},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,5}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{166,80}</string>
                <key>textureRect</key>
                <string>{{1,167},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{204,102}</string>
                <key>spriteSourceSize</key>
                <string>{218,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{193,197},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_41_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{249,197},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{81,167},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{281,197},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{129,227},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_41_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{129,167},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{157,177},{62,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_41_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,28}</string>
                <key>textureRect</key>
                <string>{{81,231},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_41_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,42}</string>
                <key>textureRect</key>
                <string>{{163,105},{70,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_41-uhd.png</string>
            <key>size</key>
            <string>{302,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:396cb2cd34dda5e8ff2a7af668988a3e:2a7a758a9c3728608f98182346727021:572f86bb1dd15d0294dd946ba9278a66$</string>
            <key>textureFileName</key>
            <string>icons/robot_41-uhd.png</string>
        </dict>
    </dict>
</plist>
