<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_42_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{145,1},{134,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{132,124}</string>
                <key>textureRect</key>
                <string>{{281,1},{124,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_42_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,11}</string>
                <key>spriteSize</key>
                <string>{72,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,122}</string>
                <key>textureRect</key>
                <string>{{391,1},{72,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{142,124}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{561,1},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{563,55},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{511,1},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{391,103},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_42_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{443,103},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_42_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{465,73},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_42_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{525,63},{62,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_42_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{469,101},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_42_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{70,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,44}</string>
                <key>textureRect</key>
                <string>{{465,1},{70,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_42-uhd.png</string>
            <key>size</key>
            <string>{600,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30401a786e19bfab7e6aefe49602a872:0a7073faa7d9a2bab34c65a5d9937596:5705aac2e2e61c267f24f77021b2df09$</string>
            <key>textureFileName</key>
            <string>icons/robot_42-uhd.png</string>
        </dict>
    </dict>
</plist>
