<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_44_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{146,102}</string>
                <key>spriteSourceSize</key>
                <string>{164,114}</string>
                <key>textureRect</key>
                <string>{{141,1},{146,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{1,157},{138,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,23}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{152,104}</string>
                <key>textureRect</key>
                <string>{{179,105},{136,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_44_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{154,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_44_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{239,191},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{113,61},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{113,105},{50,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_44_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{239,105},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_44_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{141,215},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{113,1},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{141,157},{56,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_44_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{141,243},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_44_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{239,125},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_44-uhd.png</string>
            <key>size</key>
            <string>{290,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f27290fe7f04beb148fa3f38a97c338:7b05af75118b438f18c57b2b0b18930c:99ba473d5a75a87597c24580b81f40fe$</string>
            <key>textureFileName</key>
            <string>icons/robot_44-uhd.png</string>
        </dict>
    </dict>
</plist>
