<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_53_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{176,112}</string>
                <key>textureRect</key>
                <string>{{113,1},{148,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_53_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{138,92}</string>
                <key>spriteSourceSize</key>
                <string>{168,102}</string>
                <key>textureRect</key>
                <string>{{1,159},{138,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-1}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{141,151},{44,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{156,110}</string>
                <key>spriteSourceSize</key>
                <string>{184,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_53_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{217,51},{44,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_53_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{241,139},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{54,70}</string>
                <key>textureRect</key>
                <string>{{187,151},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{141,235},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_53_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{269,193},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{241,193},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{54,40}</string>
                <key>textureRect</key>
                <string>{{217,97},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{193,221},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_53_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{217,1},{62,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_53-uhd.png</string>
            <key>size</key>
            <string>{284,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f62cc4cfa2beb923fa1edea80559b6b:ff1256676228cd599ec9cb92cc245b40:ba1f81e3d9c09feca346db741bcb5fd0$</string>
            <key>textureFileName</key>
            <string>icons/robot_53-uhd.png</string>
        </dict>
    </dict>
</plist>
