<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_23_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{115,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,106}</string>
                <key>textureRect</key>
                <string>{{127,2},{115,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{109,94}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{127,106},{109,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{123,110}</string>
                <key>spriteSourceSize</key>
                <string>{131,114}</string>
                <key>textureRect</key>
                <string>{{2,2},{123,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{69,189},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,46}</string>
                <key>textureRect</key>
                <string>{{213,202},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{2,114},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{2,176},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{238,106},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{125,202},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_23_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{69,42}</string>
                <key>textureRect</key>
                <string>{{2,202},{65,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{185,202},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_23_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{73,48}</string>
                <key>spriteSourceSize</key>
                <string>{77,50}</string>
                <key>textureRect</key>
                <string>{{69,114},{73,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_23-uhd.png</string>
            <key>size</key>
            <string>{244,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01698da50f3b30d38e96480dfd6d08e8:08e52d090ee1325c08673c4a48bfec99:fd740ed4097916962c74257b7d3417ad$</string>
            <key>textureFileName</key>
            <string>icons/robot_23-uhd.png</string>
        </dict>
    </dict>
</plist>
