<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_12_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{124,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,28}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{241,2},{68,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{131,112}</string>
                <key>spriteSourceSize</key>
                <string>{145,130}</string>
                <key>textureRect</key>
                <string>{{108,2},{131,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{241,72},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{377,36},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{329,2},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{281,72},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{365,66},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{301,68},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_12_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{329,66},{56,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{377,2},{32,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_12_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{285,2},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_12-uhd.png</string>
            <key>size</key>
            <string>{395,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d47538a3be2c50a5190b6b9af70535:98fb96315960d1f6274f00758d2b07fb:688d1f8b52dc3d9458420ae1cd697b29$</string>
            <key>textureFileName</key>
            <string>icons/robot_12-uhd.png</string>
        </dict>
    </dict>
</plist>
