<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_51_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{138,120}</string>
                <key>spriteSourceSize</key>
                <string>{142,130}</string>
                <key>textureRect</key>
                <string>{{131,1},{138,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_51_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{130,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,122}</string>
                <key>textureRect</key>
                <string>{{131,123},{130,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_51_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-2}</string>
                <key>spriteSize</key>
                <string>{70,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,106}</string>
                <key>textureRect</key>
                <string>{{1,149},{70,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_51_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{146,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_51_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{243,201},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_51_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{271,51},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_51_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{243,123},{48,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_51_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{285,201},{20,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_51_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{271,99},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_51_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{243,173},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_51_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,42}</string>
                <key>textureRect</key>
                <string>{{73,149},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_51_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{271,1},{48,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_51_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{73,191},{64,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_51-uhd.png</string>
            <key>size</key>
            <string>{306,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd50ad9ddb499107d59bae1691e1f446:f099256ba63b84b4c6ca180aa802f467:7ed5e6f71cc63a463352c3bc0307a8f5$</string>
            <key>textureFileName</key>
            <string>icons/robot_51-uhd.png</string>
        </dict>
    </dict>
</plist>
