<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_52_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{134,96}</string>
                <key>spriteSourceSize</key>
                <string>{134,112}</string>
                <key>textureRect</key>
                <string>{{1,107},{134,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{126,106}</string>
                <key>textureRect</key>
                <string>{{145,1},{126,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,12}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{122,66}</string>
                <key>textureRect</key>
                <string>{{1,205},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{142,104}</string>
                <key>spriteSourceSize</key>
                <string>{142,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{135,205},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{16,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{237,1},{16,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{207,129},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{197,193},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{237,51},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{137,177},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_52_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{73,205},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{189,213},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_52_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{137,129},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_52-uhd.png</string>
            <key>size</key>
            <string>{254,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3a49e181bffa25dc26323405afb52af:5151847c5186798c52acca08d3522a12:3738b565c54dd7ee45e67becc87dba55$</string>
            <key>textureFileName</key>
            <string>icons/robot_52-uhd.png</string>
        </dict>
    </dict>
</plist>
