<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_49_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,108}</string>
                <key>textureRect</key>
                <string>{{119,1},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{108,100}</string>
                <key>spriteSourceSize</key>
                <string>{112,100}</string>
                <key>textureRect</key>
                <string>{{229,1},{108,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-23}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,98}</string>
                <key>textureRect</key>
                <string>{{441,1},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_49_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{124,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{331,69},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_49_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{441,75},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_49_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{377,69},{52,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{441,55},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{229,111},{14,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{379,41},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,38}</string>
                <key>textureRect</key>
                <string>{{379,1},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_49_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{481,75},{22,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_49_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{331,1},{66,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_49-uhd.png</string>
            <key>size</key>
            <string>{498,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa735ec3f806b1b5010df0452019acb2:936d5857a80b8200dc71c4e2418581ff:6750ed1d4a7ba1267ca757cd19930978$</string>
            <key>textureFileName</key>
            <string>icons/robot_49-uhd.png</string>
        </dict>
    </dict>
</plist>
