<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_55_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{130,116}</string>
                <key>spriteSourceSize</key>
                <string>{136,120}</string>
                <key>textureRect</key>
                <string>{{251,1},{130,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{141,1},{122,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-5}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{108,54}</string>
                <key>textureRect</key>
                <string>{{495,85},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{138,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{463,1},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{507,1},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{383,73},{50,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{475,69},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{495,69},{14,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{447,65},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{427,1},{62,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_55_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-4}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{58,26}</string>
                <key>textureRect</key>
                <string>{{507,49},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_55_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,42}</string>
                <key>textureRect</key>
                <string>{{383,1},{70,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_55-uhd.png</string>
            <key>size</key>
            <string>{542,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069d798c3740dc8f060f9812fa8d212c:473804e1100fb6fd1afa94e06b2436da:813184ed25329633e9502c2aa6f2a780$</string>
            <key>textureFileName</key>
            <string>icons/robot_55-uhd.png</string>
        </dict>
    </dict>
</plist>
