<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_67_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{166,108}</string>
                <key>spriteSourceSize</key>
                <string>{174,122}</string>
                <key>textureRect</key>
                <string>{{177,1},{166,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{152,90}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{345,1},{152,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{461,93},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{174,116}</string>
                <key>spriteSourceSize</key>
                <string>{182,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{547,1},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{563,57},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{499,1},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{543,65},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{177,111},{14,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_67_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{401,93},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_67_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{345,93},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{225,111},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_67_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{499,65},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_67-uhd.png</string>
            <key>size</key>
            <string>{586,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123a9b46b7144cf990f911f01038df2a:f5484f51bca2b09bc0f32811b59c6940:499b7e9c464f1de62922f641d89da2d3$</string>
            <key>textureFileName</key>
            <string>icons/robot_67-uhd.png</string>
        </dict>
    </dict>
</plist>
