<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_14_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{142,124}</string>
                <key>textureRect</key>
                <string>{{116,2},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{136,120}</string>
                <key>textureRect</key>
                <string>{{2,144},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_14_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{202,178},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{240,108},{6,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{172,108},{52,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_14_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{130,226},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_14_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{202,162},{14,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_14_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{130,144},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{116,108},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{240,108},{6,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_14_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{158,162},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_14-uhd.png</string>
            <key>size</key>
            <string>{250,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a70fde21633f8d547962b700d8350bb1:704ffe63f6ef40832a9849ffd0f17475:99c3b854487598bd9a4c196cde40876b$</string>
            <key>textureFileName</key>
            <string>icons/robot_14-uhd.png</string>
        </dict>
    </dict>
</plist>
