<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_46_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{1,107},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_46_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{106,88}</string>
                <key>textureRect</key>
                <string>{{125,1},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-19}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{69,205},{42,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,104}</string>
                <key>spriteSourceSize</key>
                <string>{122,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_46_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{111,205},{38,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{165,233},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_46_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{165,109},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_46_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{145,109},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_46_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{183,233},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{117,173},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{177,173},{58,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{117,109},{50,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_46_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{66,42}</string>
                <key>textureRect</key>
                <string>{{1,205},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_46-uhd.png</string>
            <key>size</key>
            <string>{214,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:904c4b608aa84e7b1aea3f8ecdf420b9:b930e25901c8f25fff467ce797d85130:f4f444db1aa9411f60a8d310943661d0$</string>
            <key>textureFileName</key>
            <string>icons/robot_46-uhd.png</string>
        </dict>
    </dict>
</plist>
