<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_54_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{124,104}</string>
                <key>textureRect</key>
                <string>{{1,115},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1,221},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{114,90}</string>
                <key>textureRect</key>
                <string>{{1,319},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{132,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{73,411},{42,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_54_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{89,455},{34,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{1,455},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,52}</string>
                <key>spriteSourceSize</key>
                <string>{20,52}</string>
                <key>textureRect</key>
                <string>{{61,519},{20,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_54_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{113,221},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_54_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{1,519},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_54_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{53,455},{62,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_54_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-4}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{58,26}</string>
                <key>textureRect</key>
                <string>{{109,319},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_54_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,42}</string>
                <key>textureRect</key>
                <string>{{1,411},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_54-uhd.png</string>
            <key>size</key>
            <string>{128,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad055fb7e35069dcbd94073afffde90:ebe9ce05440ddd96cbe28545140072cd:1b8eb67e3b2f8a2a5e75435be0c48533$</string>
            <key>textureFileName</key>
            <string>icons/robot_54-uhd.png</string>
        </dict>
    </dict>
</plist>
