<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_57_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,112}</string>
                <key>textureRect</key>
                <string>{{1,243},{132,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{124,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1,477},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{140,114}</string>
                <key>spriteSourceSize</key>
                <string>{144,122}</string>
                <key>textureRect</key>
                <string>{{1,101},{140,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{75,377},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{73,441},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{1,419},{56,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{107,243},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{107,295},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{69,483},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_57_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{1,521},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{69,511},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_57_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{1,377},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_57-uhd.png</string>
            <key>size</key>
            <string>{128,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eafff72e0881c1cdaa3d36e30783921:7d2be64b88666062cc19637c8eb19e68:2b86694e341be15c37779b0eb626ce7f$</string>
            <key>textureFileName</key>
            <string>icons/robot_57-uhd.png</string>
        </dict>
    </dict>
</plist>
