<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_43_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{142,100}</string>
                <key>textureRect</key>
                <string>{{149,1},{138,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{134,92}</string>
                <key>textureRect</key>
                <string>{{1,109},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{133,141},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{146,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{73,201},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{193,227},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{46,62}</string>
                <key>textureRect</key>
                <string>{{129,227},{46,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{73,241},{18,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{133,109},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{227,141},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{1,245},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_43_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,28}</string>
                <key>textureRect</key>
                <string>{{227,201},{34,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_43_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,42}</string>
                <key>textureRect</key>
                <string>{{1,201},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_43-uhd.png</string>
            <key>size</key>
            <string>{254,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4005b485d0285b3bbe49925f461069b:ae49161cbc2ecb300e9b2461de10de8a:1a739e5a1d03ee89428a337df0a965b9$</string>
            <key>textureFileName</key>
            <string>icons/robot_43-uhd.png</string>
        </dict>
    </dict>
</plist>
