<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_31_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{150,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,94}</string>
                <key>textureRect</key>
                <string>{{161,1},{150,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_31_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{136,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,86}</string>
                <key>textureRect</key>
                <string>{{1,101},{136,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,4}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{139,153},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{158,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{193,231},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_31_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{61,239},{38,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_31_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{69,185},{52,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_31_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{139,101},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{243,153},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{133,231},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_31_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,38}</string>
                <key>textureRect</key>
                <string>{{1,233},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{243,153},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_31_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{1,185},{66,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_31-uhd.png</string>
            <key>size</key>
            <string>{252,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc67a2788107d669e8cc70693045e008:e3f3de722b9627e5275dee875d779ad0:48b9993f1282689e3052e011d79cce24$</string>
            <key>textureFileName</key>
            <string>icons/robot_31-uhd.png</string>
        </dict>
    </dict>
</plist>
