<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_10_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{154,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,106}</string>
                <key>textureRect</key>
                <string>{{2,166},{154,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_10_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,22}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,96}</string>
                <key>textureRect</key>
                <string>{{2,322},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{162,102}</string>
                <key>spriteSourceSize</key>
                <string>{168,114}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_10_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{74,412},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{106,54},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{2,376},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{106,2},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,46}</string>
                <key>spriteSourceSize</key>
                <string>{14,46}</string>
                <key>textureRect</key>
                <string>{{98,226},{14,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{98,166},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,34}</string>
                <key>textureRect</key>
                <string>{{62,376},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_10_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{106,88},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_10_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{76,42}</string>
                <key>textureRect</key>
                <string>{{2,440},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_10-uhd.png</string>
            <key>size</key>
            <string>{126,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a7b8a40a0ed6ec1140e27649492ece:ee4cd6af9df91471942df9470c462114:cb6823dd8c7bb8a47c8e9701c3d592c2$</string>
            <key>textureFileName</key>
            <string>icons/robot_10-uhd.png</string>
        </dict>
    </dict>
</plist>
