<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_33_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{117,106}</string>
                <key>textureRect</key>
                <string>{{2,114},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,18}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{97,100}</string>
                <key>textureRect</key>
                <string>{{2,296},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{2,218},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{121,110}</string>
                <key>spriteSourceSize</key>
                <string>{125,114}</string>
                <key>textureRect</key>
                <string>{{2,2},{121,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{72,362},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{75,358},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{75,296},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,50}</string>
                <key>spriteSourceSize</key>
                <string>{18,50}</string>
                <key>textureRect</key>
                <string>{{98,218},{18,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{75,358},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{64,416},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_33_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{2,410},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{75,358},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{2,362},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_33-uhd.png</string>
            <key>size</key>
            <string>{125,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d328ad88489eb5f34fd1d0f9e8881f:2e98b1b56b332f6adca67c01dd9f2fed:ceda96703257a8c7b48a2cba38922eaf$</string>
            <key>textureFileName</key>
            <string>icons/robot_33-uhd.png</string>
        </dict>
    </dict>
</plist>
