<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_148_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{154,100}</string>
                <key>spriteSourceSize</key>
                <string>{158,114}</string>
                <key>textureRect</key>
                <string>{{1,111},{154,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_148_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{157,143},{84,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_148_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{140,58}</string>
                <key>spriteSourceSize</key>
                <string>{146,76}</string>
                <key>textureRect</key>
                <string>{{165,1},{140,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_148_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{162,108}</string>
                <key>spriteSourceSize</key>
                <string>{166,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_148-uhd.png</string>
            <key>size</key>
            <string>{224,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eee6d94cde842f77e0e5eec987b3fa3:3f8bd4c43a0f2e97770910803e901fc7:73c812fa627b20ae14de3c19bb16ba24$</string>
            <key>textureFileName</key>
            <string>icons/ship_148-uhd.png</string>
        </dict>
    </dict>
</plist>
