<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_65_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{150,72}</string>
                <key>spriteSourceSize</key>
                <string>{152,92}</string>
                <key>textureRect</key>
                <string>{{2,84},{150,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_65_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{2,158},{142,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_65_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{122,26}</string>
                <key>spriteSourceSize</key>
                <string>{142,42}</string>
                <key>textureRect</key>
                <string>{{2,226},{122,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_65_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{158,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{2,2},{158,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_65-uhd.png</string>
            <key>size</key>
            <string>{162,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fed4366f1dccdf46fe349716777dbdc:a3b8aaa531744c2fcb3b6ae10e7c32d5:edaa4b61908e024064f65d0c50ba3aad$</string>
            <key>textureFileName</key>
            <string>icons/ship_65-uhd.png</string>
        </dict>
    </dict>
</plist>
