<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_101_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{170,72}</string>
                <key>spriteSourceSize</key>
                <string>{172,84}</string>
                <key>textureRect</key>
                <string>{{1,83},{170,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_101_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{148,38}</string>
                <key>spriteSourceSize</key>
                <string>{162,40}</string>
                <key>textureRect</key>
                <string>{{1,215},{148,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_101_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{144,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1,157},{144,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_101_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{178,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_101-uhd.png</string>
            <key>size</key>
            <string>{180,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d904afd00b9b9ee9a775668495ed5ded:14c825b21c691b60a4f00b2eb71fec83:e5331a3ed60daafd5f103b9ac992114c$</string>
            <key>textureFileName</key>
            <string>icons/ship_101-uhd.png</string>
        </dict>
    </dict>
</plist>
