<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_158_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{159,88}</string>
                <key>textureRect</key>
                <string>{{168,1},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_158_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{91,48}</string>
                <key>spriteSourceSize</key>
                <string>{101,80}</string>
                <key>textureRect</key>
                <string>{{327,1},{91,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_158_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,18}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{99,78}</string>
                <key>textureRect</key>
                <string>{{327,51},{85,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_158_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{165,94}</string>
                <key>spriteSourceSize</key>
                <string>{167,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_158-uhd.png</string>
            <key>size</key>
            <string>{419,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a94b3954b5550c5b7d327168e99d69e:acaa3817a77c62bbf1968e5bfee13baf:f5655970ffe5799faddf49e906a6c7fb$</string>
            <key>textureFileName</key>
            <string>icons/ship_158-uhd.png</string>
        </dict>
    </dict>
</plist>
