<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{160,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,108}</string>
                <key>textureRect</key>
                <string>{{2,108},{160,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_10_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{146,64}</string>
                <key>spriteSourceSize</key>
                <string>{146,102}</string>
                <key>textureRect</key>
                <string>{{172,2},{146,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_10_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{176,116}</string>
                <key>textureRect</key>
                <string>{{2,2},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_10-uhd.png</string>
            <key>size</key>
            <string>{238,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b81217cb9f0e33e8ffc47ce36db06b:e125c47d256b1bc2b982564ef1068c82:0f614a13d89955c18e386df79e9e2f26$</string>
            <key>textureFileName</key>
            <string>icons/ship_10-uhd.png</string>
        </dict>
    </dict>
</plist>
