<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_76_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{162,106}</string>
                <key>textureRect</key>
                <string>{{2,96},{162,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_76_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{152,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,98}</string>
                <key>textureRect</key>
                <string>{{174,2},{152,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_76_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,9}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{120,48}</string>
                <key>textureRect</key>
                <string>{{2,182},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_76_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{170,92}</string>
                <key>spriteSourceSize</key>
                <string>{170,114}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_76-uhd.png</string>
            <key>size</key>
            <string>{252,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873fc5cfca94acac1c06057767cb1f76:c0dcd0e8bf7ab126f6be957b5f44a3ec:adcfa854767fcf9a82167698b3d0b8b2$</string>
            <key>textureFileName</key>
            <string>icons/ship_76-uhd.png</string>
        </dict>
    </dict>
</plist>
