<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_16_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{176,90}</string>
                <key>spriteSourceSize</key>
                <string>{180,104}</string>
                <key>textureRect</key>
                <string>{{2,78},{176,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_16_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{168,74}</string>
                <key>spriteSourceSize</key>
                <string>{174,80}</string>
                <key>textureRect</key>
                <string>{{2,2},{168,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_16_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{184,98}</string>
                <key>spriteSourceSize</key>
                <string>{188,112}</string>
                <key>textureRect</key>
                <string>{{2,170},{184,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_16-uhd.png</string>
            <key>size</key>
            <string>{188,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43838f87e360c7b1bda5bb2a80c69599:773123ef6d42da99ff703c11e50ef0ca:6fc4b2bca07e13425658e4949ab0a0b6$</string>
            <key>textureFileName</key>
            <string>icons/ship_16-uhd.png</string>
        </dict>
    </dict>
</plist>
