<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_161_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{175,86}</string>
                <key>spriteSourceSize</key>
                <string>{189,94}</string>
                <key>textureRect</key>
                <string>{{1,97},{175,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_161_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{167,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{1,185},{167,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_161_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-3}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{181,82}</string>
                <key>textureRect</key>
                <string>{{178,97},{93,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_161_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{183,94}</string>
                <key>spriteSourceSize</key>
                <string>{197,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_161-uhd.png</string>
            <key>size</key>
            <string>{255,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b1b821fbf2fa17feef80ca84355e4a0:363160c4b9758bf374cb565e88488e02:ea1f87c204fadee10a5c2b89d7032ea7$</string>
            <key>textureFileName</key>
            <string>icons/ship_161-uhd.png</string>
        </dict>
    </dict>
</plist>
