<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_54_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{152,86}</string>
                <key>textureRect</key>
                <string>{{2,86},{152,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_54_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{146,56}</string>
                <key>textureRect</key>
                <string>{{2,162},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_54_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{160,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,94}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_54-uhd.png</string>
            <key>size</key>
            <string>{164,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a42de0fc08ebf3f8eacddca14f60d79b:c450281fe742301ec3587e2b37238546:c28e22dcb645a1b8033c13a7a1971566$</string>
            <key>textureFileName</key>
            <string>icons/ship_54-uhd.png</string>
        </dict>
    </dict>
</plist>
