<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_68_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{159,74}</string>
                <key>spriteSourceSize</key>
                <string>{169,94}</string>
                <key>textureRect</key>
                <string>{{2,86},{159,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_68_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{157,72}</string>
                <key>spriteSourceSize</key>
                <string>{167,92}</string>
                <key>textureRect</key>
                <string>{{78,86},{157,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_68_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{105,16}</string>
                <key>spriteSourceSize</key>
                <string>{127,30}</string>
                <key>textureRect</key>
                <string>{{152,86},{105,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_68_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{167,82}</string>
                <key>spriteSourceSize</key>
                <string>{177,102}</string>
                <key>textureRect</key>
                <string>{{2,2},{167,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_68-uhd.png</string>
            <key>size</key>
            <string>{171,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aff7be9ecda267c62ad98296f16eecb:00c00bab2873d669b73e2ef58fd82455:09f2fadbed2ce7ddd7e48a4c0615540f$</string>
            <key>textureFileName</key>
            <string>icons/ship_68-uhd.png</string>
        </dict>
    </dict>
</plist>
