<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_124_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,76}</string>
                <key>textureRect</key>
                <string>{{1,87},{174,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_124_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{166,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1,165},{166,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_124_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,0}</string>
                <key>spriteSize</key>
                <string>{62,26}</string>
                <key>spriteSourceSize</key>
                <string>{166,26}</string>
                <key>textureRect</key>
                <string>{{169,165},{62,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_124_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{182,84}</string>
                <key>spriteSourceSize</key>
                <string>{184,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_124-uhd.png</string>
            <key>size</key>
            <string>{196,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29469a04e83377c1cdaf1058fd20053:0ad9688553e6819441ceae0f208edbb6:bcd54ef62a55b792de799c46f04485ed$</string>
            <key>textureFileName</key>
            <string>icons/ship_124-uhd.png</string>
        </dict>
    </dict>
</plist>
