<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_111_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{164,90}</string>
                <key>spriteSourceSize</key>
                <string>{164,98}</string>
                <key>textureRect</key>
                <string>{{1,101},{164,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_111_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{158,82}</string>
                <key>spriteSourceSize</key>
                <string>{158,90}</string>
                <key>textureRect</key>
                <string>{{1,193},{158,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_111_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-7}</string>
                <key>spriteSize</key>
                <string>{130,54}</string>
                <key>spriteSourceSize</key>
                <string>{156,68}</string>
                <key>textureRect</key>
                <string>{{1,277},{130,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_111_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{172,98}</string>
                <key>spriteSourceSize</key>
                <string>{172,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_111-uhd.png</string>
            <key>size</key>
            <string>{174,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e8a5813a716061bcdefb7fbed6eba0:2611970e4a2d50a30703b7e23999b664:c35cd31969553567cbcaa99f3065cee6$</string>
            <key>textureFileName</key>
            <string>icons/ship_111-uhd.png</string>
        </dict>
    </dict>
</plist>
