<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{156,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,98}</string>
                <key>textureRect</key>
                <string>{{168,2},{156,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_14_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{150,68}</string>
                <key>spriteSourceSize</key>
                <string>{154,86}</string>
                <key>textureRect</key>
                <string>{{2,96},{150,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_14_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{164,92}</string>
                <key>spriteSourceSize</key>
                <string>{168,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{164,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_14-uhd.png</string>
            <key>size</key>
            <string>{254,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2bf9b862143cf475b70e76c1b7f1e99:ec16907a44d9f60ae45ee3f19104961e:9cd87da3d7719d6f05d59719c1937439$</string>
            <key>textureFileName</key>
            <string>icons/ship_14-uhd.png</string>
        </dict>
    </dict>
</plist>
