<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_113_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{154,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{1,93},{154,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_113_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{152,82}</string>
                <key>textureRect</key>
                <string>{{1,177},{148,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_113_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{148,62}</string>
                <key>textureRect</key>
                <string>{{157,93},{140,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_113_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{162,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_113-uhd.png</string>
            <key>size</key>
            <string>{202,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161592362452943fe12e6c4d06ee0195:0dc128c6c343bda79ff43eb16060b8a0:7f720fc72f9bb2e6289ad57f3fbcc76d$</string>
            <key>textureFileName</key>
            <string>icons/ship_113-uhd.png</string>
        </dict>
    </dict>
</plist>
