<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_169_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{175,94}</string>
                <key>textureRect</key>
                <string>{{1,83},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_169_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{157,64}</string>
                <key>spriteSourceSize</key>
                <string>{167,86}</string>
                <key>textureRect</key>
                <string>{{1,157},{157,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_169_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{155,36}</string>
                <key>spriteSourceSize</key>
                <string>{163,36}</string>
                <key>textureRect</key>
                <string>{{176,1},{155,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_169_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{173,80}</string>
                <key>spriteSourceSize</key>
                <string>{183,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_169-uhd.png</string>
            <key>size</key>
            <string>{213,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f709a7568a3a692786487aa07bb8bce3:79ab307694eb2564956b1c7e6c227fe2:e8b42572a1daf953a401e62b06f8f67b$</string>
            <key>textureFileName</key>
            <string>icons/ship_169-uhd.png</string>
        </dict>
    </dict>
</plist>
