<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_79_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{158,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,98}</string>
                <key>textureRect</key>
                <string>{{2,106},{158,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_79_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,90}</string>
                <key>textureRect</key>
                <string>{{2,204},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_79_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{134,60}</string>
                <key>spriteSourceSize</key>
                <string>{142,88}</string>
                <key>textureRect</key>
                <string>{{2,292},{134,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_79_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{166,102}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{166,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_79-uhd.png</string>
            <key>size</key>
            <string>{170,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c119704d4d2de1c7d3ee0badcc245ea:bf28197341b5f0f490d24ab4591df2b9:19285483fd1db61e8d8e59776eb04854$</string>
            <key>textureFileName</key>
            <string>icons/ship_79-uhd.png</string>
        </dict>
    </dict>
</plist>
