<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_72_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{164,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,84}</string>
                <key>textureRect</key>
                <string>{{38,84},{164,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_72_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{162,70}</string>
                <key>spriteSourceSize</key>
                <string>{162,82}</string>
                <key>textureRect</key>
                <string>{{38,158},{162,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_72_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{138,34}</string>
                <key>spriteSourceSize</key>
                <string>{144,42}</string>
                <key>textureRect</key>
                <string>{{2,84},{138,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_72_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{172,80}</string>
                <key>spriteSourceSize</key>
                <string>{172,92}</string>
                <key>textureRect</key>
                <string>{{2,2},{172,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_72-uhd.png</string>
            <key>size</key>
            <string>{204,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb185e1a4547129281e8c84808ae7f2:3787e318b8f86b3026ad2a2f9f71ab8a:dc736fb5418281fbadb9a3a3911bed45$</string>
            <key>textureFileName</key>
            <string>icons/ship_72-uhd.png</string>
        </dict>
    </dict>
</plist>
