<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_66_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{152,92}</string>
                <key>spriteSourceSize</key>
                <string>{152,102}</string>
                <key>textureRect</key>
                <string>{{2,104},{152,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_66_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{144,84}</string>
                <key>spriteSourceSize</key>
                <string>{144,94}</string>
                <key>textureRect</key>
                <string>{{156,104},{144,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_66_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{120,48}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{2,198},{120,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_66_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_66-uhd.png</string>
            <key>size</key>
            <string>{242,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc95ef57e8fff61f03ca1b5858f102d2:767ed2072cf49766e04e58f0ed4f7718:c0932f6874e827c95fb89baa57bdcddd$</string>
            <key>textureFileName</key>
            <string>icons/ship_66-uhd.png</string>
        </dict>
    </dict>
</plist>
