<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{169,106}</string>
                <key>spriteSourceSize</key>
                <string>{175,130}</string>
                <key>textureRect</key>
                <string>{{2,118},{169,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_31_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{159,60}</string>
                <key>spriteSourceSize</key>
                <string>{159,76}</string>
                <key>textureRect</key>
                <string>{{181,2},{159,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_31_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-2}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{167,38}</string>
                <key>textureRect</key>
                <string>{{173,163},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_31_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{177,114}</string>
                <key>spriteSourceSize</key>
                <string>{183,138}</string>
                <key>textureRect</key>
                <string>{{2,2},{177,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_31-uhd.png</string>
            <key>size</key>
            <string>{243,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eacf42ec62e0b2e8cfa454a3e3db074:09cc9482a18e4c64df95681a2b1d6591:e0937a75e8c4dcca59d98db2cd2ecadd$</string>
            <key>textureFileName</key>
            <string>icons/ship_31-uhd.png</string>
        </dict>
    </dict>
</plist>
