<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{162,88}</string>
                <key>spriteSourceSize</key>
                <string>{168,96}</string>
                <key>textureRect</key>
                <string>{{2,100},{162,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_05_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{135,68}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{174,2},{135,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_05_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{170,96}</string>
                <key>spriteSourceSize</key>
                <string>{176,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_05-uhd.png</string>
            <key>size</key>
            <string>{244,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eba8df508d9257940835c25b27f1468:0d9313cf77b84fbfbafaa36608232ffd:237800e26029522457a8551e1c68ad4a$</string>
            <key>textureFileName</key>
            <string>icons/ship_05-uhd.png</string>
        </dict>
    </dict>
</plist>
