<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_154_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{170,88}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{181,1},{170,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_154_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{160,78}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{353,1},{160,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_154_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{156,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,84}</string>
                <key>textureRect</key>
                <string>{{515,1},{156,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_154_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{178,96}</string>
                <key>spriteSourceSize</key>
                <string>{184,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_154-uhd.png</string>
            <key>size</key>
            <string>{672,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2f3129386f94045533e53550c4b49bf:f929db7143e4d3b1cf088b07e77aef5f:0c3ace68d54c8771a08e12cee5c75a07$</string>
            <key>textureFileName</key>
            <string>icons/ship_154-uhd.png</string>
        </dict>
    </dict>
</plist>
