<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{169,86}</string>
                <key>spriteSourceSize</key>
                <string>{177,90}</string>
                <key>textureRect</key>
                <string>{{2,193},{169,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{165,82}</string>
                <key>spriteSourceSize</key>
                <string>{173,86}</string>
                <key>textureRect</key>
                <string>{{2,26},{165,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_27_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,22}</string>
                <key>spriteSourceSize</key>
                <string>{84,22}</string>
                <key>textureRect</key>
                <string>{{2,2},{82,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{177,94}</string>
                <key>spriteSourceSize</key>
                <string>{185,98}</string>
                <key>textureRect</key>
                <string>{{2,364},{177,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_27-uhd.png</string>
            <key>size</key>
            <string>{98,543}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe4a720e030fbcdf0ae41399698266a:5b55958b66069d643a64c37bdc59e32d:736569430cbe04f9099166a24db3d4e1$</string>
            <key>textureFileName</key>
            <string>icons/ship_27-uhd.png</string>
        </dict>
    </dict>
</plist>
