<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{178,92}</string>
                <key>textureRect</key>
                <string>{{2,102},{166,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{158,76}</string>
                <key>spriteSourceSize</key>
                <string>{168,78}</string>
                <key>textureRect</key>
                <string>{{178,2},{158,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{174,98}</string>
                <key>spriteSourceSize</key>
                <string>{186,100}</string>
                <key>textureRect</key>
                <string>{{2,2},{174,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_08-uhd.png</string>
            <key>size</key>
            <string>{256,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1836e200ef767082feb13ae173d79158:b46315b96b23818718404d751512de49:e66c75e0f1183212941467705437e12d$</string>
            <key>textureFileName</key>
            <string>icons/ship_08-uhd.png</string>
        </dict>
    </dict>
</plist>
