<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_162_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{169,84}</string>
                <key>spriteSourceSize</key>
                <string>{171,86}</string>
                <key>textureRect</key>
                <string>{{1,95},{169,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_162_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{163,54}</string>
                <key>spriteSourceSize</key>
                <string>{165,70}</string>
                <key>textureRect</key>
                <string>{{180,1},{163,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_162_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{151,70}</string>
                <key>spriteSourceSize</key>
                <string>{161,74}</string>
                <key>textureRect</key>
                <string>{{1,181},{151,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_162_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{177,92}</string>
                <key>spriteSourceSize</key>
                <string>{181,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_162-uhd.png</string>
            <key>size</key>
            <string>{235,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0c130acc41366f734dcfe3c0cd2935:7c9f8118c66b9ed474023c2398ba3b84:11028f980960f4ddadaf01eb9f98670b$</string>
            <key>textureFileName</key>
            <string>icons/ship_162-uhd.png</string>
        </dict>
    </dict>
</plist>
