<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{165,80}</string>
                <key>spriteSourceSize</key>
                <string>{171,92}</string>
                <key>textureRect</key>
                <string>{{2,80},{165,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_28_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{161,76}</string>
                <key>spriteSourceSize</key>
                <string>{167,88}</string>
                <key>textureRect</key>
                <string>{{7,2},{161,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_28_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-398.5,398.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{2,2},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_28_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{175,88}</string>
                <key>spriteSourceSize</key>
                <string>{179,100}</string>
                <key>textureRect</key>
                <string>{{2,162},{175,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_28-uhd.png</string>
            <key>size</key>
            <string>{179,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f507a494a36b1532a90c1cc2e4a643:778cd7ecf369228ec9d9139731ca504d:a02a0dd894c61a99fd32c3553c24f804$</string>
            <key>textureFileName</key>
            <string>icons/ship_28-uhd.png</string>
        </dict>
    </dict>
</plist>
