<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_108_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{184,112}</string>
                <key>spriteSourceSize</key>
                <string>{184,114}</string>
                <key>textureRect</key>
                <string>{{195,1},{184,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_108_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{168,74}</string>
                <key>spriteSourceSize</key>
                <string>{174,76}</string>
                <key>textureRect</key>
                <string>{{449,1},{168,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_108_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,6}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{174,96}</string>
                <key>textureRect</key>
                <string>{{381,1},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_108_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{192,120}</string>
                <key>spriteSourceSize</key>
                <string>{192,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_108-uhd.png</string>
            <key>size</key>
            <string>{618,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86a7c3c90881da03a47d130a9f05ff53:b4f8583b902b1859370dd3ef307bb1ac:0c384321568dab4b28aa4ba710b1843e$</string>
            <key>textureFileName</key>
            <string>icons/ship_108-uhd.png</string>
        </dict>
    </dict>
</plist>
