<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_109_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{180,72}</string>
                <key>spriteSourceSize</key>
                <string>{182,82}</string>
                <key>textureRect</key>
                <string>{{1,83},{180,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_109_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{170,54}</string>
                <key>textureRect</key>
                <string>{{191,1},{154,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_109_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-4}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{162,60}</string>
                <key>textureRect</key>
                <string>{{1,157},{124,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_109_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{188,80}</string>
                <key>spriteSourceSize</key>
                <string>{190,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_109-uhd.png</string>
            <key>size</key>
            <string>{246,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:370fc111bf6eb99b4b637ed86b121697:04e5be7dce49eb979bdcbbaaf43736ed:9f0056777c759d3ab9f29c91f0384886$</string>
            <key>textureFileName</key>
            <string>icons/ship_109-uhd.png</string>
        </dict>
    </dict>
</plist>
