<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_98_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{184,80}</string>
                <key>spriteSourceSize</key>
                <string>{206,92}</string>
                <key>textureRect</key>
                <string>{{1,91},{184,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_98_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{1,173},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_98_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{136,50}</string>
                <key>textureRect</key>
                <string>{{167,173},{60,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_98_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{192,88}</string>
                <key>spriteSourceSize</key>
                <string>{214,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_98-uhd.png</string>
            <key>size</key>
            <string>{218,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7a43c240d2ef132f5c65e8b66b55fc:74ff8aa45a892855945f1b8eaebeb6e0:2d1636433229f27c3e82bf6c9a2aa7f7$</string>
            <key>textureFileName</key>
            <string>icons/ship_98-uhd.png</string>
        </dict>
    </dict>
</plist>
