<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_63_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{156,78}</string>
                <key>spriteSourceSize</key>
                <string>{158,96}</string>
                <key>textureRect</key>
                <string>{{2,90},{156,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_63_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{144,88}</string>
                <key>textureRect</key>
                <string>{{168,2},{144,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_63_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{144,64}</string>
                <key>textureRect</key>
                <string>{{160,148},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_63_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{164,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{164,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_63-uhd.png</string>
            <key>size</key>
            <string>{246,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa41b3c89338688cb2f22ffd9363cd63:ce7e2d4ead68eb002ce7ccf756676e13:acd06ed9906fc9eaee8b08b0a739a82e$</string>
            <key>textureFileName</key>
            <string>icons/ship_63-uhd.png</string>
        </dict>
    </dict>
</plist>
