<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_106_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{164,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,86}</string>
                <key>textureRect</key>
                <string>{{1,81},{164,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_106_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{156,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1,153},{156,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_106_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{122,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,56}</string>
                <key>textureRect</key>
                <string>{{167,81},{122,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_106_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{172,78}</string>
                <key>spriteSourceSize</key>
                <string>{178,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_106-uhd.png</string>
            <key>size</key>
            <string>{218,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da8d56e951040fa8e0c65005bf55391c:6875fbc7ee2ba79077b31ea6f2b8cac4:280b8e712eb5b10635280e1163905eae$</string>
            <key>textureFileName</key>
            <string>icons/ship_106-uhd.png</string>
        </dict>
    </dict>
</plist>
