<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_103_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,86}</string>
                <key>textureRect</key>
                <string>{{163,1},{152,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_103_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{142,74}</string>
                <key>spriteSourceSize</key>
                <string>{142,76}</string>
                <key>textureRect</key>
                <string>{{1,95},{142,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_103_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-7}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{140,46}</string>
                <key>textureRect</key>
                <string>{{145,95},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_103_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{160,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_103-uhd.png</string>
            <key>size</key>
            <string>{248,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfa0bd33a6fdcc743e934ae3716da2a0:966ad955c728e684f323d94977a0e21c:f200aa36cdf9055e20811b7ff3ab827e$</string>
            <key>textureFileName</key>
            <string>icons/ship_103-uhd.png</string>
        </dict>
    </dict>
</plist>
