<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{170,76}</string>
                <key>spriteSourceSize</key>
                <string>{176,84}</string>
                <key>textureRect</key>
                <string>{{1,87},{170,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{166,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,76}</string>
                <key>textureRect</key>
                <string>{{1,165},{166,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{169,165},{20,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{178,84}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_96-uhd.png</string>
            <key>size</key>
            <string>{188,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39773888163180f810568a3817b4a5c8:1331aa45a13867ae83a7d3e4b0cf32a7:402703a1238f85f4852fc440c30edf2e$</string>
            <key>textureFileName</key>
            <string>icons/ship_96-uhd.png</string>
        </dict>
    </dict>
</plist>
