<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_88_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{182,92}</string>
                <key>spriteSourceSize</key>
                <string>{186,100}</string>
                <key>textureRect</key>
                <string>{{1,165},{182,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_88_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{180,90}</string>
                <key>spriteSourceSize</key>
                <string>{184,98}</string>
                <key>textureRect</key>
                <string>{{1,73},{180,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_88_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,7}</string>
                <key>spriteSize</key>
                <string>{137,70}</string>
                <key>spriteSourceSize</key>
                <string>{163,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_88_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1,259},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_88-uhd.png</string>
            <key>size</key>
            <string>{192,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:058a2c74205e90f0a6ffbc2aac9676ef:4cb8bd63b1b16f607b87e7b34c40085a:b3c34f36b918902cad53fac3aab5a42d$</string>
            <key>textureFileName</key>
            <string>icons/ship_88-uhd.png</string>
        </dict>
    </dict>
</plist>
