<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_77_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{146,88}</string>
                <key>spriteSourceSize</key>
                <string>{150,92}</string>
                <key>textureRect</key>
                <string>{{158,2},{146,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_77_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-10}</string>
                <key>spriteSize</key>
                <string>{64,26}</string>
                <key>spriteSourceSize</key>
                <string>{116,46}</string>
                <key>textureRect</key>
                <string>{{140,150},{64,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_77_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{136,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,84}</string>
                <key>textureRect</key>
                <string>{{2,100},{136,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_77_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{154,96}</string>
                <key>spriteSourceSize</key>
                <string>{158,100}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_77-uhd.png</string>
            <key>size</key>
            <string>{248,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9de9e332fa794a647c12f543c921e27:c7a4f2c39ac47f50305860a2f1f2c183:9307c6998fcba00de57ea437783d400e$</string>
            <key>textureFileName</key>
            <string>icons/ship_77-uhd.png</string>
        </dict>
    </dict>
</plist>
