<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_132_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,94}</string>
                <key>textureRect</key>
                <string>{{1,101},{166,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_132_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{156,82}</string>
                <key>textureRect</key>
                <string>{{1,193},{156,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_132_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,4}</string>
                <key>spriteSize</key>
                <string>{124,62}</string>
                <key>spriteSourceSize</key>
                <string>{152,70}</string>
                <key>textureRect</key>
                <string>{{1,275},{124,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_132_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{174,98}</string>
                <key>spriteSourceSize</key>
                <string>{174,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_132-uhd.png</string>
            <key>size</key>
            <string>{176,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42da01c71a36b4996ec798c6282329d3:f767a9d0fcc5f0e2c9cb9aee59a37033:be81dba077a510fce555bf7759ea7ac5$</string>
            <key>textureFileName</key>
            <string>icons/ship_132-uhd.png</string>
        </dict>
    </dict>
</plist>
