<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{167,114}</string>
                <key>spriteSourceSize</key>
                <string>{175,126}</string>
                <key>textureRect</key>
                <string>{{2,126},{167,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_34_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{151,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,80}</string>
                <key>textureRect</key>
                <string>{{179,2},{151,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_34_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{175,122}</string>
                <key>spriteSourceSize</key>
                <string>{183,134}</string>
                <key>textureRect</key>
                <string>{{2,2},{175,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_34-uhd.png</string>
            <key>size</key>
            <string>{253,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5464e3c69c1a7bb0eb890db361b6e58e:473fbbfb221c891f95d693e39bf8d997:b638c38925e790020bbe03e769045c21$</string>
            <key>textureFileName</key>
            <string>icons/ship_34-uhd.png</string>
        </dict>
    </dict>
</plist>
