<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_94_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{170,82}</string>
                <key>spriteSourceSize</key>
                <string>{176,88}</string>
                <key>textureRect</key>
                <string>{{93,57},{170,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_94_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{152,72}</string>
                <key>textureRect</key>
                <string>{{93,1},{142,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_94_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,62}</string>
                <key>textureRect</key>
                <string>{{177,57},{146,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_94_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{178,90}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_94-uhd.png</string>
            <key>size</key>
            <string>{238,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca9f709b37e627e4492044c4f626bb0:e411ef20813148657bc3ec95f9a99c1d:19289357ee1f0e7a1fb01e049477595b$</string>
            <key>textureFileName</key>
            <string>icons/ship_94-uhd.png</string>
        </dict>
    </dict>
</plist>
