<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_83_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{182,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,76}</string>
                <key>textureRect</key>
                <string>{{1,97},{182,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_83_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{172,64}</string>
                <key>spriteSourceSize</key>
                <string>{176,66}</string>
                <key>textureRect</key>
                <string>{{1,31},{172,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_83_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{150,28}</string>
                <key>spriteSourceSize</key>
                <string>{172,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_83_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{190,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,84}</string>
                <key>textureRect</key>
                <string>{{1,173},{190,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_83-uhd.png</string>
            <key>size</key>
            <string>{192,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a428fe9a69481e160d81f2ebb4c1e236:9cd333d15e6ac89cf76ee74946237fa0:93ec0f05c064054ebe72692152ba867d$</string>
            <key>textureFileName</key>
            <string>icons/ship_83-uhd.png</string>
        </dict>
    </dict>
</plist>
