<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,92}</string>
                <key>textureRect</key>
                <string>{{2,88},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_29_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{170,84}</string>
                <key>textureRect</key>
                <string>{{2,170},{152,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_29_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-7}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{156,170},{67,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_29_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{188,84}</string>
                <key>spriteSourceSize</key>
                <string>{194,100}</string>
                <key>textureRect</key>
                <string>{{2,2},{188,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_29-uhd.png</string>
            <key>size</key>
            <string>{208,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780f00e9f1be5e2f5fa6ab828c9e01c3:a010055a62298569e48a54f4f66e740a:dcab856b84c4a2114b6324d787e1f52b$</string>
            <key>textureFileName</key>
            <string>icons/ship_29-uhd.png</string>
        </dict>
    </dict>
</plist>
