<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_74_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{154,96}</string>
                <key>spriteSourceSize</key>
                <string>{154,110}</string>
                <key>textureRect</key>
                <string>{{2,108},{154,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_74_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{146,84}</string>
                <key>spriteSourceSize</key>
                <string>{146,98}</string>
                <key>textureRect</key>
                <string>{{2,206},{146,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_74_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{144,66}</string>
                <key>textureRect</key>
                <string>{{2,292},{142,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_74_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{162,118}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_74-uhd.png</string>
            <key>size</key>
            <string>{166,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2646e1a0b87f0210e2ddb3fd4c4134d:affb7fe5b6d8e1f950fa2c2febe72ede:f83382dd9f0eedc5de7470372529302b$</string>
            <key>textureFileName</key>
            <string>icons/ship_74-uhd.png</string>
        </dict>
    </dict>
</plist>
