<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_42_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{192,84}</string>
                <key>spriteSourceSize</key>
                <string>{192,90}</string>
                <key>textureRect</key>
                <string>{{2,94},{192,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_42_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{176,78}</string>
                <key>spriteSourceSize</key>
                <string>{188,84}</string>
                <key>textureRect</key>
                <string>{{2,180},{176,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_42_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_42-uhd.png</string>
            <key>size</key>
            <string>{204,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81136b0a461cfdfb6c69d4b6524db47f:418fde057249d22952277c21265e38a5:d07494a76f895479e071992e186867c0$</string>
            <key>textureFileName</key>
            <string>icons/ship_42-uhd.png</string>
        </dict>
    </dict>
</plist>
