<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_84_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{168,84}</string>
                <key>spriteSourceSize</key>
                <string>{172,102}</string>
                <key>textureRect</key>
                <string>{{1,95},{168,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_84_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{162,76}</string>
                <key>spriteSourceSize</key>
                <string>{164,94}</string>
                <key>textureRect</key>
                <string>{{179,1},{162,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_84_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{152,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,74}</string>
                <key>textureRect</key>
                <string>{{1,181},{152,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_84_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{176,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_84-uhd.png</string>
            <key>size</key>
            <string>{256,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b83f661025f028c9c7f7e81c38a8a79f:e11b498d1e80ba0da145f62457a912ba:7d091db547f81af4a609b3e75e7cd17f$</string>
            <key>textureFileName</key>
            <string>icons/ship_84-uhd.png</string>
        </dict>
    </dict>
</plist>
