<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{164,90}</string>
                <key>textureRect</key>
                <string>{{2,56},{162,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_24_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_24_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{170,92}</string>
                <key>spriteSourceSize</key>
                <string>{172,98}</string>
                <key>textureRect</key>
                <string>{{2,142},{170,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_24-uhd.png</string>
            <key>size</key>
            <string>{174,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aaf0412d7d6e050293598ce7ea5a183:a56c17d50599995a6f9dde10bb6291d0:9a3d4c078fb22c40695eab1e0b45938f$</string>
            <key>textureFileName</key>
            <string>icons/ship_24-uhd.png</string>
        </dict>
    </dict>
</plist>
