<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_130_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{192,68}</string>
                <key>spriteSourceSize</key>
                <string>{192,88}</string>
                <key>textureRect</key>
                <string>{{59,79},{192,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_130_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{184,58}</string>
                <key>spriteSourceSize</key>
                <string>{184,78}</string>
                <key>textureRect</key>
                <string>{{59,149},{184,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_130_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-10}</string>
                <key>spriteSize</key>
                <string>{118,56}</string>
                <key>spriteSourceSize</key>
                <string>{182,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{118,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_130_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{200,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_130-uhd.png</string>
            <key>size</key>
            <string>{252,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1e57c302fab317105abcc10fc187ed:83bfa6c8dcb491f1d743cb999ef21ec1:c7c5878a78971b463f3f8b79c9956f33$</string>
            <key>textureFileName</key>
            <string>icons/ship_130-uhd.png</string>
        </dict>
    </dict>
</plist>
