<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_89_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{222,92}</string>
                <key>spriteSourceSize</key>
                <string>{238,114}</string>
                <key>textureRect</key>
                <string>{{1,87},{222,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_89_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{222,106}</string>
                <key>textureRect</key>
                <string>{{17,1},{208,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_89_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,-7}</string>
                <key>spriteSize</key>
                <string>{7,14}</string>
                <key>spriteSourceSize</key>
                <string>{191,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{7,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_89_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{246,122}</string>
                <key>textureRect</key>
                <string>{{1,181},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_89-uhd.png</string>
            <key>size</key>
            <string>{232,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8191b45383e1eeb15d5e3185a6f93bd9:fe2f2c3aa60489f27f7683683f46a11f:b36b5c384d7036ce27f1a6c99891caec$</string>
            <key>textureFileName</key>
            <string>icons/ship_89-uhd.png</string>
        </dict>
    </dict>
</plist>
