<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_46_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{184,82}</string>
                <key>spriteSourceSize</key>
                <string>{194,88}</string>
                <key>textureRect</key>
                <string>{{2,94},{184,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_46_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{166,74}</string>
                <key>textureRect</key>
                <string>{{2,178},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_46_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{192,90}</string>
                <key>spriteSourceSize</key>
                <string>{202,96}</string>
                <key>textureRect</key>
                <string>{{2,2},{192,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_46-uhd.png</string>
            <key>size</key>
            <string>{196,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42cbd53fb27ac830c028290c271f66f2:0cdaf744e1717a06c608c477583b9111:543dd06d0773f19f83ff12b6c87a4b81$</string>
            <key>textureFileName</key>
            <string>icons/ship_46-uhd.png</string>
        </dict>
    </dict>
</plist>
