<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_80_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{210,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,92}</string>
                <key>textureRect</key>
                <string>{{1,139},{210,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_80_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{208,82}</string>
                <key>spriteSourceSize</key>
                <string>{208,90}</string>
                <key>textureRect</key>
                <string>{{1,55},{208,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_80_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-7}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{194,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_80_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{220,92}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{1,225},{220,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_80-uhd.png</string>
            <key>size</key>
            <string>{222,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2a949649bfa02eab4135277bd390d57:1c592e32184ab4b675133b880770f6dd:21aa10241c7c55ba6511d57af8f6dbf6$</string>
            <key>textureFileName</key>
            <string>icons/ship_80-uhd.png</string>
        </dict>
    </dict>
</plist>
