<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_86_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{204,96}</string>
                <key>textureRect</key>
                <string>{{1,91},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_86_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{180,76}</string>
                <key>spriteSourceSize</key>
                <string>{196,92}</string>
                <key>textureRect</key>
                <string>{{1,173},{180,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_86_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{170,38}</string>
                <key>spriteSourceSize</key>
                <string>{194,54}</string>
                <key>textureRect</key>
                <string>{{197,1},{170,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_86_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{212,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_86-uhd.png</string>
            <key>size</key>
            <string>{236,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f9989591ed14fa05dfa3486923f1de:78d5a58fe11029cfefb6b3dfe2f64228:c0cbebb2bbbba9a5d7b80b10cba02134$</string>
            <key>textureFileName</key>
            <string>icons/ship_86-uhd.png</string>
        </dict>
    </dict>
</plist>
