<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_115_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{168,80}</string>
                <key>spriteSourceSize</key>
                <string>{170,88}</string>
                <key>textureRect</key>
                <string>{{179,1},{168,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_115_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,80}</string>
                <key>textureRect</key>
                <string>{{349,1},{162,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_115_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,17}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{349,75},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_115_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{176,88}</string>
                <key>spriteSourceSize</key>
                <string>{178,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_115-uhd.png</string>
            <key>size</key>
            <string>{512,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14dd71de930438f1d2b9739c01790898:a9de1c916633c0aab9bcaf493d220dac:cf410933cac3cfbbf5c9bcbeb56f153c$</string>
            <key>textureFileName</key>
            <string>icons/ship_115-uhd.png</string>
        </dict>
    </dict>
</plist>
