<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_121_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{176,76}</string>
                <key>spriteSourceSize</key>
                <string>{188,82}</string>
                <key>textureRect</key>
                <string>{{1,87},{176,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_121_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{176,74}</string>
                <key>textureRect</key>
                <string>{{187,1},{168,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_121_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{104,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{1,165},{104,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_121_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{184,84}</string>
                <key>spriteSourceSize</key>
                <string>{196,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_121-uhd.png</string>
            <key>size</key>
            <string>{256,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6de0d50b97c0d177856dc1455c76344a:e11fdfb3130742e5137ae195e74c4d1b:4663c9352f1e28b7bc6893c99519c98d$</string>
            <key>textureFileName</key>
            <string>icons/ship_121-uhd.png</string>
        </dict>
    </dict>
</plist>
