<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_37_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{182,74}</string>
                <key>spriteSourceSize</key>
                <string>{188,86}</string>
                <key>textureRect</key>
                <string>{{2,54},{182,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_37_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{172,50}</string>
                <key>spriteSourceSize</key>
                <string>{178,62}</string>
                <key>textureRect</key>
                <string>{{2,2},{172,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_37_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{190,82}</string>
                <key>spriteSourceSize</key>
                <string>{196,94}</string>
                <key>textureRect</key>
                <string>{{2,130},{190,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_37-uhd.png</string>
            <key>size</key>
            <string>{194,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad71541dd9968668523b8960672b672:43e634a1b80eadee08760949c7c25056:476622d836a4eff47ec83e7a2d40345c$</string>
            <key>textureFileName</key>
            <string>icons/ship_37-uhd.png</string>
        </dict>
    </dict>
</plist>
