<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_64_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{184,86}</string>
                <key>spriteSourceSize</key>
                <string>{188,134}</string>
                <key>textureRect</key>
                <string>{{2,98},{184,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_64_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{178,64}</string>
                <key>spriteSourceSize</key>
                <string>{182,112}</string>
                <key>textureRect</key>
                <string>{{2,186},{178,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_64_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{176,34}</string>
                <key>spriteSourceSize</key>
                <string>{180,40}</string>
                <key>textureRect</key>
                <string>{{196,2},{176,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_64_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{192,94}</string>
                <key>spriteSourceSize</key>
                <string>{196,142}</string>
                <key>textureRect</key>
                <string>{{2,2},{192,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_64-uhd.png</string>
            <key>size</key>
            <string>{232,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fdf29a5ffd043be16832ed405aa4660:aa89cc4cc8f37ac6ededb5b707dc66ea:a6bfa2d7bdad6de6bdf1db17fe23bcea$</string>
            <key>textureFileName</key>
            <string>icons/ship_64-uhd.png</string>
        </dict>
    </dict>
</plist>
