<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_151_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{152,100}</string>
                <key>spriteSourceSize</key>
                <string>{152,110}</string>
                <key>textureRect</key>
                <string>{{223,1},{152,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_151_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,96}</string>
                <key>textureRect</key>
                <string>{{377,1},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_151_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,18}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{140,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_151_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{160,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,118}</string>
                <key>textureRect</key>
                <string>{{61,1},{160,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_151-uhd.png</string>
            <key>size</key>
            <string>{510,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a44098751906ba436cc4699f2e43ada1:3017df498ba617d088cf97b5c46acbc5:c1e698cec844580ee35669a9860dd0cd$</string>
            <key>textureFileName</key>
            <string>icons/ship_151-uhd.png</string>
        </dict>
    </dict>
</plist>
