<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_105_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,108}</string>
                <key>textureRect</key>
                <string>{{1,103},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_105_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{156,86}</string>
                <key>spriteSourceSize</key>
                <string>{156,102}</string>
                <key>textureRect</key>
                <string>{{1,197},{156,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_105_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{148,64}</string>
                <key>textureRect</key>
                <string>{{1,285},{142,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_105_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{188,100}</string>
                <key>spriteSourceSize</key>
                <string>{194,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_105-uhd.png</string>
            <key>size</key>
            <string>{190,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd07d9131f220557e122c48e3589ce11:b780b4d134bc3fa6df44197d7533105e:cdc64ea7225060a022f12377cd5c0571$</string>
            <key>textureFileName</key>
            <string>icons/ship_105-uhd.png</string>
        </dict>
    </dict>
</plist>
