<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_134_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{182,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,112}</string>
                <key>textureRect</key>
                <string>{{1,175},{182,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_134_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{174,96}</string>
                <key>spriteSourceSize</key>
                <string>{182,102}</string>
                <key>textureRect</key>
                <string>{{1,77},{174,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_134_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,6}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{180,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_134_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{190,112}</string>
                <key>spriteSourceSize</key>
                <string>{198,120}</string>
                <key>textureRect</key>
                <string>{{1,281},{190,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_134-uhd.png</string>
            <key>size</key>
            <string>{192,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e57569f529ac2ca2831c505bacafaf38:c49f14f475bb3afc31142f7634d11382:f5b8fda8a2d46799fe2ec3296be0b8cf$</string>
            <key>textureFileName</key>
            <string>icons/ship_134-uhd.png</string>
        </dict>
    </dict>
</plist>
