<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_53_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{160,84}</string>
                <key>spriteSourceSize</key>
                <string>{164,86}</string>
                <key>textureRect</key>
                <string>{{172,2},{160,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_53_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{130,72}</string>
                <key>textureRect</key>
                <string>{{334,32},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_53_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{148,28}</string>
                <key>spriteSourceSize</key>
                <string>{148,38}</string>
                <key>textureRect</key>
                <string>{{334,2},{148,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_53_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{168,92}</string>
                <key>spriteSourceSize</key>
                <string>{172,94}</string>
                <key>textureRect</key>
                <string>{{2,2},{168,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_53-uhd.png</string>
            <key>size</key>
            <string>{484,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c73fcc5c5b28e7944c0452bae72311f:b3934ac3aee76bb44cc0ca9abbba48fb:44d4ee18221503f96ab94f3cc8b09e0f$</string>
            <key>textureFileName</key>
            <string>icons/ship_53-uhd.png</string>
        </dict>
    </dict>
</plist>
