<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_114_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{166,72}</string>
                <key>spriteSourceSize</key>
                <string>{178,80}</string>
                <key>textureRect</key>
                <string>{{55,83},{166,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_114_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,74}</string>
                <key>textureRect</key>
                <string>{{55,157},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_114_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{170,52}</string>
                <key>textureRect</key>
                <string>{{1,83},{124,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_114_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_114-uhd.png</string>
            <key>size</key>
            <string>{222,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d2abe87fe574da4cc0d20104c8419c:73f7da64543290dd1cb5b902140053b7:c1cacca88f0c1532f26ce67287ed864a$</string>
            <key>textureFileName</key>
            <string>icons/ship_114-uhd.png</string>
        </dict>
    </dict>
</plist>
