<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_126_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{174,78}</string>
                <key>spriteSourceSize</key>
                <string>{182,94}</string>
                <key>textureRect</key>
                <string>{{1,89},{174,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_126_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{166,70}</string>
                <key>spriteSourceSize</key>
                <string>{174,86}</string>
                <key>textureRect</key>
                <string>{{185,1},{166,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_126_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{164,48}</string>
                <key>spriteSourceSize</key>
                <string>{172,52}</string>
                <key>textureRect</key>
                <string>{{1,169},{164,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_126_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{182,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_126-uhd.png</string>
            <key>size</key>
            <string>{256,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcda11293831c56b8451d2808ac324a0:e6dbe4686c729e0e70290511cc1df5f6:67a62d5c58f4ccccc59f36309fc3b51c$</string>
            <key>textureFileName</key>
            <string>icons/ship_126-uhd.png</string>
        </dict>
    </dict>
</plist>
