<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_152_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{156,76}</string>
                <key>spriteSourceSize</key>
                <string>{156,98}</string>
                <key>textureRect</key>
                <string>{{87,1},{156,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_152_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,80}</string>
                <key>textureRect</key>
                <string>{{87,79},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_152_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{124,32}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{87,141},{124,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_152_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{164,84}</string>
                <key>spriteSourceSize</key>
                <string>{164,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_152-uhd.png</string>
            <key>size</key>
            <string>{244,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175cb77d228e4bd5b396857643407b5d:8d3ba32232b48fe05665ec9c5a6a278b:bbd23cbaac99d6e4f3f6cb0f3ca1caea$</string>
            <key>textureFileName</key>
            <string>icons/ship_152-uhd.png</string>
        </dict>
    </dict>
</plist>
