<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_60_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{164,80}</string>
                <key>spriteSourceSize</key>
                <string>{168,96}</string>
                <key>textureRect</key>
                <string>{{176,2},{164,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_60_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{156,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,88}</string>
                <key>textureRect</key>
                <string>{{342,2},{156,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_60_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-21}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{136,66}</string>
                <key>textureRect</key>
                <string>{{342,76},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_60_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{176,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_60-uhd.png</string>
            <key>size</key>
            <string>{500,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a17faadedf2c07d697b98d48aa1f9601:76a21568e008b96825c8339423ce0284:29ad4c52de708e9b892b3e2323a2acff$</string>
            <key>textureFileName</key>
            <string>icons/ship_60-uhd.png</string>
        </dict>
    </dict>
</plist>
