<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_99_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{170,72}</string>
                <key>spriteSourceSize</key>
                <string>{176,78}</string>
                <key>textureRect</key>
                <string>{{181,1},{170,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_99_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{142,64}</string>
                <key>spriteSourceSize</key>
                <string>{154,70}</string>
                <key>textureRect</key>
                <string>{{1,83},{142,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_99_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,1}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{164,34}</string>
                <key>textureRect</key>
                <string>{{145,83},{80,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_99_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{178,80}</string>
                <key>spriteSourceSize</key>
                <string>{184,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_99-uhd.png</string>
            <key>size</key>
            <string>{254,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d7047b229b3cc1ee13a0d0221a5803:f688ebb4efbfe0963293c9891df1bde8:a3317d8270f8d3f9539d0156595725ff$</string>
            <key>textureFileName</key>
            <string>icons/ship_99-uhd.png</string>
        </dict>
    </dict>
</plist>
