<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,76}</string>
                <key>spriteSourceSize</key>
                <string>{175,76}</string>
                <key>textureRect</key>
                <string>{{2,76},{175,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_17_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{155,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,72}</string>
                <key>textureRect</key>
                <string>{{2,2},{155,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_17_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,84}</string>
                <key>spriteSourceSize</key>
                <string>{183,84}</string>
                <key>textureRect</key>
                <string>{{2,154},{183,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_17-uhd.png</string>
            <key>size</key>
            <string>{187,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eab84e09888fe13c19e87abb3502389c:3c53b1cdde9b35b80dbd93e1b5bf11de:70449d1f7c04566d9a2b024ee96dc0bd$</string>
            <key>textureFileName</key>
            <string>icons/ship_17-uhd.png</string>
        </dict>
    </dict>
</plist>
