<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_51_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{176,102}</string>
                <key>spriteSourceSize</key>
                <string>{184,108}</string>
                <key>textureRect</key>
                <string>{{2,114},{176,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_51_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{164,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,100}</string>
                <key>textureRect</key>
                <string>{{2,218},{164,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_51_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{184,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,116}</string>
                <key>textureRect</key>
                <string>{{2,2},{184,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_51-uhd.png</string>
            <key>size</key>
            <string>{188,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2bffbded517acea504fc3b08cf5a19d:fd60a5b15f0a8c7ef4b3334e34600719:340375178f99bfa5d7ade604b543a5b1$</string>
            <key>textureFileName</key>
            <string>icons/ship_51-uhd.png</string>
        </dict>
    </dict>
</plist>
