<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{158,106}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{170,2},{158,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_23_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,17}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{158,118}</string>
                <key>textureRect</key>
                <string>{{330,2},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_23_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,136}</string>
                <key>textureRect</key>
                <string>{{2,2},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_23-uhd.png</string>
            <key>size</key>
            <string>{474,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae894f7127673d117fd5408ad1470c7a:5ca3112c19e9351e2a88d39db34053d8:c1e9ac7b9631b1327804aeb407e0b86a$</string>
            <key>textureFileName</key>
            <string>icons/ship_23-uhd.png</string>
        </dict>
    </dict>
</plist>
