<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_70_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-9}</string>
                <key>spriteSize</key>
                <string>{170,80}</string>
                <key>spriteSourceSize</key>
                <string>{184,98}</string>
                <key>textureRect</key>
                <string>{{92,2},{170,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_70_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{156,70}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{174,2},{156,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_70_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{154,38}</string>
                <key>spriteSourceSize</key>
                <string>{164,46}</string>
                <key>textureRect</key>
                <string>{{92,174},{154,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_70_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-9}</string>
                <key>spriteSize</key>
                <string>{178,88}</string>
                <key>spriteSourceSize</key>
                <string>{192,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{178,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_70-uhd.png</string>
            <key>size</key>
            <string>{248,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:776e9ffa427dc9c3948b8c1438521301:1943d8b6c0cbadbb4b196790d1852fa4:4639e895390de96159c6bf53a1556079$</string>
            <key>textureFileName</key>
            <string>icons/ship_70-uhd.png</string>
        </dict>
    </dict>
</plist>
