<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_135_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{158,84}</string>
                <key>spriteSourceSize</key>
                <string>{162,92}</string>
                <key>textureRect</key>
                <string>{{1,95},{158,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_135_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{144,74}</string>
                <key>spriteSourceSize</key>
                <string>{146,82}</string>
                <key>textureRect</key>
                <string>{{169,1},{144,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_135_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,1}</string>
                <key>spriteSize</key>
                <string>{78,58}</string>
                <key>spriteSourceSize</key>
                <string>{134,60}</string>
                <key>textureRect</key>
                <string>{{161,147},{78,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_135_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_135-uhd.png</string>
            <key>size</key>
            <string>{244,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:570015102eaeabd73aeaaa71fbf1fba9:b051512e7e836feaba08d582147353ce:5bc80135e4867842b6039e0ea0db6cb3$</string>
            <key>textureFileName</key>
            <string>icons/ship_135-uhd.png</string>
        </dict>
    </dict>
</plist>
