<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_116_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{166,104}</string>
                <key>textureRect</key>
                <string>{{1,107},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_116_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{152,86}</string>
                <key>spriteSourceSize</key>
                <string>{158,96}</string>
                <key>textureRect</key>
                <string>{{1,205},{152,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_116_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,3}</string>
                <key>spriteSize</key>
                <string>{134,64}</string>
                <key>spriteSourceSize</key>
                <string>{156,70}</string>
                <key>textureRect</key>
                <string>{{1,293},{134,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_116_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{170,104}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_116-uhd.png</string>
            <key>size</key>
            <string>{172,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dc2983f8c7801b4254d8100920a8662:97e2f7eaddfa416453348c0b360e51a4:8290ae262863164b940f2d2b979850d9$</string>
            <key>textureFileName</key>
            <string>icons/ship_116-uhd.png</string>
        </dict>
    </dict>
</plist>
