<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_100_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{162,82}</string>
                <key>spriteSourceSize</key>
                <string>{164,86}</string>
                <key>textureRect</key>
                <string>{{93,1},{162,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_100_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{140,46}</string>
                <key>spriteSourceSize</key>
                <string>{158,54}</string>
                <key>textureRect</key>
                <string>{{93,85},{140,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_100_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{138,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,66}</string>
                <key>textureRect</key>
                <string>{{93,133},{138,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_100_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{172,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_100-uhd.png</string>
            <key>size</key>
            <string>{256,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f688ca5991111744e96d93749e8ce65:b8c43cc3bf31adab71eccabce3d1ca6c:b723cbd8a36e18e24cb687cab9902153$</string>
            <key>textureFileName</key>
            <string>icons/ship_100-uhd.png</string>
        </dict>
    </dict>
</plist>
