<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_81_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{178,104}</string>
                <key>textureRect</key>
                <string>{{77,157},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_81_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{154,76}</string>
                <key>spriteSourceSize</key>
                <string>{160,86}</string>
                <key>textureRect</key>
                <string>{{179,1},{154,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_81_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{158,84}</string>
                <key>textureRect</key>
                <string>{{1,101},{152,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_81_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{176,98}</string>
                <key>spriteSourceSize</key>
                <string>{186,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_81-uhd.png</string>
            <key>size</key>
            <string>{256,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a09f1c076bd7d18dea6312100339a367:86ff022a5682cfc77df35f57c7dd9358:98345d04c87b5128f545971051220ab5$</string>
            <key>textureFileName</key>
            <string>icons/ship_81-uhd.png</string>
        </dict>
    </dict>
</plist>
