<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{176,112}</string>
                <key>textureRect</key>
                <string>{{2,108},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_12_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{137,70}</string>
                <key>spriteSourceSize</key>
                <string>{141,70}</string>
                <key>textureRect</key>
                <string>{{174,2},{137,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_12_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{170,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{170,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_12-uhd.png</string>
            <key>size</key>
            <string>{246,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5763429aa6d0ac38cdf1bf708bf68c7b:c0f7a0e583177ee6748e4923728e92e7:7bce6b2df7f41aea3eb8b6a75d3c518f$</string>
            <key>textureFileName</key>
            <string>icons/ship_12-uhd.png</string>
        </dict>
    </dict>
</plist>
