<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_75_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{152,76}</string>
                <key>spriteSourceSize</key>
                <string>{152,100}</string>
                <key>textureRect</key>
                <string>{{88,2},{152,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_75_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{146,68}</string>
                <key>spriteSourceSize</key>
                <string>{146,92}</string>
                <key>textureRect</key>
                <string>{{88,80},{146,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_75_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{124,40}</string>
                <key>spriteSourceSize</key>
                <string>{142,40}</string>
                <key>textureRect</key>
                <string>{{88,150},{124,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_75_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{162,108}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_75-uhd.png</string>
            <key>size</key>
            <string>{242,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e76e3147cc9086fcda9950cb693e8f7:3b4f8c0ec9851d8c5fd80f2943d7ceca:ff7006a8f5d0e792a339dfa054552f8f$</string>
            <key>textureFileName</key>
            <string>icons/ship_75-uhd.png</string>
        </dict>
    </dict>
</plist>
