<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_112_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{186,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,106}</string>
                <key>textureRect</key>
                <string>{{1,113},{186,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_112_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{178,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{1,217},{178,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_112_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{160,84}</string>
                <key>spriteSourceSize</key>
                <string>{188,84}</string>
                <key>textureRect</key>
                <string>{{97,217},{160,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_112_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{194,110}</string>
                <key>spriteSourceSize</key>
                <string>{208,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_112-uhd.png</string>
            <key>size</key>
            <string>{196,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7e1f617fccdb96220e9e35239e2c54:874e4ec7df28fe3c952b982041e00b60:6e060824028ddcc58c993e43081f08d0$</string>
            <key>textureFileName</key>
            <string>icons/ship_112-uhd.png</string>
        </dict>
    </dict>
</plist>
