<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_110_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{174,76}</string>
                <key>spriteSourceSize</key>
                <string>{190,86}</string>
                <key>textureRect</key>
                <string>{{1,87},{174,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_110_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{162,68}</string>
                <key>spriteSourceSize</key>
                <string>{176,78}</string>
                <key>textureRect</key>
                <string>{{185,1},{162,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_110_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{162,40}</string>
                <key>textureRect</key>
                <string>{{1,165},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_110_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{182,84}</string>
                <key>spriteSourceSize</key>
                <string>{198,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_110-uhd.png</string>
            <key>size</key>
            <string>{254,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1a4dae80e8bd8c4b8f0dbac215303bd:7f1076101391af2112d2eb708587e8e0:bc262695503155faf4feb18bbb862290$</string>
            <key>textureFileName</key>
            <string>icons/ship_110-uhd.png</string>
        </dict>
    </dict>
</plist>
