<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_57_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{164,116}</string>
                <key>spriteSourceSize</key>
                <string>{168,138}</string>
                <key>textureRect</key>
                <string>{{176,2},{164,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_57_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{168,134}</string>
                <key>textureRect</key>
                <string>{{342,2},{162,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_57_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{110,18}</string>
                <key>spriteSourceSize</key>
                <string>{128,18}</string>
                <key>textureRect</key>
                <string>{{506,2},{110,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_57_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_57-uhd.png</string>
            <key>size</key>
            <string>{526,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4acf113be15f6075c5ec0c3f168c66fa:fb4ff772bffdb92b1398a87b589fda96:e06b8463e14d280638ce849f76922b2b$</string>
            <key>textureFileName</key>
            <string>icons/ship_57-uhd.png</string>
        </dict>
    </dict>
</plist>
