<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_73_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{152,66}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{2,78},{152,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_73_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{126,56}</string>
                <key>spriteSourceSize</key>
                <string>{136,74}</string>
                <key>textureRect</key>
                <string>{{70,78},{126,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_73_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{124,30}</string>
                <key>spriteSourceSize</key>
                <string>{134,34}</string>
                <key>textureRect</key>
                <string>{{128,78},{124,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_73_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,92}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_73-uhd.png</string>
            <key>size</key>
            <string>{164,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c1a5f7998dc4237ba90f18c47b8588e:9c619b5b1738fe026766aafccd49fa62:88009421c740fe505d828f46aaf6244b$</string>
            <key>textureFileName</key>
            <string>icons/ship_73-uhd.png</string>
        </dict>
    </dict>
</plist>
