<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{164,92}</string>
                <key>textureRect</key>
                <string>{{2,66},{158,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_13_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{152,62}</string>
                <key>spriteSourceSize</key>
                <string>{158,86}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_13_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{166,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,100}</string>
                <key>textureRect</key>
                <string>{{2,156},{166,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_13-uhd.png</string>
            <key>size</key>
            <string>{170,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bb3ff43e8c386dc7f94bed386c0a261:57f60b4c4a357a72bea924ec245838c9:a14a3a959aabd5707bd877956348b18c$</string>
            <key>textureFileName</key>
            <string>icons/ship_13-uhd.png</string>
        </dict>
    </dict>
</plist>
