<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{182,86}</string>
                <key>spriteSourceSize</key>
                <string>{194,96}</string>
                <key>textureRect</key>
                <string>{{2,20},{182,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_30_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{55,14}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_30_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,10}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{151,36}</string>
                <key>textureRect</key>
                <string>{{59,2},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_30_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{192,94}</string>
                <key>spriteSourceSize</key>
                <string>{202,104}</string>
                <key>textureRect</key>
                <string>{{2,204},{192,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_30-uhd.png</string>
            <key>size</key>
            <string>{98,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a38b71a520bcbfa5cc119e8613b7154e:31ac8ec856c4f2345327a37fd2f18ba0:e02b722270daa4be1f820395b1d01ead$</string>
            <key>textureFileName</key>
            <string>icons/ship_30-uhd.png</string>
        </dict>
    </dict>
</plist>
