<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_102_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{194,96}</string>
                <key>spriteSourceSize</key>
                <string>{204,104}</string>
                <key>textureRect</key>
                <string>{{1,211},{194,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_102_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{172,98}</string>
                <key>textureRect</key>
                <string>{{1,43},{166,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_102_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-8}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{154,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_102_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{202,104}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{1,407},{202,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_102-uhd.png</string>
            <key>size</key>
            <string>{106,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9c895be198142a6bba579a99b8b6fe0:c42b9470870255b4462b751e67852856:9511d8f84073791194adcddb521d9af1$</string>
            <key>textureFileName</key>
            <string>icons/ship_102-uhd.png</string>
        </dict>
    </dict>
</plist>
