<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_95_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{168,74}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{179,1},{168,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_95_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,48}</string>
                <key>spriteSourceSize</key>
                <string>{150,48}</string>
                <key>textureRect</key>
                <string>{{349,1},{148,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_95_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,9}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{148,42}</string>
                <key>textureRect</key>
                <string>{{349,51},{120,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_95_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{176,82}</string>
                <key>spriteSourceSize</key>
                <string>{188,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_95-uhd.png</string>
            <key>size</key>
            <string>{498,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae25c24879d829a1fb2140b3603feb3:6345431d95ee3ea02e98f8050c1ac326:7646346e7b5dfaa1854e3caa671f1537$</string>
            <key>textureFileName</key>
            <string>icons/ship_95-uhd.png</string>
        </dict>
    </dict>
</plist>
