<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_41_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{172,110}</string>
                <key>textureRect</key>
                <string>{{178,2},{166,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_41_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{158,86}</string>
                <key>spriteSourceSize</key>
                <string>{164,104}</string>
                <key>textureRect</key>
                <string>{{346,2},{158,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_41_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-2}</string>
                <key>spriteSize</key>
                <string>{10,6}</string>
                <key>spriteSourceSize</key>
                <string>{82,10}</string>
                <key>textureRect</key>
                <string>{{346,90},{10,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_41_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,118}</string>
                <key>textureRect</key>
                <string>{{2,2},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_41-uhd.png</string>
            <key>size</key>
            <string>{506,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a528a27b2b5287dc38620a2a7727aee:5c0c5c81d2c67e26ee540c6e279ea9b9:071b1570eef6be71ebed5fd90e7c9ebd$</string>
            <key>textureFileName</key>
            <string>icons/ship_41-uhd.png</string>
        </dict>
    </dict>
</plist>
