<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_165_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{163,114}</string>
                <key>spriteSourceSize</key>
                <string>{173,140}</string>
                <key>textureRect</key>
                <string>{{1,125},{163,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_165_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{157,56}</string>
                <key>spriteSourceSize</key>
                <string>{167,74}</string>
                <key>textureRect</key>
                <string>{{1,241},{157,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_165_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,21}</string>
                <key>spriteSize</key>
                <string>{117,84}</string>
                <key>spriteSourceSize</key>
                <string>{165,126}</string>
                <key>textureRect</key>
                <string>{{1,299},{117,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_165_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{171,122}</string>
                <key>spriteSourceSize</key>
                <string>{181,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_165-uhd.png</string>
            <key>size</key>
            <string>{173,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01fe52a7f26fca12412507f24adecd6:8031adf8f2a37ac50f710cf1f24a53c2:6c0f64b5cde616ff6ee9788e216d36f7$</string>
            <key>textureFileName</key>
            <string>icons/ship_165-uhd.png</string>
        </dict>
    </dict>
</plist>
