<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_104_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{160,88}</string>
                <key>spriteSourceSize</key>
                <string>{164,88}</string>
                <key>textureRect</key>
                <string>{{81,115},{160,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_104_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{150,78}</string>
                <key>textureRect</key>
                <string>{{1,99},{148,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_104_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,3}</string>
                <key>spriteSize</key>
                <string>{112,66}</string>
                <key>spriteSourceSize</key>
                <string>{148,72}</string>
                <key>textureRect</key>
                <string>{{171,1},{112,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_104_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{168,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_104-uhd.png</string>
            <key>size</key>
            <string>{242,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fefa0f0a06ad38247e750ca033187bd7:6c479046d5235a8364f0698b46659d3a:8656fbb36b90088d19af344c97506faa$</string>
            <key>textureFileName</key>
            <string>icons/ship_104-uhd.png</string>
        </dict>
    </dict>
</plist>
