<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{195,88}</string>
                <key>spriteSourceSize</key>
                <string>{225,94}</string>
                <key>textureRect</key>
                <string>{{2,100},{195,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{156,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,90}</string>
                <key>textureRect</key>
                <string>{{2,190},{156,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{147,70}</string>
                <key>spriteSourceSize</key>
                <string>{191,70}</string>
                <key>textureRect</key>
                <string>{{2,258},{147,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{203,96}</string>
                <key>spriteSourceSize</key>
                <string>{233,102}</string>
                <key>textureRect</key>
                <string>{{2,2},{203,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_32-uhd.png</string>
            <key>size</key>
            <string>{207,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6ed44871df4a21ebd98c791b6c4795:a9f48a23dbcf9ad804e0ebef9ec97a08:ca993fc6d42185b7ac33d7954c2afe5c$</string>
            <key>textureFileName</key>
            <string>icons/ship_32-uhd.png</string>
        </dict>
    </dict>
</plist>
