<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_59_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{158,74}</string>
                <key>spriteSourceSize</key>
                <string>{158,90}</string>
                <key>textureRect</key>
                <string>{{86,2},{158,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_59_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{150,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,82}</string>
                <key>textureRect</key>
                <string>{{86,78},{150,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_59_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{148,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,44}</string>
                <key>textureRect</key>
                <string>{{86,146},{148,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_59_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{166,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_59-uhd.png</string>
            <key>size</key>
            <string>{246,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1c4efce339dc1e4fdc163d57c30497:56d139e97c791efb72e3f15cd52cd1ca:c11ace1793cb6515399546a7145a83b8$</string>
            <key>textureFileName</key>
            <string>icons/ship_59-uhd.png</string>
        </dict>
    </dict>
</plist>
