<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{166,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,86}</string>
                <key>textureRect</key>
                <string>{{178,2},{166,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_07_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,64}</string>
                <key>spriteSourceSize</key>
                <string>{115,64}</string>
                <key>textureRect</key>
                <string>{{346,2},{115,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_07_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{174,88}</string>
                <key>spriteSourceSize</key>
                <string>{188,94}</string>
                <key>textureRect</key>
                <string>{{2,2},{174,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_07-uhd.png</string>
            <key>size</key>
            <string>{463,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9daa1be607333b2a91b73087ab3620c6:ecd933042743728383ce1abdb2e81d5b:68c539ec8e599d2f6e87a5937da8e82c$</string>
            <key>textureFileName</key>
            <string>icons/ship_07-uhd.png</string>
        </dict>
    </dict>
</plist>
