<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_140_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{186,74}</string>
                <key>spriteSourceSize</key>
                <string>{202,104}</string>
                <key>textureRect</key>
                <string>{{1,85},{186,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_140_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{178,66}</string>
                <key>spriteSourceSize</key>
                <string>{194,96}</string>
                <key>textureRect</key>
                <string>{{1,161},{178,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_140_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-1}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{156,40}</string>
                <key>textureRect</key>
                <string>{{181,161},{48,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_140_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{194,82}</string>
                <key>spriteSourceSize</key>
                <string>{210,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_140-uhd.png</string>
            <key>size</key>
            <string>{220,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afbaaa2f4351180b24648570227d6679:d6ba063bbaadd8934d89f74e00d0cc4f:b059c0a2ea4bfef07310aae7ae164156$</string>
            <key>textureFileName</key>
            <string>icons/ship_140-uhd.png</string>
        </dict>
    </dict>
</plist>
