<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_61_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{160,98}</string>
                <key>spriteSourceSize</key>
                <string>{164,100}</string>
                <key>textureRect</key>
                <string>{{170,2},{160,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_61_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{154,84}</string>
                <key>textureRect</key>
                <string>{{332,2},{152,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_61_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{142,82}</string>
                <key>textureRect</key>
                <string>{{170,102},{138,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_61_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{166,106}</string>
                <key>spriteSourceSize</key>
                <string>{170,108}</string>
                <key>textureRect</key>
                <string>{{2,2},{166,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_61-uhd.png</string>
            <key>size</key>
            <string>{418,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078f8dc5855e0420b77d3a53a1afa16b:5c55db30a9932c8f89e8c23a164d537d:6d7c6a632b0eed7cc56de4a67b820031$</string>
            <key>textureFileName</key>
            <string>icons/ship_61-uhd.png</string>
        </dict>
    </dict>
</plist>
