<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_67_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{169,102}</string>
                <key>spriteSourceSize</key>
                <string>{179,114}</string>
                <key>textureRect</key>
                <string>{{2,114},{169,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_67_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{167,100}</string>
                <key>spriteSourceSize</key>
                <string>{177,112}</string>
                <key>textureRect</key>
                <string>{{2,218},{167,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_67_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{104,218},{138,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_67_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{187,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_67-uhd.png</string>
            <key>size</key>
            <string>{181,387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46119f1ead47dbde1d2dc84eb80e72cd:5c1a0da4ca5ec096c027b044b323d4bc:e1fccfd7cfc18a9ef152ea0b69e2fe07$</string>
            <key>textureFileName</key>
            <string>icons/ship_67-uhd.png</string>
        </dict>
    </dict>
</plist>
