<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_91_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{176,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,102}</string>
                <key>textureRect</key>
                <string>{{1,103},{176,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_91_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{152,68}</string>
                <key>spriteSourceSize</key>
                <string>{156,90}</string>
                <key>textureRect</key>
                <string>{{179,103},{152,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_91_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-5}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{187,1},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_91_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{184,100}</string>
                <key>spriteSourceSize</key>
                <string>{188,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_91-uhd.png</string>
            <key>size</key>
            <string>{248,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ef9746d3a99ecc6d58996d381ec95f5:2ea7ba195a8309f8a42df5bb0ac8a713:97f505763f2bc3e548286aef1b63fd59$</string>
            <key>textureFileName</key>
            <string>icons/ship_91-uhd.png</string>
        </dict>
    </dict>
</plist>
