<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_13_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,124}</string>
                <key>textureRect</key>
                <string>{{172,2},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-5}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{130,86}</string>
                <key>textureRect</key>
                <string>{{334,2},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{88,46}</string>
                <key>spriteSourceSize</key>
                <string>{140,54}</string>
                <key>textureRect</key>
                <string>{{412,2},{88,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{168,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{168,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{546,74},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{2,122},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{510,2},{52,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{470,86},{38,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_13_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{2,122},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,82}</string>
                <key>spriteSourceSize</key>
                <string>{48,82}</string>
                <key>textureRect</key>
                <string>{{460,2},{48,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{412,92},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{2,122},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_13_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{564,2},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_13-uhd.png</string>
            <key>size</key>
            <string>{610,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4152a35dbbb41fb331c54e0fdd9104c6:513fe45f6ec75863a59f66bebf432660:73c3b9a6f273a0c35e2620b4df0bb79c$</string>
            <key>textureFileName</key>
            <string>icons/spider_13-uhd.png</string>
        </dict>
    </dict>
</plist>
