<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_41_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{140,104}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1,151},{140,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{132,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,106}</string>
                <key>textureRect</key>
                <string>{{115,1},{132,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,14}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{113,104}</string>
                <key>textureRect</key>
                <string>{{197,135},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{148,112}</string>
                <key>spriteSourceSize</key>
                <string>{156,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{211,77},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_41_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{265,195},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{211,1},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{267,1},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,68}</string>
                <key>textureRect</key>
                <string>{{256,125},{38,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{143,135},{52,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{143,219},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{279,77},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_41_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{200,213},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_41-uhd.png</string>
            <key>size</key>
            <string>{312,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638c0c7f198f761632e8e1fab969c504:0290724f99316484b9f7ac2866143b22:fa91ac3968b82fa8fc98ea7d363fc774$</string>
            <key>textureFileName</key>
            <string>icons/spider_41-uhd.png</string>
        </dict>
    </dict>
</plist>
