<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_31_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{135,122}</string>
                <key>textureRect</key>
                <string>{{145,2},{133,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,112}</string>
                <key>spriteSourceSize</key>
                <string>{125,112}</string>
                <key>textureRect</key>
                <string>{{2,134},{123,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,32}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{280,103},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{143,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{141,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,62}</string>
                <key>spriteSourceSize</key>
                <string>{35,62}</string>
                <key>textureRect</key>
                <string>{{185,202},{35,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,56}</string>
                <key>spriteSourceSize</key>
                <string>{29,56}</string>
                <key>textureRect</key>
                <string>{{127,218},{29,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{173,126},{44,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,76}</string>
                <key>textureRect</key>
                <string>{{219,126},{36,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,70}</string>
                <key>textureRect</key>
                <string>{{280,2},{30,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{46,84}</string>
                <key>textureRect</key>
                <string>{{127,134},{44,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{257,191},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{280,72},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{257,126},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_31-uhd.png</string>
            <key>size</key>
            <string>{312,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7a3c1c4133d003f4ce957503e66545:9651482e523f1ce7016a9df4abffe67b:f41041d8a4739811f56b9b5a7c0bfd51$</string>
            <key>textureFileName</key>
            <string>icons/spider_31-uhd.png</string>
        </dict>
    </dict>
</plist>
