<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_57_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,98}</string>
                <key>spriteSourceSize</key>
                <string>{123,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_57_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{111,92}</string>
                <key>spriteSourceSize</key>
                <string>{115,92}</string>
                <key>textureRect</key>
                <string>{{1,101},{111,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_57_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-9}</string>
                <key>spriteSize</key>
                <string>{53,72}</string>
                <key>spriteSourceSize</key>
                <string>{109,90}</string>
                <key>textureRect</key>
                <string>{{1,424},{53,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,108}</string>
                <key>spriteSourceSize</key>
                <string>{131,108}</string>
                <key>textureRect</key>
                <string>{{1,195},{131,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{73,523},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_57_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{77,398},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_57_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{1,479},{58,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{42,76}</string>
                <key>textureRect</key>
                <string>{{1,380},{42,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{85,328},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_57_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{1,328},{50,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{1,539},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{37,539},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_57_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{75,458},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_57-uhd.png</string>
            <key>size</key>
            <string>{125,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25ef1f8d80b83cf4c4a8aac5b580972:fa36757d75cc62f49647f12d1a4721a8:42e3487707897b9a8ed6c8129e760123$</string>
            <key>textureFileName</key>
            <string>icons/spider_57-uhd.png</string>
        </dict>
    </dict>
</plist>
