<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_20_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{134,86}</string>
                <key>textureRect</key>
                <string>{{1,95},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{118,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{1,181},{118,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,8}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{122,74}</string>
                <key>textureRect</key>
                <string>{{177,89},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{140,92}</string>
                <key>spriteSourceSize</key>
                <string>{142,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{121,181},{44,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{38,66}</string>
                <key>textureRect</key>
                <string>{{177,149},{36,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_20_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,78}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{193,1},{52,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{44,78}</string>
                <key>textureRect</key>
                <string>{{135,95},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{36,70}</string>
                <key>textureRect</key>
                <string>{{167,187},{34,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_20_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{48,86}</string>
                <key>spriteSourceSize</key>
                <string>{52,86}</string>
                <key>textureRect</key>
                <string>{{143,1},{48,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{143,89},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{143,89},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_20_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{143,89},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_20-uhd.png</string>
            <key>size</key>
            <string>{246,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4c925b388d157c0b0f43d1c7e4df493:1caf1cdab1877b9893c4255fcc0b844a:649e489bf978d8882fcce61b331f6d87$</string>
            <key>textureFileName</key>
            <string>icons/spider_20-uhd.png</string>
        </dict>
    </dict>
</plist>
