<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_62_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{112,90}</string>
                <key>spriteSourceSize</key>
                <string>{114,92}</string>
                <key>textureRect</key>
                <string>{{101,1},{112,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-5}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{92,60}</string>
                <key>textureRect</key>
                <string>{{193,89},{38,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{86,20}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{193,1},{86,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{327,73},{52,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,44}</string>
                <key>textureRect</key>
                <string>{{391,59},{16,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{319,1},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{50,74}</string>
                <key>textureRect</key>
                <string>{{271,1},{46,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{14,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{311,77},{14,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{58,82}</string>
                <key>textureRect</key>
                <string>{{215,1},{54,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{381,1},{56,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_62_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{1,123},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_62_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{245,85},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_62-uhd.png</string>
            <key>size</key>
            <string>{416,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c913e265025b600ec9d4d48cf3ceee:5b31c28da2703385a3c97b95f9a6bb81:508997c094babd8610e1404531587adb$</string>
            <key>textureFileName</key>
            <string>icons/spider_62-uhd.png</string>
        </dict>
    </dict>
</plist>
