<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_25_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{129,102}</string>
                <key>spriteSourceSize</key>
                <string>{131,120}</string>
                <key>textureRect</key>
                <string>{{234,1},{129,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{121,92}</string>
                <key>spriteSourceSize</key>
                <string>{125,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,21}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{97,108}</string>
                <key>textureRect</key>
                <string>{{525,1},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{137,110}</string>
                <key>spriteSourceSize</key>
                <string>{139,128}</string>
                <key>textureRect</key>
                <string>{{95,1},{137,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{430,77},{46,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{566,69},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{469,1},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{421,1},{46,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,68}</string>
                <key>textureRect</key>
                <string>{{496,75},{40,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{365,1},{54,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{588,1},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_25_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{95,113},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_25_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{365,85},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_25-uhd.png</string>
            <key>size</key>
            <string>{623,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a2b24717f21fee102fe4a9aeefb3928:1febecd78045778f1f98ee72219b750b:b1917574cd4275541fc83b563f1b3652$</string>
            <key>textureFileName</key>
            <string>icons/spider_25-uhd.png</string>
        </dict>
    </dict>
</plist>
