<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_67_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{130,80}</string>
                <key>spriteSourceSize</key>
                <string>{136,82}</string>
                <key>textureRect</key>
                <string>{{1,141},{130,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_67_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{130,76}</string>
                <key>textureRect</key>
                <string>{{1,273},{124,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_67_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{122,24}</string>
                <key>spriteSourceSize</key>
                <string>{128,74}</string>
                <key>textureRect</key>
                <string>{{1,399},{122,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_67_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{138,88}</string>
                <key>spriteSourceSize</key>
                <string>{144,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_67_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{77,356},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_67_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{83,141},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_67_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{68,495},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_67_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{39,80}</string>
                <key>spriteSourceSize</key>
                <string>{43,80}</string>
                <key>textureRect</key>
                <string>{{27,489},{39,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_67_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{33,72}</string>
                <key>spriteSourceSize</key>
                <string>{37,72}</string>
                <key>textureRect</key>
                <string>{{83,199},{33,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_67_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{47,88}</string>
                <key>spriteSourceSize</key>
                <string>{51,88}</string>
                <key>textureRect</key>
                <string>{{27,399},{47,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_67_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{81,40}</string>
                <key>textureRect</key>
                <string>{{76,420},{73,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_67_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{65,32}</string>
                <key>spriteSourceSize</key>
                <string>{75,34}</string>
                <key>textureRect</key>
                <string>{{91,1},{65,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_67_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{81,46}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{77,273},{81,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_67-uhd.png</string>
            <key>size</key>
            <string>{124,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e659d02a02981631dee3295f3f5ff1e:c7efa0a6946c7ba9318c16c078afcedb:577bb19d879d153de387201f20fc70de$</string>
            <key>textureFileName</key>
            <string>icons/spider_67-uhd.png</string>
        </dict>
    </dict>
</plist>
