<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{133,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{2,229},{133,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_02_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{123,82}</string>
                <key>spriteSourceSize</key>
                <string>{131,104}</string>
                <key>textureRect</key>
                <string>{{2,2},{123,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,5}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{87,48}</string>
                <key>textureRect</key>
                <string>{{2,467},{35,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_02_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{141,110}</string>
                <key>spriteSourceSize</key>
                <string>{147,120}</string>
                <key>textureRect</key>
                <string>{{2,86},{141,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{74,440},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{42,467},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{2,413},{52,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{86,364},{38,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,14}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,54}</string>
                <key>textureRect</key>
                <string>{{106,229},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{2,364},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{67,504},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{114,86},{6,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{2,504},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_02-uhd.png</string>
            <key>size</key>
            <string>{127,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267c2f99de5046b05b83900c4cd5039a:c5fa310cd11fc013732cd8cc5c632fb7:ce88eed7c41aeb356c46e9ada74925bc$</string>
            <key>textureFileName</key>
            <string>icons/spider_02-uhd.png</string>
        </dict>
    </dict>
</plist>
