<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_05_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{125,108}</string>
                <key>spriteSourceSize</key>
                <string>{139,124}</string>
                <key>textureRect</key>
                <string>{{243,2},{125,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{121,104}</string>
                <key>spriteSourceSize</key>
                <string>{137,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{121,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,1}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{131,68}</string>
                <key>textureRect</key>
                <string>{{568,56},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{133,116}</string>
                <key>spriteSourceSize</key>
                <string>{147,132}</string>
                <key>textureRect</key>
                <string>{{108,2},{133,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{568,2},{52,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{506,74},{48,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{506,2},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,82}</string>
                <key>textureRect</key>
                <string>{{422,2},{42,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{38,72}</string>
                <key>spriteSourceSize</key>
                <string>{42,78}</string>
                <key>textureRect</key>
                <string>{{466,2},{38,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,90}</string>
                <key>textureRect</key>
                <string>{{370,2},{50,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{370,88},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_05_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{243,112},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_05_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{427,80},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_05-uhd.png</string>
            <key>size</key>
            <string>{634,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a77d56dea14d04efdb1df3d4cb9326a1:e806fa490c3ab2301da3560b156ecdb0:95b256cffcbaef613755d2d5ed33fc4a$</string>
            <key>textureFileName</key>
            <string>icons/spider_05-uhd.png</string>
        </dict>
    </dict>
</plist>
