<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_49_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{117,100}</string>
                <key>spriteSourceSize</key>
                <string>{117,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_49_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{111,92}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{103,1},{111,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_49_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{326,1},{106,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_49_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{127,110}</string>
                <key>spriteSourceSize</key>
                <string>{127,124}</string>
                <key>textureRect</key>
                <string>{{197,1},{127,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_49_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{473,77},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_49_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{556,1},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_49_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{458,1},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_49_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{36,76}</string>
                <key>spriteSourceSize</key>
                <string>{40,84}</string>
                <key>textureRect</key>
                <string>{{420,1},{36,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_49_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{28,66}</string>
                <key>spriteSourceSize</key>
                <string>{34,74}</string>
                <key>textureRect</key>
                <string>{{405,89},{28,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_49_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,92}</string>
                <key>textureRect</key>
                <string>{{374,1},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_49_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{541,66},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_49_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{374,89},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_49_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{512,1},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_49-uhd.png</string>
            <key>size</key>
            <string>{595,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62a1d179effe18b545318d5bbbd53c7:08e93347cb017a052df528c878cf23fa:d5c36f0b65bfe70159ad8f6043b4b09c$</string>
            <key>textureFileName</key>
            <string>icons/spider_49-uhd.png</string>
        </dict>
    </dict>
</plist>
