<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_21_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{114,88}</string>
                <key>spriteSourceSize</key>
                <string>{122,100}</string>
                <key>textureRect</key>
                <string>{{1,99},{114,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,11}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{1,253},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{1,189},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{122,96}</string>
                <key>spriteSourceSize</key>
                <string>{130,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{53,371},{42,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_21_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{21,391},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,68}</string>
                <key>textureRect</key>
                <string>{{1,323},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{53,329},{40,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_21_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{1,391},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{75,253},{48,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{103,189},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{103,189},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_21_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{103,189},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_21-uhd.png</string>
            <key>size</key>
            <string>{124,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fe259a79c2dc02b270158a984df363:ed8546a5ec65e3ffba7cc269e044f21e:74c31d2bb44ab121bf14871274b49f81$</string>
            <key>textureFileName</key>
            <string>icons/spider_21-uhd.png</string>
        </dict>
    </dict>
</plist>
