<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_59_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{109,100}</string>
                <key>spriteSourceSize</key>
                <string>{119,114}</string>
                <key>textureRect</key>
                <string>{{2,121},{109,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{2,335},{95,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{101,76}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{2,232},{101,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{117,108}</string>
                <key>spriteSourceSize</key>
                <string>{127,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{117,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{2,486},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{16,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,52}</string>
                <key>textureRect</key>
                <string>{{80,316},{16,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{2,432},{52,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,74}</string>
                <key>spriteSourceSize</key>
                <string>{36,74}</string>
                <key>textureRect</key>
                <string>{{74,432},{36,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,44}</string>
                <key>textureRect</key>
                <string>{{82,395},{20,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_59_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{44,82}</string>
                <key>textureRect</key>
                <string>{{80,232},{44,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{66,508},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{66,486},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_59_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{82,330},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_59-uhd.png</string>
            <key>size</key>
            <string>{126,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60295e5d7ab40459de8eeef9242cdd1f:75ffca11eb180a143e747b30ffcd58ea:c67884467f4fc5b6f5d60c53deb6c5a1$</string>
            <key>textureFileName</key>
            <string>icons/spider_59-uhd.png</string>
        </dict>
    </dict>
</plist>
