<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_44_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{121,106}</string>
                <key>spriteSourceSize</key>
                <string>{125,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{117,106}</string>
                <key>textureRect</key>
                <string>{{242,1},{113,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{109,66}</string>
                <key>spriteSourceSize</key>
                <string>{113,104}</string>
                <key>textureRect</key>
                <string>{{342,1},{109,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,122}</string>
                <key>textureRect</key>
                <string>{{109,1},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,62}</string>
                <key>textureRect</key>
                <string>{{468,77},{45,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{410,85},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{510,1},{53,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{44,74}</string>
                <key>textureRect</key>
                <string>{{464,1},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{38,66}</string>
                <key>textureRect</key>
                <string>{{565,1},{38,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,82}</string>
                <key>spriteSourceSize</key>
                <string>{52,82}</string>
                <key>textureRect</key>
                <string>{{410,1},{52,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{564,85},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_44_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{532,73},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_44_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{565,41},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_44-uhd.png</string>
            <key>size</key>
            <string>{632,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a43aa8f407dc95f2a04835391bf8cd9:f0952872525d0f72a3d21d3cba6749b7:63b64753b55703835868eee3a828d304$</string>
            <key>textureFileName</key>
            <string>icons/spider_44-uhd.png</string>
        </dict>
    </dict>
</plist>
