<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_68_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{133,106}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{144,1},{133,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{121,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,124}</string>
                <key>textureRect</key>
                <string>{{279,1},{121,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,25}</string>
                <key>spriteSize</key>
                <string>{111,72}</string>
                <key>spriteSourceSize</key>
                <string>{115,122}</string>
                <key>textureRect</key>
                <string>{{363,1},{111,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{141,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{563,1},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{578,101},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{501,1},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{502,73},{54,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_68_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,8}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{602,101},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{437,1},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{578,65},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{1,117},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_68_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{437,85},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_68-uhd.png</string>
            <key>size</key>
            <string>{634,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160f0e3f3226927861e86f9c707b30ad:098d773d89c57c99e784f7e99b78ef80:a51c8cd7c41b54889de50e791b2ed7c4$</string>
            <key>textureFileName</key>
            <string>icons/spider_68-uhd.png</string>
        </dict>
    </dict>
</plist>
