<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_39_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{129,106}</string>
                <key>spriteSourceSize</key>
                <string>{131,118}</string>
                <key>textureRect</key>
                <string>{{1,140},{129,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_39_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{123,110}</string>
                <key>textureRect</key>
                <string>{{1,271},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_39_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,19}</string>
                <key>spriteSize</key>
                <string>{85,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,100}</string>
                <key>textureRect</key>
                <string>{{1,371},{85,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_39_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{137,114}</string>
                <key>spriteSourceSize</key>
                <string>{139,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_39_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{1,601},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_39_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,56}</string>
                <key>textureRect</key>
                <string>{{59,579},{48,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_39_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{63,459},{62,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_39_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{60,76}</string>
                <key>textureRect</key>
                <string>{{1,523},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_39_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{55,531},{46,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_39_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{1,435},{60,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_39_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{88,371},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_39_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{88,428},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_39_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{59,629},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_39-uhd.png</string>
            <key>size</key>
            <string>{128,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ba67e45b3b812303c0f83e834d7f5d:278170f694e6daadc35d905faab6c746:c4918571f749946d1b76d47042f90a59$</string>
            <key>textureFileName</key>
            <string>icons/spider_39-uhd.png</string>
        </dict>
    </dict>
</plist>
