<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_19_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{135,106}</string>
                <key>textureRect</key>
                <string>{{132,1},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{135,106}</string>
                <key>textureRect</key>
                <string>{{132,101},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,6}</string>
                <key>spriteSize</key>
                <string>{45,80}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{51,109},{45,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{129,106}</string>
                <key>spriteSourceSize</key>
                <string>{143,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{188,201},{38,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_19_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{98,109},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{43,197},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{42,78}</string>
                <key>textureRect</key>
                <string>{{1,197},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,70}</string>
                <key>spriteSourceSize</key>
                <string>{32,70}</string>
                <key>textureRect</key>
                <string>{{91,191},{30,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,86}</string>
                <key>textureRect</key>
                <string>{{1,109},{48,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{188,241},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{51,191},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_19_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{123,201},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_19-uhd.png</string>
            <key>size</key>
            <string>{254,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e7a13948343f63b41a95d3c6fce7f5:a16ea44c5c077224c8877e46a4dcf0b5:32eabc3ebc9eab6a381f91afafbac87c$</string>
            <key>textureFileName</key>
            <string>icons/spider_19-uhd.png</string>
        </dict>
    </dict>
</plist>
