<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_11_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{136,112}</string>
                <key>textureRect</key>
                <string>{{238,2},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{122,94}</string>
                <key>spriteSourceSize</key>
                <string>{132,102}</string>
                <key>textureRect</key>
                <string>{{2,2},{122,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,6}</string>
                <key>spriteSize</key>
                <string>{40,12}</string>
                <key>spriteSourceSize</key>
                <string>{122,24}</string>
                <key>textureRect</key>
                <string>{{238,106},{40,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{146,120}</string>
                <key>textureRect</key>
                <string>{{98,2},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{426,80},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{494,86},{38,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{472,2},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{48,76}</string>
                <key>textureRect</key>
                <string>{{424,2},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,66}</string>
                <key>textureRect</key>
                <string>{{526,46},{38,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_11_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{368,2},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{368,88},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{98,114},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_11_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{526,2},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_11-uhd.png</string>
            <key>size</key>
            <string>{592,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4c654239ca85025c2b7da6d70350ae:8b6f1d9de3ab6bb57ca2a320e86f054c:057bb2f208cc0305dd57697b0d1c6271$</string>
            <key>textureFileName</key>
            <string>icons/spider_11-uhd.png</string>
        </dict>
    </dict>
</plist>
