<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_15_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{124,82}</string>
                <key>textureRect</key>
                <string>{{2,130},{118,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{94,2},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,9}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{2,214},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_15_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{188,2},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{56,214},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_15_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{174,124},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,78}</string>
                <key>textureRect</key>
                <string>{{94,80},{42,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_15_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{122,208},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_15_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{122,124},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{174,198},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{94,124},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_15_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{170,80},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_15-uhd.png</string>
            <key>size</key>
            <string>{236,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5978722f9c41fd816f9787654cf4f0d1:27f288e65815019ed4b858aa5874f4ae:13bec3da6d9aa36f452b9c9e9a82762f$</string>
            <key>textureFileName</key>
            <string>icons/spider_15-uhd.png</string>
        </dict>
    </dict>
</plist>
