<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_47_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{117,102}</string>
                <key>spriteSourceSize</key>
                <string>{119,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_47_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{111,94}</string>
                <key>spriteSourceSize</key>
                <string>{113,96}</string>
                <key>textureRect</key>
                <string>{{105,1},{111,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_47_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,4}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{73,28}</string>
                <key>textureRect</key>
                <string>{{361,91},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{127,110}</string>
                <key>spriteSourceSize</key>
                <string>{129,112}</string>
                <key>textureRect</key>
                <string>{{201,1},{127,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{502,1},{40,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{382,83},{34,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_47_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{418,1},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,80}</string>
                <key>spriteSourceSize</key>
                <string>{38,80}</string>
                <key>textureRect</key>
                <string>{{378,1},{38,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,72}</string>
                <key>spriteSourceSize</key>
                <string>{32,74}</string>
                <key>textureRect</key>
                <string>{{468,1},{32,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{48,88}</string>
                <key>textureRect</key>
                <string>{{330,1},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{507,67},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_47_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{330,91},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_47_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{442,75},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_47-uhd.png</string>
            <key>size</key>
            <string>{543,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52b6238d39d415f328e7bc2a90c3b210:9990e99d1a7d6e9d605d1226a8ad9630:0e01685e893d2798a114f3da67c4c0be$</string>
            <key>textureFileName</key>
            <string>icons/spider_47-uhd.png</string>
        </dict>
    </dict>
</plist>
