<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_36_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{131,108}</string>
                <key>spriteSourceSize</key>
                <string>{133,116}</string>
                <key>textureRect</key>
                <string>{{1,142},{131,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{119,1},{125,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,7}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{103,50}</string>
                <key>textureRect</key>
                <string>{{244,183},{35,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{139,116}</string>
                <key>spriteSourceSize</key>
                <string>{141,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{221,43},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{170,183},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{50,74}</string>
                <key>textureRect</key>
                <string>{{216,131},{50,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{221,1},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{34,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{134,183},{34,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,82}</string>
                <key>textureRect</key>
                <string>{{134,128},{50,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{208,183},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_36_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{244,220},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_36_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{221,87},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_36-uhd.png</string>
            <key>size</key>
            <string>{294,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ee8ff29ccd4c75acf45440cb690db03:21781bc6c9499dbf446acef87ee2584b:45ca87cad6b5ff231c4c3e06e7e75d69$</string>
            <key>textureFileName</key>
            <string>icons/spider_36-uhd.png</string>
        </dict>
    </dict>
</plist>
