<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_45_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{149,110}</string>
                <key>spriteSourceSize</key>
                <string>{163,120}</string>
                <key>textureRect</key>
                <string>{{121,1},{149,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{139,100}</string>
                <key>spriteSourceSize</key>
                <string>{151,106}</string>
                <key>textureRect</key>
                <string>{{241,1},{139,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,78}</string>
                <key>textureRect</key>
                <string>{{105,160},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{157,118}</string>
                <key>spriteSourceSize</key>
                <string>{171,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{233,142},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{179,202},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{50,74}</string>
                <key>textureRect</key>
                <string>{{53,160},{50,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{105,202},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{34,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{277,207},{34,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,82}</string>
                <key>textureRect</key>
                <string>{{1,160},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_45_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{241,186},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{198,152},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_45_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{301,142},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_45-uhd.png</string>
            <key>size</key>
            <string>{344,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4934f177fc36feb8aada6fc6138f39d7:c07da8eb03b43b762f5aee8dff6cbada:c4516a2dca661a9853b1b496d46f4c7e$</string>
            <key>textureFileName</key>
            <string>icons/spider_45-uhd.png</string>
        </dict>
    </dict>
</plist>
