<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_14_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{144,142}</string>
                <key>spriteSourceSize</key>
                <string>{146,182}</string>
                <key>textureRect</key>
                <string>{{158,2},{144,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{138,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,168}</string>
                <key>textureRect</key>
                <string>{{304,2},{138,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{154,150}</string>
                <key>spriteSourceSize</key>
                <string>{156,190}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{256,146},{44,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_14_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{398,134},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{322,134},{52,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_14_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{40,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{2,154},{40,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_14_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{34,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{88,154},{34,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_14_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{62,92}</string>
                <key>textureRect</key>
                <string>{{162,146},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_14_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{444,2},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{444,2},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_14_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{444,2},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_14-uhd.png</string>
            <key>size</key>
            <string>{450,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbfccc44ee3fa672bdf7886f618eb13e:55265bf3f945e81bdd1bcf804df4d0a2:534d71520792926129d621d7227ae75a$</string>
            <key>textureFileName</key>
            <string>icons/spider_14-uhd.png</string>
        </dict>
    </dict>
</plist>
