<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_34_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{118,100}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{111,1},{118,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{213,1},{110,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,6}</string>
                <key>spriteSize</key>
                <string>{39,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,74}</string>
                <key>textureRect</key>
                <string>{{501,1},{39,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{126,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{433,1},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{501,65},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{429,77},{48,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_34_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{357,1},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{32,74}</string>
                <key>spriteSourceSize</key>
                <string>{36,76}</string>
                <key>textureRect</key>
                <string>{{399,1},{32,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,92}</string>
                <key>textureRect</key>
                <string>{{307,1},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{307,93},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{433,43},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_34_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{364,83},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_34-uhd.png</string>
            <key>size</key>
            <string>{541,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9c20ebffbe59f9077bdc09a748769d:87f2e06da27374ba30001ea31bbcb9bd:151be00fafa635e974aae7782f094891$</string>
            <key>textureFileName</key>
            <string>icons/spider_34-uhd.png</string>
        </dict>
    </dict>
</plist>
