<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_37_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{131,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{142,1},{131,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{123,106}</string>
                <key>spriteSourceSize</key>
                <string>{127,130}</string>
                <key>textureRect</key>
                <string>{{275,1},{123,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_37_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,1}</string>
                <key>spriteSize</key>
                <string>{59,12}</string>
                <key>spriteSourceSize</key>
                <string>{119,14}</string>
                <key>textureRect</key>
                <string>{{520,112},{59,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{139,122}</string>
                <key>spriteSourceSize</key>
                <string>{143,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{498,1},{48,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{592,1},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{440,1},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{47,78}</string>
                <key>spriteSourceSize</key>
                <string>{49,78}</string>
                <key>textureRect</key>
                <string>{{440,77},{47,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_37_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{520,69},{41,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_37_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{55,86}</string>
                <key>spriteSourceSize</key>
                <string>{57,86}</string>
                <key>textureRect</key>
                <string>{{383,1},{55,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{383,89},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{592,63},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_37_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{548,1},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_37-uhd.png</string>
            <key>size</key>
            <string>{635,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db317ab1fd65fc970644874192b5ff6d:2e709e9ddbabdd89084fadd7dcb7efab:79e5c5f16a4db0ddefd64266e1c58c70$</string>
            <key>textureFileName</key>
            <string>icons/spider_37-uhd.png</string>
        </dict>
    </dict>
</plist>
