<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_16_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,17}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,162}</string>
                <key>textureRect</key>
                <string>{{2,140},{98,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,64}</string>
                <key>textureRect</key>
                <string>{{180,150},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,9}</string>
                <key>spriteSize</key>
                <string>{38,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{180,98},{38,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,17}</string>
                <key>spriteSize</key>
                <string>{108,136}</string>
                <key>spriteSourceSize</key>
                <string>{138,170}</string>
                <key>textureRect</key>
                <string>{{2,2},{108,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{132,136},{46,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{168,58},{38,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{112,58},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{200,68},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-19}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{190,200},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{54,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{112,2},{54,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_16_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{132,206},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{168,98},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_16_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{202,2},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_16-uhd.png</string>
            <key>size</key>
            <string>{248,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b8d6c4468fa372b8a42887875cdb394:25e06a59b47eff909667019cdd853bc0:ec48e9bceea98cd7ea8d24773f9a19d5$</string>
            <key>textureFileName</key>
            <string>icons/spider_16-uhd.png</string>
        </dict>
    </dict>
</plist>
