<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_43_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{135,116}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{1,127},{135,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{129,102}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{146,1},{129,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_43_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,16}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{133,72}</string>
                <key>textureRect</key>
                <string>{{138,271},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{143,124}</string>
                <key>spriteSourceSize</key>
                <string>{149,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{210,236},{45,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{218,178},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{138,216},{53,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_43_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{36,78}</string>
                <key>spriteSourceSize</key>
                <string>{46,78}</string>
                <key>textureRect</key>
                <string>{{138,178},{36,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_43_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{30,70}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{1,245},{30,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_43_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{138,132},{44,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_43_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{1,277},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{226,132},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_43_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{73,245},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_43-uhd.png</string>
            <key>size</key>
            <string>{256,312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a38b981ae8783dae35d546bb42a9fb:00b5acbe385c33b2fef14cc781141c20:dcbe9c0b53ccce7b230a3f5d469f2e99$</string>
            <key>textureFileName</key>
            <string>icons/spider_43-uhd.png</string>
        </dict>
    </dict>
</plist>
