<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_40_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{182,126}</string>
                <key>textureRect</key>
                <string>{{1,127},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{152,106}</string>
                <key>spriteSourceSize</key>
                <string>{174,116}</string>
                <key>textureRect</key>
                <string>{{1,245},{152,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-16}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{119,66}</string>
                <key>textureRect</key>
                <string>{{163,198},{41,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{168,124}</string>
                <key>spriteSourceSize</key>
                <string>{190,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,62}</string>
                <key>spriteSourceSize</key>
                <string>{35,62}</string>
                <key>textureRect</key>
                <string>{{171,123},{35,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,56}</string>
                <key>spriteSourceSize</key>
                <string>{29,56}</string>
                <key>textureRect</key>
                <string>{{155,291},{29,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{171,1},{44,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,76}</string>
                <key>textureRect</key>
                <string>{{163,160},{36,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,68}</string>
                <key>spriteSourceSize</key>
                <string>{30,70}</string>
                <key>textureRect</key>
                <string>{{171,47},{30,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{46,84}</string>
                <key>textureRect</key>
                <string>{{155,245},{44,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{186,291},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_40_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{199,198},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_40_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{171,79},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_40-uhd.png</string>
            <key>size</key>
            <string>{242,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:631bd19669f7a22fc015352b8e5e0b75:434e5707a633faf491d3bdaad8e3b0ed:606f0d1adbdd40414566f17c79d00343$</string>
            <key>textureFileName</key>
            <string>icons/spider_40-uhd.png</string>
        </dict>
    </dict>
</plist>
