<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_28_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{140,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{127,1},{140,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,134}</string>
                <key>textureRect</key>
                <string>{{127,119},{130,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,42}</string>
                <key>spriteSize</key>
                <string>{98,32}</string>
                <key>spriteSourceSize</key>
                <string>{124,116}</string>
                <key>textureRect</key>
                <string>{{1,151},{98,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{148,124}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{269,98},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,56}</string>
                <key>textureRect</key>
                <string>{{269,1},{30,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{233,176},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{85,151},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{283,162},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,92}</string>
                <key>textureRect</key>
                <string>{{35,151},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{233,119},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_28_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{283,218},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_28_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{269,33},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_28-uhd.png</string>
            <key>size</key>
            <string>{316,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e375bbd69618d6a3a4c33d641a1e84bf:a22a9863b545062a919b50b18a1f795f:e64688818411cc5c097345c218c7f145$</string>
            <key>textureFileName</key>
            <string>icons/spider_28-uhd.png</string>
        </dict>
    </dict>
</plist>
