<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_29_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{113,88}</string>
                <key>spriteSourceSize</key>
                <string>{129,88}</string>
                <key>textureRect</key>
                <string>{{1,99},{113,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{107,80}</string>
                <key>spriteSourceSize</key>
                <string>{121,80}</string>
                <key>textureRect</key>
                <string>{{124,1},{107,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,24}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{105,76}</string>
                <key>textureRect</key>
                <string>{{87,189},{45,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{121,96}</string>
                <key>spriteSourceSize</key>
                <string>{137,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{192,140},{46,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,56}</string>
                <key>textureRect</key>
                <string>{{117,229},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{124,83},{54,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{116,139},{44,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,64}</string>
                <key>textureRect</key>
                <string>{{214,210},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_29_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{1,189},{52,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{202,83},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{182,210},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_29_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{117,185},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_29-uhd.png</string>
            <key>size</key>
            <string>{239,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f1215912965be83cdc0f3c3ebecab39:e1c8e705f64f29e43d2316764edd1bd4:c5905b52a879d2c04d84eacd1bae540e$</string>
            <key>textureFileName</key>
            <string>icons/spider_29-uhd.png</string>
        </dict>
    </dict>
</plist>
