<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_09_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{135,110}</string>
                <key>spriteSourceSize</key>
                <string>{143,132}</string>
                <key>textureRect</key>
                <string>{{2,147},{135,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,17}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{139,128}</string>
                <key>textureRect</key>
                <string>{{2,284},{85,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,6}</string>
                <key>spriteSize</key>
                <string>{63,40}</string>
                <key>spriteSourceSize</key>
                <string>{133,52}</string>
                <key>textureRect</key>
                <string>{{76,559},{63,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{143,118}</string>
                <key>spriteSourceSize</key>
                <string>{151,140}</string>
                <key>textureRect</key>
                <string>{{2,2},{143,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{78,428},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_09_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{36,515},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_09_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{2,461},{52,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{39,74}</string>
                <key>spriteSourceSize</key>
                <string>{41,74}</string>
                <key>textureRect</key>
                <string>{{2,420},{39,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{32,66}</string>
                <key>textureRect</key>
                <string>{{2,559},{32,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_09_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{49,82}</string>
                <key>textureRect</key>
                <string>{{2,371},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{86,371},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{36,577},{50,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_09_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{76,494},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_09-uhd.png</string>
            <key>size</key>
            <string>{122,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c77edf87d165ce2c6f0e25a166cebdf8:98cf9d7dcab02c9e1f076922c33544b8:9a96d36b1fd5ae5f906d45dd2f17bb63$</string>
            <key>textureFileName</key>
            <string>icons/spider_09-uhd.png</string>
        </dict>
    </dict>
</plist>
