<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_42_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,154}</string>
                <key>textureRect</key>
                <string>{{139,1},{138,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_42_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{130,146}</string>
                <key>textureRect</key>
                <string>{{269,1},{130,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_42_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,34}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{93,132}</string>
                <key>textureRect</key>
                <string>{{243,141},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{146,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_42_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{157,141},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{38,64}</string>
                <key>textureRect</key>
                <string>{{296,177},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,78}</string>
                <key>textureRect</key>
                <string>{{57,149},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{109,149},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{46,68}</string>
                <key>textureRect</key>
                <string>{{201,141},{40,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{1,149},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{334,177},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{243,207},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_42_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{296,133},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_42-uhd.png</string>
            <key>size</key>
            <string>{390,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e54eebee40b92b5b854a09c61ec42eee:40d32682ff59f4de832453394fd48e37:cf20893c2b4c5819dc3b704af9bb19d4$</string>
            <key>textureFileName</key>
            <string>icons/spider_42-uhd.png</string>
        </dict>
    </dict>
</plist>
