<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_04_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,108}</string>
                <key>textureRect</key>
                <string>{{132,2},{120,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,6}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,46}</string>
                <key>textureRect</key>
                <string>{{366,76},{31,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,7}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,42}</string>
                <key>textureRect</key>
                <string>{{314,80},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{420,2},{42,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{132,100},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{366,2},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,78}</string>
                <key>textureRect</key>
                <string>{{314,2},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{132,100},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,88}</string>
                <key>textureRect</key>
                <string>{{254,2},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{464,46},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{132,100},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{420,46},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_04-uhd.png</string>
            <key>size</key>
            <string>{500,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20742a98ac9925075b5eccaf0ca9a0f:04e5978f30317df45e095c72f70cab20:d4a32f18a8a830b3d546f8500fe1f0db$</string>
            <key>textureFileName</key>
            <string>icons/spider_04-uhd.png</string>
        </dict>
    </dict>
</plist>
