<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_50_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{146,100}</string>
                <key>textureRect</key>
                <string>{{111,1},{146,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,92}</string>
                <key>textureRect</key>
                <string>{{1,157},{138,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_50_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,10}</string>
                <key>spriteSize</key>
                <string>{93,72}</string>
                <key>spriteSourceSize</key>
                <string>{127,92}</string>
                <key>textureRect</key>
                <string>{{141,149},{93,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{154,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{215,131},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_50_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{269,99},{38,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{213,55},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_50_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{215,199},{44,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,68}</string>
                <key>spriteSourceSize</key>
                <string>{40,68}</string>
                <key>textureRect</key>
                <string>{{263,139},{38,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{215,1},{52,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{291,179},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{299,1},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_50_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{269,55},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_50-uhd.png</string>
            <key>size</key>
            <string>{333,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f960c0474c9055a74daa0b32123f8b:ff646af8164f8367fa7dc1891a97b04f:7ff0a3f1210bf3f9f223764b1fcb07c3$</string>
            <key>textureFileName</key>
            <string>icons/spider_50-uhd.png</string>
        </dict>
    </dict>
</plist>
