<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_46_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{154,94}</string>
                <key>spriteSourceSize</key>
                <string>{156,104}</string>
                <key>textureRect</key>
                <string>{{1,105},{154,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{146,84}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{165,1},{146,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{119,58}</string>
                <key>spriteSourceSize</key>
                <string>{137,72}</string>
                <key>textureRect</key>
                <string>{{165,87},{119,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{162,102}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{85,201},{50,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_46_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{229,147},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{157,147},{58,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_46_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{42,76}</string>
                <key>textureRect</key>
                <string>{{151,207},{42,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_46_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{286,87},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{1,201},{50,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_46_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{292,189},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_46_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{275,157},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_46_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{227,207},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_46-uhd.png</string>
            <key>size</key>
            <string>{327,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f196f6377fa49383306e85c547dfe86:0031ad3b78726040f6b14159369fdf63:1c04fbeb999159a98ca504753f353883$</string>
            <key>textureFileName</key>
            <string>icons/spider_46-uhd.png</string>
        </dict>
    </dict>
</plist>
