<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_10_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{141,100}</string>
                <key>spriteSourceSize</key>
                <string>{161,116}</string>
                <key>textureRect</key>
                <string>{{229,2},{141,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,19}</string>
                <key>spriteSize</key>
                <string>{113,74}</string>
                <key>spriteSourceSize</key>
                <string>{157,112}</string>
                <key>textureRect</key>
                <string>{{2,2},{113,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_10_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0}</string>
                <key>spriteSize</key>
                <string>{47,12}</string>
                <key>spriteSourceSize</key>
                <string>{111,12}</string>
                <key>textureRect</key>
                <string>{{257,104},{47,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{149,108}</string>
                <key>spriteSourceSize</key>
                <string>{167,122}</string>
                <key>textureRect</key>
                <string>{{78,2},{149,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{542,2},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,42}</string>
                <key>textureRect</key>
                <string>{{229,104},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_10_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{58,78}</string>
                <key>textureRect</key>
                <string>{{432,2},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,78}</string>
                <key>textureRect</key>
                <string>{{490,2},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{429,88},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,86}</string>
                <key>textureRect</key>
                <string>{{372,2},{58,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{372,88},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{451,82},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_10_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{503,80},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_10-uhd.png</string>
            <key>size</key>
            <string>{592,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f60586dbe603b881aa6dbbd855efdcdc:c64423cdf5a8b4c6f16ede655688ef05:492244facb35aa434856716387c52026$</string>
            <key>textureFileName</key>
            <string>icons/spider_10-uhd.png</string>
        </dict>
    </dict>
</plist>
