<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_22_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{136,78}</string>
                <key>textureRect</key>
                <string>{{145,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{126,68}</string>
                <key>textureRect</key>
                <string>{{281,1},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{116,42}</string>
                <key>spriteSourceSize</key>
                <string>{124,66}</string>
                <key>textureRect</key>
                <string>{{159,81},{116,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{146,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{427,59},{48,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_22_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{479,1},{40,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_22_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{403,1},{56,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_22_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{44,80}</string>
                <key>textureRect</key>
                <string>{{497,43},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{34,72}</string>
                <key>textureRect</key>
                <string>{{1,89},{34,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_22_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{52,82}</string>
                <key>spriteSourceSize</key>
                <string>{52,88}</string>
                <key>textureRect</key>
                <string>{{343,71},{52,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_22_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{69,89},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,30}</string>
                <key>textureRect</key>
                <string>{{127,89},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_22_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{277,81},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_22-uhd.png</string>
            <key>size</key>
            <string>{542,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:432d6436c5a15e0926cb36c7bd010e77:8f81c70df13d336774e0a7cd44da3668:3968cca864faa5da26b25e872d4e7a0f$</string>
            <key>textureFileName</key>
            <string>icons/spider_22-uhd.png</string>
        </dict>
    </dict>
</plist>
