<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_33_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{121,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_33_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{111,92}</string>
                <key>spriteSourceSize</key>
                <string>{115,104}</string>
                <key>textureRect</key>
                <string>{{103,1},{111,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_33_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,18}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{507,1},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{129,108}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{197,1},{129,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{378,83},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_33_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{507,55},{32,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_33_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{454,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{42,82}</string>
                <key>textureRect</key>
                <string>{{378,1},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{32,74}</string>
                <key>spriteSourceSize</key>
                <string>{36,76}</string>
                <key>textureRect</key>
                <string>{{420,1},{32,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,92}</string>
                <key>textureRect</key>
                <string>{{328,1},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{507,89},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{328,93},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_33_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{442,77},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_33-uhd.png</string>
            <key>size</key>
            <string>{567,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:179931707b195ec7a2ef27404fed50bd:ff9c84b7bba5ade123093452118cd0c2:3077df92d5cd38f8d072a498327d0d94$</string>
            <key>textureFileName</key>
            <string>icons/spider_33-uhd.png</string>
        </dict>
    </dict>
</plist>
