<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_52_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{117,112}</string>
                <key>textureRect</key>
                <string>{{1,121},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,233},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,23}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{89,339},{35,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{123,118}</string>
                <key>spriteSourceSize</key>
                <string>{125,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{79,471},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{1,541},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{1,447},{56,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{48,78}</string>
                <key>spriteSourceSize</key>
                <string>{58,82}</string>
                <key>textureRect</key>
                <string>{{1,397},{48,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{81,397},{42,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{66,90}</string>
                <key>textureRect</key>
                <string>{{1,339},{56,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{1,505},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_52_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{89,541},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_52_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{45,541},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_52-uhd.png</string>
            <key>size</key>
            <string>{128,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:301161fc3ac86825adbe858ef60aec0a:8f43b5b10467b6a19e527983310fabf2:674d023e8efd371f3f52ee21b1ebb802$</string>
            <key>textureFileName</key>
            <string>icons/spider_52-uhd.png</string>
        </dict>
    </dict>
</plist>
