<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_63_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{111,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,98}</string>
                <key>textureRect</key>
                <string>{{2,108},{111,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{90,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{2,206},{90,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{70,44}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{2,386},{70,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{119,104}</string>
                <key>spriteSourceSize</key>
                <string>{125,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{119,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{74,410},{42,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,54}</string>
                <key>textureRect</key>
                <string>{{94,230},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{2,334},{50,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{52,74}</string>
                <key>textureRect</key>
                <string>{{76,334},{46,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{94,206},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,82}</string>
                <key>textureRect</key>
                <string>{{2,276},{56,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{86,276},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_63_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{115,108},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_63_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{2,432},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_63-uhd.png</string>
            <key>size</key>
            <string>{124,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e50ec0c1d4e23e27f8000caea08432:d906fd33916faa7673db37691060da63:79b9c6920a064227429870c59af6a8aa$</string>
            <key>textureFileName</key>
            <string>icons/spider_63-uhd.png</string>
        </dict>
    </dict>
</plist>
