<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_07_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{133,106}</string>
                <key>spriteSourceSize</key>
                <string>{141,114}</string>
                <key>textureRect</key>
                <string>{{145,2},{133,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_07_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{101,70}</string>
                <key>spriteSourceSize</key>
                <string>{113,74}</string>
                <key>textureRect</key>
                <string>{{92,137},{101,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{75,88}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{2,118},{75,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_07_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{141,114}</string>
                <key>spriteSourceSize</key>
                <string>{149,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{141,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{72,209},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_07_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-21}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{92,118},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{195,137},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{195,203},{50,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_07_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-26}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,78}</string>
                <key>textureRect</key>
                <string>{{128,209},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{2,195},{58,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{128,118},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{128,118},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{128,118},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_07-uhd.png</string>
            <key>size</key>
            <string>{257,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21ad3d0a80b83a0f26a3183677cc5277:5bb1c602aed2ba5ab789c6e8ec91d51f:d57d68940c45278817365322081bc355$</string>
            <key>textureFileName</key>
            <string>icons/spider_07-uhd.png</string>
        </dict>
    </dict>
</plist>
