<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_03_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{107,108}</string>
                <key>spriteSourceSize</key>
                <string>{121,118}</string>
                <key>textureRect</key>
                <string>{{2,120},{107,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,8}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,50}</string>
                <key>textureRect</key>
                <string>{{78,340},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_03_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,24}</string>
                <key>spriteSize</key>
                <string>{89,60}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{2,229},{89,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_03_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,126}</string>
                <key>textureRect</key>
                <string>{{2,2},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{2,380},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{93,229},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_03_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{46,433},{52,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{2,340},{38,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,14}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,54}</string>
                <key>textureRect</key>
                <string>{{93,251},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{2,291},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{78,376},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{112,120},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{2,433},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_03-uhd.png</string>
            <key>size</key>
            <string>{119,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a27bda59d98a518cb7289d5bf57dc9:b01690e83f9bd587ef235f5bc89948f0:7ba1b4cebb558603a0912619b356fb42$</string>
            <key>textureFileName</key>
            <string>icons/spider_03-uhd.png</string>
        </dict>
    </dict>
</plist>
