<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_51_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{119,104}</string>
                <key>spriteSourceSize</key>
                <string>{129,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{111,96}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{1,236},{111,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{94,74}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,334},{94,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{127,112}</string>
                <key>spriteSourceSize</key>
                <string>{137,112}</string>
                <key>textureRect</key>
                <string>{{1,107},{127,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{77,545},{40,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{34,60}</string>
                <key>textureRect</key>
                <string>{{1,556},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{1,506},{48,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,78}</string>
                <key>textureRect</key>
                <string>{{1,462},{42,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{87,410},{36,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{1,410},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{37,556},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_51_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{97,334},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_51_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{79,480},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_51-uhd.png</string>
            <key>size</key>
            <string>{127,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c731a7874a956397f094d85c8ae432:546d92b078bcc6dc08973f7ca03a2322:274a6f270b17491a06b01917fb008394$</string>
            <key>textureFileName</key>
            <string>icons/spider_51-uhd.png</string>
        </dict>
    </dict>
</plist>
