<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_32_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{153,90}</string>
                <key>spriteSourceSize</key>
                <string>{169,98}</string>
                <key>textureRect</key>
                <string>{{164,1},{153,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{147,84}</string>
                <key>spriteSourceSize</key>
                <string>{163,90}</string>
                <key>textureRect</key>
                <string>{{319,1},{147,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,27}</string>
                <key>spriteSize</key>
                <string>{143,34}</string>
                <key>spriteSourceSize</key>
                <string>{159,88}</string>
                <key>textureRect</key>
                <string>{{164,93},{143,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{161,100}</string>
                <key>spriteSourceSize</key>
                <string>{177,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{544,73},{50,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_32_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{610,66},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{520,1},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,74}</string>
                <key>spriteSourceSize</key>
                <string>{42,76}</string>
                <key>textureRect</key>
                <string>{{468,85},{42,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_32_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,68}</string>
                <key>textureRect</key>
                <string>{{366,87},{36,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_32_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{468,1},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{309,93},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{436,87},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_32_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{580,1},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_32-uhd.png</string>
            <key>size</key>
            <string>{655,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea32740e4141926676125a0b98a2571:8bb192612b8d9088d34dde5983e883c8:e89ea96350c4f83e95c2af47d8053d44$</string>
            <key>textureFileName</key>
            <string>icons/spider_32-uhd.png</string>
        </dict>
    </dict>
</plist>
