<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_18_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{164,108}</string>
                <key>textureRect</key>
                <string>{{119,1},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{146,98}</string>
                <key>textureRect</key>
                <string>{{1,161},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,6}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,96}</string>
                <key>textureRect</key>
                <string>{{133,159},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{158,116}</string>
                <key>spriteSourceSize</key>
                <string>{174,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_18_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{225,165},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{263,111},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,68}</string>
                <key>textureRect</key>
                <string>{{119,111},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_18_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,68}</string>
                <key>textureRect</key>
                <string>{{179,165},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{263,111},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{187,111},{52,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_18_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{263,117},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{263,111},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{263,117},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_18-uhd.png</string>
            <key>size</key>
            <string>{268,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6118d887f9da1f6a8cd5d4029aee0e:5e2d02e8e5ce3e118ea0a2e20cb1106a:d52d186613400a0f4f14a1b0f4d24b04$</string>
            <key>textureFileName</key>
            <string>icons/spider_18-uhd.png</string>
        </dict>
    </dict>
</plist>
