<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,78}</string>
                <key>spriteSourceSize</key>
                <string>{118,78}</string>
                <key>textureRect</key>
                <string>{{130,2},{118,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,6}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{87,50}</string>
                <key>textureRect</key>
                <string>{{195,82},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,6}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{85,48}</string>
                <key>textureRect</key>
                <string>{{59,90},{35,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,86}</string>
                <key>spriteSourceSize</key>
                <string>{126,86}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{250,56},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{296,56},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{250,2},{52,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{296,86},{38,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{296,56},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{322,2},{47,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{2,90},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_01_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{296,56},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{130,82},{63,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_01-uhd.png</string>
            <key>size</key>
            <string>{372,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26ad1b002a1179aa4e8d24e3d37ea31:9f4c974a3381a94dc57250e5cb22c400:7fceb51fcd28e54d8c52d3a9312474f7$</string>
            <key>textureFileName</key>
            <string>icons/spider_01-uhd.png</string>
        </dict>
    </dict>
</plist>
