<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_24_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{121,94}</string>
                <key>spriteSourceSize</key>
                <string>{123,100}</string>
                <key>textureRect</key>
                <string>{{1,105},{121,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,82}</string>
                <key>spriteSourceSize</key>
                <string>{113,82}</string>
                <key>textureRect</key>
                <string>{{132,1},{113,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,11}</string>
                <key>spriteSize</key>
                <string>{37,60}</string>
                <key>spriteSourceSize</key>
                <string>{77,82}</string>
                <key>textureRect</key>
                <string>{{208,150},{37,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{129,102}</string>
                <key>spriteSourceSize</key>
                <string>{131,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{85,201},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{174,123},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{124,123},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{36,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,78}</string>
                <key>textureRect</key>
                <string>{{132,85},{36,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{30,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,70}</string>
                <key>textureRect</key>
                <string>{{185,212},{30,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{44,82}</string>
                <key>spriteSourceSize</key>
                <string>{46,86}</string>
                <key>textureRect</key>
                <string>{{1,201},{44,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{149,197},{55,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_24_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{124,105},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_24_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,42}</string>
                <key>spriteSourceSize</key>
                <string>{63,42}</string>
                <key>textureRect</key>
                <string>{{208,85},{63,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_24-uhd.png</string>
            <key>size</key>
            <string>{251,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1efb88f8c22a66c9795ab672d20c0d:8e924901d33e2999da834c8e0367ad5d:86f368f7f4d2462fd1cf9edf5779b543$</string>
            <key>textureFileName</key>
            <string>icons/spider_24-uhd.png</string>
        </dict>
    </dict>
</plist>
