<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{1,135},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{1,377},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_02_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,114}</string>
                <key>textureRect</key>
                <string>{{1,261},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{146,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_02-uhd.png</string>
            <key>size</key>
            <string>{144,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f334b7a7be54cd0a2ccfc09354a8ba7e:02c2b98b12eb6e0a2dc9a7d1c6969687:a315195083ea0c5871897411a59b30d9$</string>
            <key>textureFileName</key>
            <string>icons/swing_02-uhd.png</string>
        </dict>
    </dict>
</plist>
