<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_41_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{154,130}</string>
                <key>textureRect</key>
                <string>{{142,2},{144,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_41_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{146,122}</string>
                <key>textureRect</key>
                <string>{{274,2},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_41_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{88,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,110}</string>
                <key>textureRect</key>
                <string>{{274,126},{88,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_41_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{152,138}</string>
                <key>spriteSourceSize</key>
                <string>{162,138}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_41-uhd.png</string>
            <key>size</key>
            <string>{410,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967bdd6bb2e849e9c664b95dad237770:8cdac80a6c1531b7dc53df8ad3e81d1d:eacc9dcbe002154c93fa48c225bbd429$</string>
            <key>textureFileName</key>
            <string>icons/swing_41-uhd.png</string>
        </dict>
    </dict>
</plist>
