<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{134,144}</string>
                <key>spriteSourceSize</key>
                <string>{142,148}</string>
                <key>textureRect</key>
                <string>{{145,1},{134,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_23_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,138}</string>
                <key>textureRect</key>
                <string>{{281,1},{126,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_23_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,134}</string>
                <key>textureRect</key>
                <string>{{281,137},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_23_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_23-uhd.png</string>
            <key>size</key>
            <string>{408,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46cd39809cf0b9d3f18e88211ce4d437:43c8a3f283e584bede9ddaf2a1bb7a31:fc9dbe8219bf60eb1fa6d413fd6f86a1$</string>
            <key>textureFileName</key>
            <string>icons/swing_23-uhd.png</string>
        </dict>
    </dict>
</plist>
