<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{132,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{132,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,0}</string>
                <key>spriteSize</key>
                <string>{40,114}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{143,1},{40,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,7}</string>
                <key>spriteSize</key>
                <string>{87,96}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{135,133},{87,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{144,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_32-uhd.png</string>
            <key>size</key>
            <string>{223,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c345c9d11d47aad5659dfc1d96791a3:9a27bc47bd01ddc12579f49e17173ac9:14891d5e14be3b1fa42e1f97052f9d5c$</string>
            <key>textureFileName</key>
            <string>icons/swing_32-uhd.png</string>
        </dict>
    </dict>
</plist>
