<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,118}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{130,2},{144,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_34_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{122,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{250,2},{122,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_34_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,26}</string>
                <key>spriteSize</key>
                <string>{116,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{250,114},{116,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_34_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,126}</string>
                <key>spriteSourceSize</key>
                <string>{152,126}</string>
                <key>textureRect</key>
                <string>{{2,2},{150,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_34-uhd.png</string>
            <key>size</key>
            <string>{374,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:152ab6e34f8853ba7abf1229958e93fe:1a6924ec890f0edbf7a3b0cc768acdb1:bd54f079d6a784fe49a31cefa42f4126$</string>
            <key>textureFileName</key>
            <string>icons/swing_34-uhd.png</string>
        </dict>
    </dict>
</plist>
