<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_40_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{144,122}</string>
                <key>textureRect</key>
                <string>{{2,134},{136,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_40_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{114,100}</string>
                <key>textureRect</key>
                <string>{{140,134},{112,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_40_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,106}</string>
                <key>textureRect</key>
                <string>{{148,2},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_40_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{152,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_40-uhd.png</string>
            <key>size</key>
            <string>{242,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1af9ffd50b672edf355318cf0ee71825:f79e8130fff79de2b0efeaa2b29f0c29:15c67ddad143f4fdb8f2cc22187355e3$</string>
            <key>textureFileName</key>
            <string>icons/swing_40-uhd.png</string>
        </dict>
    </dict>
</plist>
