<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{192,134}</string>
                <key>textureRect</key>
                <string>{{145,1},{160,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_19_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{144,126}</string>
                <key>spriteSourceSize</key>
                <string>{166,126}</string>
                <key>textureRect</key>
                <string>{{281,1},{144,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_19_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{83,124}</string>
                <key>spriteSourceSize</key>
                <string>{113,124}</string>
                <key>textureRect</key>
                <string>{{281,129},{83,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_19_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{168,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_19-uhd.png</string>
            <key>size</key>
            <string>{426,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a4bf485cbdd5905a6136cfeb91cb48:971098a1cad8f483bd2c56cf8aba8a7e:373499e330e0914e4acc6d0219152e2c$</string>
            <key>textureFileName</key>
            <string>icons/swing_19-uhd.png</string>
        </dict>
    </dict>
</plist>
