<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_35_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{142,124}</string>
                <key>textureRect</key>
                <string>{{2,136},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_35_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{2,262},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_35_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,11}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{118,262},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_35_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{140,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_35-uhd.png</string>
            <key>size</key>
            <string>{150,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81ab5192b1f0e1c6c8bf25297058bace:53247edfb664a621f1e7b6c966f101bb:a0073881616a099cf52dab96c48f7756$</string>
            <key>textureFileName</key>
            <string>icons/swing_35-uhd.png</string>
        </dict>
    </dict>
</plist>
