<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_16_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,134}</string>
                <key>textureRect</key>
                <string>{{143,1},{132,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_16_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{134,126}</string>
                <key>textureRect</key>
                <string>{{273,1},{124,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_16_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,12}</string>
                <key>spriteSize</key>
                <string>{67,100}</string>
                <key>spriteSourceSize</key>
                <string>{107,124}</string>
                <key>textureRect</key>
                <string>{{397,1},{67,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_16_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_16-uhd.png</string>
            <key>size</key>
            <string>{465,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3fe3d5346c3ff21f80085d701dba2c:a3e71feb4864a62716b53aca537ebe20:cb7eb874234a032b544aaef7d9792481$</string>
            <key>textureFileName</key>
            <string>icons/swing_16-uhd.png</string>
        </dict>
    </dict>
</plist>
