<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{152,154}</string>
                <key>textureRect</key>
                <string>{{1,149},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_10_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,144}</string>
                <key>textureRect</key>
                <string>{{1,289},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_10_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,13}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,142}</string>
                <key>textureRect</key>
                <string>{{1,419},{90,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_10_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{160,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_10-uhd.png</string>
            <key>size</key>
            <string>{148,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7417a4de9263309bf9bfa94dfe51946c:c7bd0eeae896f8897cd7373c51cb58de:174be4237c96b7e69191176af2aed4d3$</string>
            <key>textureFileName</key>
            <string>icons/swing_10-uhd.png</string>
        </dict>
    </dict>
</plist>
