<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_18_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,114}</string>
                <key>textureRect</key>
                <string>{{137,133},{126,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_18_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,32}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,112}</string>
                <key>textureRect</key>
                <string>{{145,1},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_18_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{142,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_18-uhd.png</string>
            <key>size</key>
            <string>{252,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032ca5e282bbb1837c1b8181e460ff5e:45462266407a9f397a4e0da19523de1d:538b3020b5fcb41e303b16c2ba8c6a78$</string>
            <key>textureFileName</key>
            <string>icons/swing_18-uhd.png</string>
        </dict>
    </dict>
</plist>
