<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,124}</string>
                <key>textureRect</key>
                <string>{{2,136},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_36_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{132,110}</string>
                <key>textureRect</key>
                <string>{{138,136},{114,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_36_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{118,104}</string>
                <key>textureRect</key>
                <string>{{146,2},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_36_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{152,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_36-uhd.png</string>
            <key>size</key>
            <string>{250,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c35e6dcff04caac5e9694d9249572471:3e4f322be35bf3e42f23f244d6384072:6766ac7008679281cffbf231978fa0fd$</string>
            <key>textureFileName</key>
            <string>icons/swing_36-uhd.png</string>
        </dict>
    </dict>
</plist>
