<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{138,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{149,1},{138,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_28_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{289,1},{130,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_28_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{98,72}</string>
                <key>textureRect</key>
                <string>{{421,1},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_28_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{146,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_28-uhd.png</string>
            <key>size</key>
            <string>{490,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ed6d84b8779da07b4a2b54370cf335:c4023df99e9ffcc04edbe8eaa9742b4a:a35ce43cb8a842aa98bbd838cfdc532d$</string>
            <key>textureFileName</key>
            <string>icons/swing_28-uhd.png</string>
        </dict>
    </dict>
</plist>
