<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,122}</string>
                <key>textureRect</key>
                <string>{{267,1},{140,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_29_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{151,1},{126,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_29_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,13}</string>
                <key>spriteSize</key>
                <string>{86,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,74}</string>
                <key>textureRect</key>
                <string>{{409,1},{86,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_29_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{148,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_29-uhd.png</string>
            <key>size</key>
            <string>{458,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f69e68de35cf35d2818e44cb199066e8:809f28ae8fe41c2090f49ae85e766981:91f53622724eb8e98ad645815922b784$</string>
            <key>textureFileName</key>
            <string>icons/swing_29-uhd.png</string>
        </dict>
    </dict>
</plist>
