<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{142,120}</string>
                <key>textureRect</key>
                <string>{{131,1},{134,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_13_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{136,112}</string>
                <key>textureRect</key>
                <string>{{131,137},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_13_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{1,145},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_13_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{142,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_13-uhd.png</string>
            <key>size</key>
            <string>{258,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33a2e2696d78fb158990e9368dc98926:97fa789f5da927eafa639f3c76339f73:b42cb8c571f555d3ccdee6f44b61df33$</string>
            <key>textureFileName</key>
            <string>icons/swing_13-uhd.png</string>
        </dict>
    </dict>
</plist>
