<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_42_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{146,142}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{2,154},{146,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_42_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{2,298},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_42_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,25}</string>
                <key>spriteSize</key>
                <string>{126,100}</string>
                <key>spriteSourceSize</key>
                <string>{134,150}</string>
                <key>textureRect</key>
                <string>{{2,402},{126,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_42_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{154,150}</string>
                <key>spriteSourceSize</key>
                <string>{164,160}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_42-uhd.png</string>
            <key>size</key>
            <string>{158,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41e77c1a17d2c217866835ae17894edc:803749c20d91abca22e1faff5f2ab37c:926043a1ef472e56bc44652545b3a673$</string>
            <key>textureFileName</key>
            <string>icons/swing_42-uhd.png</string>
        </dict>
    </dict>
</plist>
