<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{142,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{1,153},{142,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_30_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{124,100}</string>
                <key>spriteSourceSize</key>
                <string>{132,100}</string>
                <key>textureRect</key>
                <string>{{145,137},{124,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_30_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,112}</string>
                <key>spriteSourceSize</key>
                <string>{136,112}</string>
                <key>textureRect</key>
                <string>{{131,1},{134,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_30_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_30-uhd.png</string>
            <key>size</key>
            <string>{246,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25727013d5b76f73157cce043b1dd37c:ce1530535d788728d86c4d5ae0d5c14c:1b2a6deadaf5b7840cf73370c7b1487e$</string>
            <key>textureFileName</key>
            <string>icons/swing_30-uhd.png</string>
        </dict>
    </dict>
</plist>
