<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{144,140}</string>
                <key>textureRect</key>
                <string>{{153,1},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_27_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{297,1},{128,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_27_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,13}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{82,60}</string>
                <key>textureRect</key>
                <string>{{423,1},{44,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_27_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{152,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_27-uhd.png</string>
            <key>size</key>
            <string>{458,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbfcb7b38fefc5a4370a2790c92ecb2c:ee7e2b557ac6c92ebb6f05a672ad3e52:e30641cb82d233fefb4e9f9e80f9f882$</string>
            <key>textureFileName</key>
            <string>icons/swing_27-uhd.png</string>
        </dict>
    </dict>
</plist>
