<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,122}</string>
                <key>textureRect</key>
                <string>{{117,133},{136,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,114}</string>
                <key>textureRect</key>
                <string>{{1,133},{126,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_11_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,112}</string>
                <key>textureRect</key>
                <string>{{147,1},{108,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_11-uhd.png</string>
            <key>size</key>
            <string>{254,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b8f1bbe2a9751153d86fc93241d7e0:f7f2db32134d6fa12771acc314c3d568:4293d0a2ee570313e2b58e9f077d538e$</string>
            <key>textureFileName</key>
            <string>icons/swing_11-uhd.png</string>
        </dict>
    </dict>
</plist>
