<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{164,150}</string>
                <key>spriteSourceSize</key>
                <string>{164,162}</string>
                <key>textureRect</key>
                <string>{{1,161},{164,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_07_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{148,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,154}</string>
                <key>textureRect</key>
                <string>{{1,437},{148,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_07_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{160,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,122}</string>
                <key>textureRect</key>
                <string>{{1,313},{160,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_07_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{172,158}</string>
                <key>spriteSourceSize</key>
                <string>{172,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_07-uhd.png</string>
            <key>size</key>
            <string>{174,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9690cfb5ba05f1b43a0282f3f226d30e:5f3a9e954395a8970709714b3971fa87:7f5461084e9c42d2173ad001bd25b0ed$</string>
            <key>textureFileName</key>
            <string>icons/swing_07-uhd.png</string>
        </dict>
    </dict>
</plist>
