<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{142,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_05_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,96}</string>
                <key>textureRect</key>
                <string>{{137,131},{102,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_05_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{145,1},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_05_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{142,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_05-uhd.png</string>
            <key>size</key>
            <string>{232,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d0224b37cf0b73e2cdc879eb3fe67d:547f9388e76ae4f93f0e1aa5c2bf1c9d:217f16b3dda520c314377e7bd0c7d3ac$</string>
            <key>textureFileName</key>
            <string>icons/swing_05-uhd.png</string>
        </dict>
    </dict>
</plist>
