<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_37_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,124}</string>
                <key>textureRect</key>
                <string>{{136,2},{132,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_37_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{136,136},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_37_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{2,144},{98,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_37_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{140,132}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_37-uhd.png</string>
            <key>size</key>
            <string>{262,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10eb4fbb30452ae8f967afc172295a13:a5952b127309bf10c462aca3f653033c:8ea4e2f6e176fa9523650ace4d215e17$</string>
            <key>textureFileName</key>
            <string>icons/swing_37-uhd.png</string>
        </dict>
    </dict>
</plist>
