<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_26_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{1,131},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_26_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,3}</string>
                <key>spriteSize</key>
                <string>{44,102}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{145,1},{44,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_26_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{137,131},{54,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_26_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{142,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_26-uhd.png</string>
            <key>size</key>
            <string>{190,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26492d0a738880c8b1c69401f7d9e7b9:998ad2d8ec206c5addf2587a292f54a7:dc107949157fc9cc26e158f68f36ceb8$</string>
            <key>textureFileName</key>
            <string>icons/swing_26-uhd.png</string>
        </dict>
    </dict>
</plist>
