<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{132,122}</string>
                <key>spriteSourceSize</key>
                <string>{144,122}</string>
                <key>textureRect</key>
                <string>{{133,1},{132,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_17_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{138,114}</string>
                <key>textureRect</key>
                <string>{{133,135},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_17_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,112}</string>
                <key>textureRect</key>
                <string>{{1,143},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_17_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{152,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_17-uhd.png</string>
            <key>size</key>
            <string>{260,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1e9c88d3718d929a5c94577b0aaf98:5dc32e344a51bce367467924e73f673c:141ccd69ff156ff7f4ecbe879e02add1$</string>
            <key>textureFileName</key>
            <string>icons/swing_17-uhd.png</string>
        </dict>
    </dict>
</plist>
