<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{140,122}</string>
                <key>spriteSourceSize</key>
                <string>{158,122}</string>
                <key>textureRect</key>
                <string>{{1,131},{140,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{124,92}</string>
                <key>spriteSourceSize</key>
                <string>{136,112}</string>
                <key>textureRect</key>
                <string>{{151,1},{124,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_04_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{122,104}</string>
                <key>spriteSourceSize</key>
                <string>{134,108}</string>
                <key>textureRect</key>
                <string>{{143,131},{122,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{148,128}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_04-uhd.png</string>
            <key>size</key>
            <string>{248,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9933679ef5056c905998ce84a504fa:f234a8efa24ee8431ab15f62dcd1f0f7:a17aa350418415a0b74e7fd5273c48f8$</string>
            <key>textureFileName</key>
            <string>icons/swing_04-uhd.png</string>
        </dict>
    </dict>
</plist>
