<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_39_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{148,122}</string>
                <key>textureRect</key>
                <string>{{134,2},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_39_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{136,110}</string>
                <key>textureRect</key>
                <string>{{134,140},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_39_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,0}</string>
                <key>spriteSize</key>
                <string>{56,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{2,148},{56,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_39_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{156,130}</string>
                <key>textureRect</key>
                <string>{{2,2},{144,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_39-uhd.png</string>
            <key>size</key>
            <string>{258,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc8f25b7474115d6ee6daed48ee04203:30826e6ac03985f191add6c443a5cdc2:9e47625a79fdc02313cf99c8232d9d0c$</string>
            <key>textureFileName</key>
            <string>icons/swing_39-uhd.png</string>
        </dict>
    </dict>
</plist>
