<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{142,122}</string>
                <key>spriteSourceSize</key>
                <string>{158,122}</string>
                <key>textureRect</key>
                <string>{{1,133},{142,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{142,110}</string>
                <key>textureRect</key>
                <string>{{145,133},{128,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_03_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,92}</string>
                <key>textureRect</key>
                <string>{{153,1},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{166,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_03-uhd.png</string>
            <key>size</key>
            <string>{256,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e62073f10b43a4ca0b158850e4aa757:fbfb8fd1da69349757a1017a90a21689:f6ce5ac692376e126bb02c1a579de434$</string>
            <key>textureFileName</key>
            <string>icons/swing_03-uhd.png</string>
        </dict>
    </dict>
</plist>
